Repository kubernetes/community, pull requests merged in 2018-12, with the labels that each got.

#2993 Update implementation history, add @tpepper comments
  keps/sig-testing/0028-20180625-new-label-for-trusted-pr-identification.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, size/S

#2991 adding historical notes for 2014 contributor summit
  events/2014/contributor-conference/README.md
  hack/.spelling_failures
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#3003 Fix some typos in Figure Github workflow
  contributors/guide/git_workflow.png
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#3005 Last minute title changes
  events/2018/12-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3007 Rename KEP BOF, bring back better Networking session title
  events/2018/12-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3009 Remove markdown schedule and just point to sched.org
  events/2018/12-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#2744 Add SIG Network charter
  sig-network/charter.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/network, size/M

#2944 Big Data SIG changed meeting frequency to biweekly
  sig-big-data/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/big-data, size/XS

#3010 fix a changed url in contributors/devel/testing.md
  contributors/devel/testing.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#3012 Link to CoCC from our CoC page
  code-of-conduct.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2927 Create api-machinery charter.md
  sig-api-machinery/charter.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, ok-to-test, sig/api-machinery, size/M

#3015 Updating the sig-windows lead info and recording URL
  sig-list.md
  sig-windows/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/windows, size/S

#3016 Change devel guide glog references to klog
  contributors/devel/logging.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#2425 SIG Autoscaling Charter and sigs.yaml updates
  sig-autoscaling/README.md
  sig-autoscaling/charter.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/api-machinery, sig/autoscaling, sig/instrumentation, sig/network, size/M

#3022 Update contrib summit hotel reg locations.
  events/2018/12-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3027 Update thresholds.md
  sig-scalability/configs-and-limits/thresholds.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/XS

#3024 Typo fix: plan->plane
  sig-scalability/configs-and-limits/provider-configs.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/XS

#3031 HPA v2 API extension proposal | Dead link replaced
  contributors/design-proposals/instrumentation/external-metrics-api.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, needs-ok-to-test, sig/instrumentation, size/XS

#3030 Update my email address
  communication/moderation.md
  sig-governance.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3034 Typo fixes in device-plugin.md
  contributors/design-proposals/resource-management/device-plugin.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, needs-ok-to-test, size/XS

#3040 Update feature gate and alpha field guidance
  contributors/devel/api_changes.md
Labels: approved, cncf-cla: yes, kind/api-change, lgtm, sig/architecture, size/S

#3042 Update upcoming meeting dates
  sig-scalability/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/S

#3017 sig-scalability chair change
  OWNERS_ALIASES
  sig-list.md
  sig-scalability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/S

#3049 Add a bit more on conditions
  contributors/devel/api-conventions.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#3047 Update sig scalability readme
  sig-scalability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/M

#3033 Add a number of repos to k/community
  sig-api-machinery/README.md
  sig-architecture/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-instrumentation/README.md
  sig-node/README.md
  sig-storage/README.md
  sig-windows/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, sig/architecture, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, sig/node, sig/storage, sig/windows, size/M

#2986 DNS latency SLI
  sig-scalability/slos/dns_latency.md
  sig-scalability/slos/slos.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/M

#3050 Update SIG scalability subprojects
  sig-scalability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/M

#3055 Fix typo in instrumentation.md: "into" -> "in"
  contributors/devel/instrumentation.md
Labels: approved, cncf-cla: yes, lgtm, size/XS
