Repository kubernetes/community, pull requests merged in 2018-08, with the labels that each got.

#2447 Add OWNERS file for sig-ibmcloud
  sig-ibmcloud/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2445 keps/sig-cloud-provider: KEP number clean up
  keps/NEXT_KEP_NUMBER
  keps/sig-cloud-provider/0018-testgrid-conformance-e2e.md
  keps/sig-cloud-provider/0019-cloud-provider-documentation.md
  keps/sig-cloud-provider/providers/0020-cloud-provider-alibaba-cloud.md
  keps/sig-cloud-provider/providers/0021-cloud-provider-digitalocean.md
  keps/sig-cloud-provider/providers/0022-cloud-provider-baiducloud.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/cloud-provider, size/M

#2450 Fix broken link
  contributors/guide/owners.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2444 Remove disclaimer and do one more round of copyediting
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#2457 Archived community notes for q1 q2 2018
  community-notes/q1-2_2018_community_meeting_minutes.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XXL

#2458 Move community meeting notes and fix spelling
  communication/meeting-notes-archive/q1-2_2018_community_meeting_minutes.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#2438 Attacher/Detacher refactor for local storage
  contributors/design-proposals/storage/attacher-detacher-refactor-for-local-storage.md
Labels: approved, cncf-cla: yes, kind/design, kind/feature, lgtm, sig/storage, size/L

#2409 Updated federation meeting time to 7:30 PT.
  sig-list.md
  sig-multicluster/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/multicluster, size/XS

#2436 Form GitHub Administration Team
  github-management/OWNERS
  github-management/README.md
  github-management/permissions.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#2361 Add gcepd and filestore csi drivers to sig-gcp projects
  sig-gcp/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/gcp, size/S

#2428 Advocate for running conformance tests in multiple architectures
  contributors/devel/conformance-tests.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2468 Follow testing-common's frameworks repo move to kubernetes-sigs
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#2469 Add kubernetes/org to github-management subproject
  sig-contributor-experience/README.md
  sigs.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2480 Add contributor site to sigs.yaml
  sig-contributor-experience/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2420 KEP for CRD conversion webhook
  contributors/design-proposals/api-machinery/customresource-conversion-webhook.md
Labels: approved, cncf-cla: yes, kind/api-change, kind/design, kind/feature, lgtm, sig/api-machinery, size/XL

#2478 Various SIG-VMware amendments
  sig-list.md
  sig-vmware/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/vmware, size/S

#2481 github management: tweak repo removal language
  github-management/kubernetes-repositories.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#2460 Update CRI testing policy
  contributors/devel/cri-testing-policy.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#2482 Add/correct i18n subprojects for SIG Docs
  sig-docs/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#2448 [RuntimeClass] Add examples & alpha criteria, mark as implementable
  keps/sig-node/0014-runtime-class.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/node, size/M

#2483 Remove kubernetes-bootcamp subproject from sig-docs
  sig-docs/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#2451 Kubeadm configfile beta
  keps/NEXT_KEP_NUMBER
  keps/sig-cluster-lifecycle/0008-kubeadm-config-versioning.md
  keps/sig-cluster-lifecycle/0023-kubeadm-config-v1beta1.md
  keps/sig-cluster-lifecycle/0023-kubeadm-init.png
  keps/sig-cluster-lifecycle/0023-kubeadm-join.png
  keps/sig-cluster-lifecycle/0023-kubeadm-reset.png
  keps/sig-cluster-lifecycle/0023-kubeadm-upgrade-apply.png
  keps/sig-cluster-lifecycle/0023-kubeadm-upgrade-node.png
Labels: approved, cncf-cla: yes, kind/feature, lgtm, sig/architecture, sig/cluster-lifecycle, size/L

#2485 Add kubeadm-dind-cluster as a subproject of sig-cluster-lifecycle.
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#2488 Update SIG Cluster Lifecycle chairs
  OWNERS_ALIASES
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2494 Change forum KEP to implemented
  keps/sig-contributor-experience/0007-20180403-community-forum.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/contributor-experience, size/XS

#2416 Update volume scheduling design with event handling details.
  contributors/design-proposals/storage/volume-topology-scheduling.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/storage, size/M

#2449 Expand requirements for new cloud providers
  keps/sig-cloud-provider/providers/0004-cloud-provider-template.md
  keps/sig-cloud-provider/providers/0020-cloud-provider-alibaba-cloud.md
  keps/sig-cloud-provider/providers/0021-cloud-provider-digitalocean.md
  keps/sig-cloud-provider/providers/0022-cloud-provider-baiducloud.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/cloud-provider, size/M

#2498 add Code of Conduct Committee Members
  OWNERS_ALIASES
  committee-code-of-conduct/OWNERS
  committee-code-of-conduct/README.md
Labels: approved, cncf-cla: yes, committee/conduct, committee/steering, lgtm, size/S

#2499 added architecture tracking to sigs.yaml
  sig-architecture/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/architecture, size/XS

#2500 Remove github team google groups from SIG READMEs
  generator/sig_readme.tmpl
  sig-api-machinery/README.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-auth/README.md
  sig-autoscaling/README.md
  sig-aws/README.md
  sig-azure/README.md
  sig-big-data/README.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-contributor-experience/README.md
  sig-docs/README.md
  sig-gcp/README.md
  sig-ibmcloud/README.md
  sig-instrumentation/README.md
  sig-multicluster/README.md
  sig-network/README.md
  sig-node/README.md
  sig-openstack/README.md
  sig-release/README.md
  sig-scalability/README.md
  sig-scheduling/README.md
  sig-service-catalog/README.md
  sig-storage/README.md
  sig-testing/README.md
  sig-vmware/README.md
  sig-windows/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, sig/apps, sig/architecture, sig/auth, sig/autoscaling, sig/aws, sig/azure, sig/big-data, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/contributor-experience, sig/docs, sig/gcp, sig/ibmcloud, sig/instrumentation, sig/multicluster, sig/network, sig/node, sig/openstack, sig/release, sig/scalability, sig/scheduling, sig/service-catalog, sig/storage, sig/testing, sig/vmware, sig/windows, size/L

#2446 Add some ideas for what a SIG Update should contain
  events/community-meeting.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2493 Add information on SLOs and how to open a request
  github-management/README.md
  github-management/opening-a-request.md
  github-management/org-owners-guide.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#2503 Move KEP 0018 to keps/sig-azure
  keps/sig-azure/0018-20180711-azure-availability-zones.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/azure, size/XS

#2508 Code of Conduct Commitee : fix typos
  committee-code-of-conduct/bootstrapping-process.md
Labels: approved, cncf-cla: yes, committee/conduct, lgtm, size/XS

#2502 committee-steering: remove sigs.yml link
  committee-steering/governance/sig-charter-template.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/XS

#2509 Fix wording nit in SLO doc
  github-management/opening-a-request.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2519 Add kubernetes-csi/* repos to sigs.yaml
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/S

#2486 Add a resources needed section to the KEP template
  keps/0000-kep-template.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#2527 explicit and clear about what majority means
  sig-service-catalog/charter.md
Labels: approved, cncf-cla: yes, lgtm, sig/service-catalog, size/XS

#2526 Ensure cloud-provider-foo subprojects have only one parent
  sig-cloud-provider/README.md
  sig-gcp/README.md
  sig-openstack/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/azure, sig/cloud-provider, sig/gcp, sig/openstack, size/S

#2529 Add Korean l10n repo owners for sig-docs
  sig-docs/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#2531 Fix doubled words
  contributors/design-proposals/auth/bound-service-account-tokens.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/auth, size/XS

#2535 Update reference to SIG Network in SIG Node Readme
  sig-node/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/node, size/XS

#2532 Start 2018 election process
  events/elections/2018/README.md
  events/elections/README.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#2545 Add sig-cli KEP OWNERS file
  keps/sig-cli/OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#2544 Updated sigs.yaml with new aws subproject details
  sig-aws/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/aws, size/S

#2540 Fix a typo in metrics-server.md
  contributors/design-proposals/instrumentation/metrics-server.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/instrumentation, size/XS

#2534 Update SIG Autoscaling in sigs.yaml
  sig-autoscaling/README.md
  sig-instrumentation/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/autoscaling, sig/instrumentation, size/M

#2548 improve conformance test document
  contributors/devel/conformance-tests.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2437 Add kubectl plugin mechanism KEP
  keps/NEXT_KEP_NUMBER
  keps/sig-cli/0024-kubectl-plugins.md
Labels: approved, cncf-cla: yes, kind/feature, lgtm, sig/architecture, sig/cli, size/L

#2550 Update README.md
  communication/README.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2521 Update community membership procedure
  community-membership.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#2501 Add cluster-api-provider-vsphere meeting
  sig-list.md
  sig-vmware/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/vmware, size/S

#2541 Prune sig-testing github teams
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#2538 Refering to OWNERS_ALIASES from the assigning bulletpoint
  contributors/guide/owners.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2558 Removing extra words (use)
  CLA.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2557 Update node-allocatable.md
  contributors/design-proposals/node/node-allocatable.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/node, size/XS

#2559 Copy-edit pass
  generator/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2511 Remove sig-auth custom content
  sig-auth/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/auth, size/S

#2520 Update KEP0015 kubeadm join --master
  keps/sig-cluster-lifecycle/0015-kubeadm-join-control-plane.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/cluster-lifecycle, size/L

#2547 Rewrite 2018 voting guideline
  events/elections/2018/README.md
  events/elections/README.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/L

#2563 *: fix "kubemark" OWNERS links
  sig-scalability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/XS

#2569 voters.md addition
  events/elections/2018/voters.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XL

#2564 Prune sig-cluster-lifecycle github teams
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#2570 fixing voters guide
  events/elections/2018/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2572 voters.md clean up
  events/elections/2018/voters.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XXL

#2571 Reflect changes in duties and add more detail to the election process
  events/elections/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2574 syntax fix for testing doc
  contributors/devel/testing.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2553 Move k/utils to sig-arch, add k/contrib to sig-arch
  sig-api-machinery/README.md
  sig-architecture/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, sig/architecture, sig/contributor-experience, size/S

#2369 Add plugin watcher design
  contributors/design-proposals/node/plugin-watcher.md
Labels: approved, area/contributor-guide, area/github-management, cncf-cla: yes, committee/steering, kind/design, lgtm, sig/api-machinery, sig/apps, sig/architecture, sig/auth, sig/autoscaling, sig/aws, sig/azure, sig/big-data, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/cluster-ops, sig/contributor-experience, sig/docs, sig/gcp, sig/ibmcloud, sig/instrumentation, sig/multicluster, sig/network, sig/node, sig/openstack, sig/pm, sig/release, sig/scalability, sig/scheduling, sig/service-catalog, sig/storage, sig/testing, sig/ui, sig/vmware, sig/windows, size/L, wg/app-def, wg/apply, wg/cluster-api, wg/container-identity, wg/iot-edge, wg/kubeadm-adoption, wg/multitenancy, wg/policy, wg/resource-management

#2513 Kubeadm configfile beta - add documentation for images
  keps/sig-cluster-lifecycle/0023-documentation-for-images.md
  keps/sig-cluster-lifecycle/0023-kubeadm-init.png
  keps/sig-cluster-lifecycle/0023-kubeadm-join.png
  keps/sig-cluster-lifecycle/0023-kubeadm-reset.png
  keps/sig-cluster-lifecycle/0023-kubeadm-upgrade-apply.png
  keps/sig-cluster-lifecycle/0023-kubeadm-upgrade-node.png
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/cluster-lifecycle, size/L

#2515 Move the ComponentConfig types to staging KEP to implementable
  keps/sig-cluster-lifecycle/0014-20180707-componentconfig-api-types-to-staging.md
Labels: approved, cncf-cla: yes, kind/api-change, lgtm, sig/api-machinery, sig/architecture, sig/cloud-provider, sig/cluster-lifecycle, sig/network, sig/node, sig/scheduling, size/M

#2275 Fixing cloud provider KEP.
  keps/sig-cloud-provider/0002-cloud-controller-manager.md
  keps/sig-cloud-provider/0013-build-deploy-ccm.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/cloud-provider, size/XL

#2575 Add a benefit for group mentoring
  mentoring/group-mentoring.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2568 Adding kube-storage-version-migrator repo
  sig-api-machinery/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#2576 Add link to the role board
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2579 Add a link to watch latency sli
  sig-scalability/slos/slos.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/XS

#2433 Adding API Review process and diagram
  sig-architecture/api-review-process.md
  sig-architecture/image_0.png
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/L

#2578 Corrected contributor guide readme
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2580 Add Japanese l10n repo owners for sig-docs
  sig-docs/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#2573 Change election email
  events/elections/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2581 Add kubernetes/csi-api to sigs.yaml
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#2582 Add kubernetes-sigs/contributor-playground to sigs.yaml
  sig-contributor-experience/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2461 SIG-storage charter
  sig-storage/README.md
  sig-storage/charter.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/storage, size/M

#1269 Use v1.Container in Debug Containers API
  contributors/design-proposals/node/troubleshoot-running-pods.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/auth, sig/node, size/XL

#2065 [RFC] SIG-Node initial charter
  sig-node/README.md
  sig-node/charter.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/node, size/L

#2551 Remove unnecessary discription of provider "local"
  contributors/devel/e2e-tests.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2495 Add data source for volume provisioning
  contributors/design-proposals/storage/data-source.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/storage, size/L

#2589 Fixes typo in group-mentee-guide.md
  mentoring/group-mentee-guide.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2590 Adds the 'trivial edit contribution policy' to contributors/guide/pull-requests.md
  contributors/guide/pull-requests.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2549 Update sigs.yaml with new sig-aws-leads
  OWNERS_ALIASES
  sig-aws/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/aws, size/S

#2591 Make SLOs page more clear
  sig-scalability/slos/api_call_latency.md
  sig-scalability/slos/api_extensions_latency.md
  sig-scalability/slos/pod_startup_latency.md
  sig-scalability/slos/slos.md
  sig-scalability/slos/system_throughput.md
  sig-scalability/slos/watch_latency.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/M

#2335 CSI snapshot design
  contributors/design-proposals/storage/csi-snapshot.md
  contributors/design-proposals/storage/csi-snapshot_diagram.png
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/storage, size/L

#2523 CSI: Skip attach/detach for non-attachable volumes
  contributors/design-proposals/storage/container-storage-interface-skip-attach.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/storage, size/M

#2266 sig-instrumentation: Add charter document
  sig-instrumentation/charter.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/instrumentation, size/M

#2453 First version of SIG CLI Charter
  sig-cli/charter.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/cli, size/M

#2452 Include out-of-tree provider examples to cloud provider docs KEP
  keps/sig-cloud-provider/0019-cloud-provider-documentation.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/cloud-provider, size/S

#2598 Adding more details into the non-code contributor guide roles
  contributors/guide/non-code-contributions.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#2604 Clarify some things in main slo page
  sig-scalability/slos/slos.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/S

#2603 delete a duplicate word --associated
  contributors/design-proposals/api-machinery/customresource-conversion-webhook.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/api-machinery, size/XS

#2606 generator: remove github team google groups note from all SIG READMEs
  generator/sig_readme.tmpl
  sig-api-machinery/README.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-auth/README.md
  sig-autoscaling/README.md
  sig-aws/README.md
  sig-azure/README.md
  sig-big-data/README.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-contributor-experience/README.md
  sig-docs/README.md
  sig-gcp/README.md
  sig-ibmcloud/README.md
  sig-instrumentation/README.md
  sig-multicluster/README.md
  sig-network/README.md
  sig-node/README.md
  sig-openstack/README.md
  sig-release/README.md
  sig-scalability/README.md
  sig-scheduling/README.md
  sig-service-catalog/README.md
  sig-storage/README.md
  sig-testing/README.md
  sig-vmware/README.md
  sig-windows/README.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/api-machinery, sig/apps, sig/architecture, sig/auth, sig/autoscaling, sig/aws, sig/azure, sig/big-data, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/contributor-experience, sig/docs, sig/gcp, sig/ibmcloud, sig/instrumentation, sig/multicluster, sig/network, sig/node, sig/openstack, sig/release, sig/scalability, sig/scheduling, sig/service-catalog, sig/storage, sig/testing, sig/vmware, sig/windows, size/L

#2588 Extending resource quota to support node labels
  keps/NEXT_KEP_NUMBER
  keps/sig-scheduling/node-labels-quota.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/L

#2566 Update release/PR/issue process documents in devel guide
  contributors/devel/pr_workflow.dia
  contributors/devel/pr_workflow.png
  contributors/devel/release-cycle.png
  contributors/devel/release-lifecycle.png
  contributors/devel/release.md
  contributors/guide/issue-triage.md
  contributors/guide/pull-requests.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/L

#2612 Add OWNERS files for 2018 election
  events/elections/2018/OWNERS
  events/elections/OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2610 Add my bio for 2018 election
  events/elections/2018/aaroncrickenberger.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#2607 README.md updated - slackarchive removed
  communication/README.md
  contributors/guide/issue-triage.md
  sig-governance.md
Labels: approved, area/community-management, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2149 SIG Scalability Charter
  sig-scalability/block_merges.md
  sig-scalability/charter.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/scalability, size/L

#2456 SIG Cluster Lifecycle Charter
  sig-cluster-lifecycle/charter.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/cluster-lifecycle, size/M

#2615 Fix conformance test instructions for building Ginkgo
  contributors/devel/conformance-tests.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2617 Fix scalability charter typos
  sig-scalability/charter.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/XS
