Repository kubernetes/community, pull requests merged in 2018-04, with the labels that each got.

#1996 Add section on the community meeting
  sig-contributor-experience/community-maintenance.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1958 Move KEP-5 to implementable
  keps/sig-contributor-experience/0005-contributor-site.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/contributor-experience, sig/docs, size/XS

#1993 update charter.md
  sig-contributor-experience/charter.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#1707 KEP kubeadm join --master workflow
  keps/sig-cluster-lifecycle/draft-20180130-kubeadm-join-master.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/cluster-lifecycle, size/L

#1983 Update sig.yaml with subprojects of SIG multicluster
  sig-multicluster/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/multicluster, size/S

#1860 Create projects.md
  sig-contributor-experience/projects.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#1998 fix grammar mistake
  community-membership.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2001 fix grammar mistake
  generator/app.go
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2003 Update contribex meeting to weekly
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#1790 add proposal to store additional metadata about rbd owner in rbd image
  contributors/design-proposals/storage/pv-to-rbd-mapping.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/storage, size/L

#1963 Update seccomp design doc to enable default seccomp profile
  contributors/design-proposals/node/seccomp.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/node, size/M

#2005 Update group-mentee-guide.md
  mentoring/group-mentee-guide.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2008 Fix a typo
  contributors/guide/community-expectations.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2009 Change 'Mac OS X' and 'OS X' to 'macOS'
  contributors/design-proposals/cluster-lifecycle/local-cluster-ux.md
  contributors/devel/development.md
  contributors/devel/testing.md
  contributors/guide/coding-conventions.md
Labels: approved, area/contributor-guide, cncf-cla: yes, kind/design, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/S

#2004 Append to ML WG organizers.
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-machine-learning/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#2016 fix AdmissionConfiguration yaml format
  contributors/design-proposals/scheduling/pod-priority-resourcequota.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/scheduling, size/S

#2021 Add sig lead list reference, update slack admin information
  sig-governance.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1986 Include more instructions on WG creation.
  governance.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#2019 Fix for duplicate title on Contributors guide README
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2024 update issue triage doc url
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1991 add KEP for pod ready++
  keps/sig-network/0007-pod-ready++.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/network, size/L

#2027 Add Briant Grant's Design Proposal on Kubernetes Resource Management
  contributors/design-proposals/architecture/images/apiserver.png
  contributors/design-proposals/architecture/resource-management.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/architecture, size/L

#2023 typo in scheduler alg doc
  contributors/devel/scheduler_algorithm.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2036 renamed sig-contributor-experience google group
  project-managers/README.md
  sig-contributor-experience/README.md
  sig-contributor-experience/charter.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2025 Remove SIG on-premise since its now a slack channel
  OWNERS_ALIASES
  archive/sig-on-premise/README.md
  sig-list.md
  sig-on-premise/OWNERS
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/onprem, size/M

#2046 Fix mistakes about the example of resource account for burstable pods and typo mistake
  contributors/design-proposals/node/pod-resource-management.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/node, size/XS

#2047 Add note on KUBE_TIMEOUT to resolve timeout panic
  contributors/devel/testing.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1987 Copying Brian Grant's article on declarative application management from Drive
  contributors/design-proposals/architecture/declarative-application-management.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/architecture, size/L

#2049 Add rules for donating repositories to kubernetes-sigs
  kubernetes-repositories.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/S

#2048 Add SIG IBMCloud
  OWNERS_ALIASES
  sig-ibmcloud/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#2044 add docs for mentorguidelines.md
  mentoring/mentor-guide.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#2041 add docs for The 1:1 Hour
  mentoring/the1-on-1hour.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#1970 Describe new labels in triage guidelines
  contributors/guide/issue-triage.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#290 Update kubectl rollout proposal to reflect current implementation
  contributors/design-proposals/apps/deploy.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/apps, size/M

#2056 Adding chair for SIG-Windows
  OWNERS_ALIASES
  sig-list.md
  sig-windows/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/windows, size/XS

#1460 proposal: bound service account tokens
  contributors/design-proposals/auth/bound-service-account-tokens.md
Labels: approved, cncf-cla: yes, kind/api-change, kind/design, lgtm, sig/auth, size/L

#1980 clarify some parts of the cherry pick process
  contributors/devel/cherry-picks.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#2011 KEP-0007 - Community forum
  keps/NEXT_KEP_NUMBER
  keps/sig-contributor-experience/0007-20180403-community-forum.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/contributor-experience, size/L

#2054 CRD versioning design proposal [No Conversion]
  contributors/design-proposals/api-machinery/customresources-versioning.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/api-machinery, size/L

#2053 docs for mentoring activities at events
  mentoring/mentoring-events.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2057 Update issue link for sig/storage
  sig-storage/contributing.md
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#2073 Fix typo in governance requirements doc
  committee-steering/governance/sig-governance-requirements.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/XS

#2075 projects.md: Typo
  sig-contributor-experience/projects.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2076 Fix typo in wg-machine-learning readme.
  wg-machine-learning/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2070 Update wg apply information with video conference URL
  sig-list.md
  sigs.yaml
  wg-apply/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2079 Add link to slack channel
  events/2018/05-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2087 Fix broken links in flexvolume guide
  contributors/devel/flexvolume.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2063 update aggregated-api-servers.md: fix a typo
  contributors/design-proposals/api-machinery/aggregated-api-servers.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/api-machinery, size/XS

#2080 Remove contributor page
  contributors/devel/coding-conventions.md
  contributors/devel/faster_reviews.md
  contributors/devel/go-code.md
  contributors/devel/owners.md
  contributors/devel/pull-requests.md
  contributors/devel/release/OWNERS
  contributors/devel/release/README.md
  contributors/devel/release/issues.md
  contributors/devel/release/patch-release-manager.md
  contributors/devel/release/patch_release.md
  contributors/devel/release/scalability-validation.md
  contributors/devel/release/testing.md
  contributors/devel/scalability-good-practices.md
  contributors/devel/security-release-process.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#2094 Typo fix: metada->metadata
  contributors/design-proposals/storage/pv-to-rbd-mapping.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/storage, size/XS

#2066 Adds new contributor playground [WIP]
  contributors/new-contributor-playground/OWNERS
  contributors/new-contributor-playground/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2095 Fix Greg's name
  sig-list.md
  sigs.yaml
  wg-container-identity/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2096 add info on joining Google Groups
  communication/README.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2098 fixing area label
  contributors/new-contributor-playground/README.md
Labels: approved, area/new-contributor-track, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS
