Repository kubernetes/community, pull requests merged in 2018-09, with the labels that each got.

#2621 remove URLS which can not accessed and were removed
  sig-api-machinery/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#2592 Update to add Cluster-API (AWS) Office hours meeting.
  OWNERS_ALIASES
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/M

#2625 sig-multicluster: Update readme to reflect current state of fedv2
  sig-multicluster/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/multicluster, size/XS

#2630 fix yaml formatting in kep 26 frontmatter
  keps/sig-apps/0026-ttl-after-finish.md
Labels: approved, cncf-cla: yes, lgtm, sig/apps, sig/architecture, size/XS

#2586 Introduce definition of network programming latency SLI
  sig-scalability/slos/network_programming_latency.md
  sig-scalability/slos/slos.md
Labels: approved, cncf-cla: yes, kind/api-change, kind/feature, lgtm, sig/network, sig/scalability, size/M

#2631 Add suggestions for Event-related contributions to the noncode guide
  contributors/guide/non-code-contributions.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2633 tpepper standing for steering election
  events/elections/2018/README.md
  events/elections/2018/timpepper.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#2639 Fix some markdown links in the mentoring directory
  mentoring/mentor-guide.md
  mentoring/the1-on-1hour.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2623 Follow up comments on sig scalability charter
  sig-scalability/block_merges.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/S

#2635 Fxing broken link
  contributors/design-proposals/autoscaling/vertical-pod-autoscaler.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/autoscaling, size/XS

#2577 Add repo for serverside apply test cases & code
  sig-api-machinery/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#2641 Update cri subprojects
  sig-node/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/node, size/S

#2647 Update sig-cli subprojects
  sig-cli/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cli, size/S

#2648 Match other staging repos, both OWNERS files listed
  sig-instrumentation/README.md
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, sig/storage, size/XS

#2373 Update wg-policy
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-policy/README.md
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/policy

#2645 Fixed typo in sig storage contributing docs
  sig-storage/contributing.md
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#2646 Update links of cri-tools
  contributors/devel/cri-testing-policy.md
  contributors/devel/cri-validation.md
  keps/sig-node/0014-runtime-class.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/node, size/S

#2642 Add bio for Quinton Hoole for 2018 steering committee election.
  events/elections/2018/README.md
  events/elections/2018/quintonhoole.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#2643 Fix broken url for rkt.
  contributors/design-proposals/architecture/architecture.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/architecture, size/XS, tide/squash

#2650 Add clarification to requesting Kubernetes org membership
  community-membership.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#1731 Flex deploy examples, and miscellaneous documentation updates.
  contributors/devel/flexvolume.md
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/M

#2300 add SIG VMware charter.md
  sig-vmware/charter.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/vmware, size/M

#2658 Add Nikhita's bio for 2018 Steering Committee Election
  events/elections/2018/README.md
  events/elections/2018/nikhitaraghunath.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#2632 Leadership changes for SIG CLI
  OWNERS_ALIASES
  sig-cli/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cli, size/M

#2664 Fix typo in CRD Conversion Webhook proposal
  contributors/design-proposals/api-machinery/customresource-conversion-webhook.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/api-machinery, size/XS

#2662 Add dims bio for 2018 election
  events/elections/2018/README.md
  events/elections/2018/davanumsrinivas.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#2629 Add sig retirement criteria (inactivity only)
  committee-steering/governance/sig-governance.md
Labels: approved, cncf-cla: yes, committee/steering, kind/documentation, lgtm, priority/important-soon, size/S

#2669 SCTP KEP document update
  keps/sig-network/0015-20180614-SCTP-support.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/network, size/XS

#2672 Create and start populating SEA Contrib Summit directory
  events/2018/12-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#2674 governance: remove note that SC is still being formed
  governance.md
Labels: approved, cncf-cla: yes, committee/steering, kind/cleanup, lgtm, size/XS

#2671 Adding krisnova.md for election
  events/elections/2018/README.md
  events/elections/2018/krisnova.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/S

#2673 timothysc bio for 2018 steering election
  events/elections/2018/README.md
  events/elections/2018/timothysc.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/S

#2679 Replace kubernetes-users mentions with new location
  communication/README.md
  contributors/guide/contributor-cheatsheet.md
  contributors/guide/issue-triage.md
  sig-governance.md
Labels: approved, area/community-management, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2676 adding more eligible voters
  events/elections/2018/voters.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/S

#2681 Add kind to sig-testing subprojects
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#2622 Proposal for Alibaba Cloud Provider repository
  keps/sig-cloud-provider/providers/0020-cloud-provider-alibaba-cloud.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/cloud-provider, size/S

#2683 Fix typo: improvment -> improvement
  keps/sig-node/0009-node-heartbeat.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/node, size/XS

#2684 Add meeting recordings for wg-multitenancy and fix charters
  sig-service-catalog/README.md
  sigs.yaml
  wg-app-def/README.md
  wg-multitenancy/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/service-catalog, size/S, wg/app-def, wg/multitenancy

#2685 Add kubernetes-sigs/sig-storage-lib-external-provisioner
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#2687 Add new repos to kubernetes-csi subproject
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/S

#2690 Clarify that the ballot doesn't come from the steering committee
  events/elections/README.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/XS

#2691 Update kubernetes-repositories.md
  github-management/kubernetes-repositories.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2656 update sig-auth mission statement for vernacular readers
  sig-auth/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, kind/api-change, lgtm, sig/auth, size/XS

#2506 Fix typo in resource-qos.md
  contributors/design-proposals/node/resource-qos.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/node, size/XS

#2693 devel guide: note where to track flaky tests
  contributors/devel/flaky-tests.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#2462 Add a charter for SIG Scheduling
  sig-scheduling/charter.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/scheduling, size/M

#2555 Add sig-ibmcloud Charter
  sig-ibmcloud/charter.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/ibmcloud, size/M

#2697 Fix wrong link
  contributors/devel/writing-a-getting-started-guide.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#2699 sig-cluster-lifecycle: Update meeting times
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/M

#2705 Update governance.md
  governance.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2712 adding latest moderation BPs
  communication/zoom-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#2709 KEP: Optional Service Environment Variables
  keps/NEXT_KEP_NUMBER
  keps/sig-apps/0028-20180925-optional-service-environment-variables.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#2704 Update volume topology doc with 1.12 design changes
  contributors/design-proposals/storage/volume-topology-scheduling.md
  contributors/design-proposals/storage/volume-topology-scheduling.png
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/storage, size/M

#2713 Added Zoom screen sharing guidelines and recommendations
  communication/zoom-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#2717 Add the redirection for the issues labeled with `good-first-issue`
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2620 Initial bug-bounty scope
  contributors/guide/bug-bounty.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#2719 Update a proposal process link
  contributors/design-proposals/README.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, size/XS

#2655 KEP-1a: Meta KEP Implementation
  keps/0001a-meta-kep-implementation.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/pm, sig/release, size/L

#2723 update summit info
  events/2018/12-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#2721 Make Azure availability zone KEP to implementable
  keps/sig-azure/0018-20180711-azure-availability-zones.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/azure, size/S

#2722 Make Azure cross resource group nodes KEP to implementable
  keps/sig-azure/0025-20180809-cross-resource-group-nodes.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/azure, size/S
