Repository kubernetes/community, pull requests merged in 2018-05, with the labels that each got.

#2099 Update the room for the welcome introduction
  events/2018/05-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2097 Update deps
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/client9/misspell/.gitignore
  vendor/github.com/client9/misspell/.travis.yml
  vendor/github.com/client9/misspell/Dockerfile
  vendor/github.com/client9/misspell/Makefile
  vendor/github.com/client9/misspell/README.md
  vendor/github.com/client9/misspell/benchmark_test.go
  vendor/github.com/client9/misspell/case_test.go
  vendor/github.com/client9/misspell/cmd/misspell/main.go
  vendor/github.com/client9/misspell/falsepositives_test.go
  vendor/github.com/client9/misspell/goreleaser.yml
  vendor/github.com/client9/misspell/install-misspell.sh
  vendor/github.com/client9/misspell/legal.go
  vendor/github.com/client9/misspell/mime_test.go
  vendor/github.com/client9/misspell/notwords_test.go
  vendor/github.com/client9/misspell/replace_test.go
  vendor/github.com/client9/misspell/scripts/commit-msg.sh
  vendor/github.com/client9/misspell/scripts/goreleaser.sh
  vendor/github.com/client9/misspell/scripts/pre-commit.sh
  vendor/github.com/client9/misspell/scripts/update-godownloader.sh
  vendor/github.com/client9/misspell/stringreplacer_test.gox
  vendor/github.com/client9/misspell/url_test.go
  vendor/github.com/client9/misspell/words_test.go
  vendor/gopkg.in/yaml.v2/.travis.yml
  vendor/gopkg.in/yaml.v2/NOTICE
  vendor/gopkg.in/yaml.v2/README.md
  vendor/gopkg.in/yaml.v2/apic.go
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/decode_test.go
  vendor/gopkg.in/yaml.v2/emitterc.go
  vendor/gopkg.in/yaml.v2/encode.go
  vendor/gopkg.in/yaml.v2/encode_test.go
  vendor/gopkg.in/yaml.v2/example_embedded_test.go
  vendor/gopkg.in/yaml.v2/readerc.go
  vendor/gopkg.in/yaml.v2/resolve.go
  vendor/gopkg.in/yaml.v2/scannerc.go
  vendor/gopkg.in/yaml.v2/sorter.go
  vendor/gopkg.in/yaml.v2/suite_test.go
  vendor/gopkg.in/yaml.v2/writerc.go
  vendor/gopkg.in/yaml.v2/yaml.go
  vendor/gopkg.in/yaml.v2/yamlh.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#2103 This is a practice commit
  contributors/new-contributor-playground/new-contributors.md
Labels: approved, area/new-contributor-track, cncf-cla: yes, lgtm, size/XS

#2109 Adding a note from KubeCon + CloudNativeCon in Copenhagen
  contributors/new-contributor-playground/hello-from-copenhagen.md
Labels: approved, area/new-contributor-track, cncf-cla: yes, lgtm, size/XS

#2089 Typo fix: we wil->we will
  contributors/design-proposals/scheduling/rescheduling.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/scheduling, size/XS

#2119 Add New contributor summit notes
  contributors/new-contributor-playground/new-contributor-notes.md
Labels: approved, area/new-contributor-track, cncf-cla: yes, lgtm, size/L

#2120 Solve typo error
  sig-governance.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2124 Typo fix: make is easy->make it easy/initilization->initialization
  keps/0002-controller-manager.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#2129 [cri-windows.md] Typo fix: configration->configuration
  contributors/design-proposals/node/cri-windows.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/node, size/XS

#2111 Add first practice commit
  contributors/new-contributor-playground/new-contributors.md
Labels: approved, area/new-contributor-track, cncf-cla: yes, lgtm, size/XS

#2107 Added link to kubernetes/community
  contributors/new-contributor-playground/README.md
Labels: approved, area/new-contributor-track, cncf-cla: yes, lgtm, size/XS

#2078 Remove friction from SIG Charter process through better documentation.
  committee-steering/governance/README.md
  committee-steering/governance/sig-governance-template-short.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/M

#2127 Link to new target
  contributors/devel/scheduler.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2134 Typo error: repeat 'from'
  sig-scalability/slis/apimachinery_slis.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/XS

#2140 Typo fix in commands: kubeclt->kubectl
  contributors/design-proposals/apps/controller_history.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/apps, size/XS

#2141 Link to Playlist view of Youtube videos
  events/community-meeting.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2138 Typo fix: run make regenerate the files, focussed=>focused
  sig-multicluster/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/multicluster, size/XS

#2145 Remove confusing aggregator list comment
  contributors/devel/api_changes.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2136 Add China to the list of events
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2067 Add proposal for node-level User Namespaces remapping support
  contributors/design-proposals/node/node-usernamespace-remapping.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/node, size/L

#2152 Workshop video
  contributors/new-contributor-playground/README.md
  events/2018/05-contributor-summit/new-contributor-workshop.md
Labels: approved, area/new-contributor-track, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2153 Remove doc that is in perf-tests repo now
  sig-scalability/tools/performance-comparison-tool.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/L

#1942 Move provider Cloud Controller Manager repo requirements to KEP
  keps/0002-controller-manager.md
  wg-cloud-provider/cloud-provider-requirements.md
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, sig/architecture, sig/aws, sig/azure, sig/docs, sig/gcp, sig/openstack, sig/testing, sig/vmware, size/L

#2154 remove extra parenthesis
  committee-steering/governance/README.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/XS

#2155 Correct the timezone links to be more generic
  events/office-hours.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2156 Typo fix: excuted->executed
  contributors/new-contributor-playground/new-contributor-notes.md
Labels: approved, area/new-contributor-track, cncf-cla: yes, lgtm, size/XS

#2125 Add the minimum go version for release 1.11+
  contributors/devel/development.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2161 Correct UTC time for meeting
  events/community-meeting.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2162 More time zone fixes.
  events/community-meeting.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1934 add ProcMount option
  contributors/design-proposals/auth/proc-mount-type.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/auth, sig/node, size/M

#2164 Fix links to kustomize examples
  keps/sig-cli/0008-kustomize.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#2166 Initial Zoom moderation guidelines
  communication/moderation.md
  communication/zoom-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#2084 Doc about PID pressure taint.
  contributors/design-proposals/scheduling/taint-node-by-condition.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/scheduling, size/XS

#2090 KEP: efficient node heartbeats
  keps/0008-node-heartbeat.md
Labels: approved, cncf-cla: yes, kind/api-change, lgtm, sig/api-machinery, sig/architecture, sig/node, size/L

#2169 Typo fix: DeamonSet->DaemonSet
  contributors/design-proposals/apps/daemonset-update.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/apps, size/XS

#2170 keps: fix typo in "0008-node-heartbeat.md"
  keps/0008-node-heartbeat.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#2172 0008-node-heartbeat.md: fix typo
  keps/0008-node-heartbeat.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#2175 Minor fixes to heartbeat KEP
  keps/0009-node-heartbeat.md
  keps/NEXT_KEP_NUMBER
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#2168 Topology aware dynamic provisioning design (take 3)
  contributors/design-proposals/storage/volume-topology-scheduling.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/storage, size/XL

#2062 add SECURITY_CONTACTS to repo template
  committee-steering/governance/sig-governance-template-short.md
Labels: approved, area/contributor-guide, area/security, area/test-infra, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/XS

#2184 Fix name of linux foundation bot: thelinuxfoundation
  org-owners-guide.md
  setting-up-cla-check.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2185 Better organize performance SLOs - initial cleanup
  sig-scalability/slos/extending_slo.md
  sig-scalability/slos/slos.md
  sig-scalability/slos/system_throughput.md
  sig-scalability/slos/throughput_burst_slo.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/L

#2181 Add SECURITY_CONTACTS for k/community
  SECURITY_CONTACTS
Labels: approved, cncf-cla: yes, lgtm, size/S

#2158 Add SIG VMware ML and cloud-provider-vsphere subproject
  sig-vmware/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/architecture, sig/vmware, size/M

#2187 Add SIG VMware subproject call and meeting recordings
  sig-list.md
  sig-vmware/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/vmware, size/S

#2190 Changed company affiliation for jdumars
  sig-architecture/README.md
  sig-cluster-ops/README.md
  sig-list.md
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/cluster-ops, sig/release, size/S

#2189 Update the documentation of CRI log format
  contributors/design-proposals/node/kubelet-cri-logging.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/node, size/S

#2193 Use singular form of DST
  generator/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2195 Fixed link to owners in the maintainer section
  community-membership.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2197 Add poseidon to sig-scheduling subproject
  sig-scheduling/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scheduling, size/XS

#2196 Update api-machinery OWNER links
  sig-api-machinery/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/M

#2133 Typo fix: Kuberntes->Kubernetes
  contributors/design-proposals/storage/grow-volume-size.md
  events/2016/developer-summit-2016/application_service_definition_notes.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/contributor-experience, sig/storage, size/XS

#2198 Better organize performance SLIs/SLOs - part 2
  sig-scalability/slis/apimachinery_slis.md
  sig-scalability/slos/api_call_latency.md
  sig-scalability/slos/api_extensions_latency.md
  sig-scalability/slos/slos.md
  sig-scalability/slos/system_throughput.md
  sig-scalability/slos/watch_latency.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/L

#1978 Add a retroactive KEP for IPVS
  keps/NEXT_KEP_NUMBER
  keps/sig-network/0011-ipvs-proxier.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/network, size/XL

#1956 KEP for CoreDNS to GA.
  keps/sig-network/0010-20180314-coredns-GA-proposal.md
Labels: approved, area/dns, cncf-cla: yes, lgtm, sig/architecture, sig/network, size/L
