Repository kubernetes/community, pull requests merged in 2018-07, with the labels that each got.

#2320 Add an initial security section
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2338 Create additional OWNERS files in sig-scalability directory
  sig-scalability/governance/OWNERS
  sig-scalability/governance/scalability-regressions-case-studies.md
  sig-scalability/slos/OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/XS

#2343 update urls
  contributors/devel/update-release-docs.md
  contributors/devel/updating-docs-for-feature-changes.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2353 fix a typo in contributors/devel/controllers.md
  contributors/devel/controllers.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2355 Update kubernetes.io urls in contributor guide
  contributors/guide/coding-conventions.md
  contributors/guide/issue-triage.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2322 Remove new-contributor-playground
  contributors/new-contributor-playground/OWNERS
  contributors/new-contributor-playground/README.md
  contributors/new-contributor-playground/hello-from-copenhagen.md
  contributors/new-contributor-playground/new-contributors.md
  events/2018/05-contributor-summit/new-contributor-notes.md
Labels: approved, area/new-contributor-track, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#2336 steering: governance: define chair removal process
  committee-steering/governance/sig-governance-template-short.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/XS

#2357 Remove references to `kubernetes-pm`
  project-managers/OWNERS
  project-managers/README.md
  sig-list.md
  sig-pm/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/pm, size/M

#2359 Clean up SIG governance docs
  committee-steering/governance/sig-charter-template.md
  committee-steering/governance/sig-governance.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/S

#2261 api_changes: remove proto tags from examples
  contributors/devel/api_changes.md
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/S

#2346 Adds explanation for inability to assign non-org members to Issues to…
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2305 Update sig-auth chair
  OWNERS_ALIASES
  sig-auth/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/auth, size/S

#2362 replace e2e-runner with kubetest
  contributors/devel/e2e-tests.md
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#2345 update url
  sig-governance.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2371 two minor changes to formatting
  events/office-hours.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2331 Update KEP kubeadm join --master
  keps/NEXT_KEP_NUMBER
  keps/sig-cluster-lifecycle/0015-kubeadm-join-master.md
  keps/sig-cluster-lifecycle/draft-20180130-kubeadm-join-master.md
Labels: approved, area/kubeadm, cncf-cla: yes, lgtm, sig/architecture, sig/cluster-lifecycle, size/XL

#2375 Fix WG OWNERS files
  sig-pm/OWNERS
  wg-app-def/OWNERS
  wg-apply/OWNERS
  wg-cluster-api/OWNERS
  wg-container-identity/OWNERS
  wg-iot-edge/OWNERS
  wg-kubeadm-adoption/OWNERS
  wg-multitenancy/OWNERS
  wg-policy/OWNERS
  wg-resource-management/OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/pm, size/M

#2376 Add a list of handy email aliases
  contributors/guide/contributor-cheatsheet.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2365 Add cluster-api* git repositories under sig-cluster-lifecycle
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#2327 Add non-developers contribution section and an owner for it
  contributors/guide/OWNERS
  contributors/guide/non-code-contributions.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#2377 correct wg-container-identity meeting time
  sig-list.md
  sigs.yaml
  wg-container-identity/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/container-identity

#2188 KEP: Dynamic Audit Configuration
  keps/NEXT_KEP_NUMBER
  keps/sig-auth/0014-dynamic-audit-configuration.md
Labels: approved, cncf-cla: yes, kind/feature, lgtm, sig/api-machinery, sig/architecture, sig/auth, size/L

#2301 New KEP for Dry-run
  keps/0015-dry-run.md
  keps/NEXT_KEP_NUMBER
Labels: approved, cncf-cla: yes, kind/feature, lgtm, sig/api-machinery, sig/architecture, size/M

#2382 Grant sig-auth leads approval of sig-auth KEPs
  keps/sig-auth/OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/auth, size/XS

#2381 README: fix typo in Contributing section
  README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS, ¯\_(ツ)_/¯

#2386 Move api-machinery KEPs to dir
  keps/sig-api-machinery/0006-apply.md
  keps/sig-api-machinery/0015-dry-run.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#2390 I changed employers
  sig-list.md
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#2347 Contributors guide: Clarify repository specific guidelines
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2380 Update generating-clientset.md
  contributors/devel/generating-clientset.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2389 Clarify membership requirements for related k8s github orgs
  community-membership.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2391 governance: shorten README based on template changes
  committee-steering/governance/README.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/M

#2396 Add sig-api-machinery KEP OWNERS file
  keps/sig-api-machinery/OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#2384 add code of conduct committee bootstrapping doc
  committee-code-of-conduct/bootstrapping-process.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#2397 Add a phrase to allow the word "backport" to be found
  contributors/devel/cherry-picks.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2399 Add keps/sig-azure/OWNERS
  keps/sig-azure/OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/azure, sig/pm, size/XS

#2383 fix a mis-placed section in schedule-DS-pod-by-scheduler.md
  contributors/design-proposals/scheduling/schedule-DS-pod-by-scheduler.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/scheduling, size/S

#2404 Mention possibility to use -v flag when running godep-restore.sh
  contributors/devel/godep.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2403 Fix broken links and typos in writing-good-e2e-tests.md
  contributors/devel/writing-good-e2e-tests.md
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#2400 Use the triage support label
  contributors/guide/issue-triage.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2401 Mention fejta bot in the triage guidelines
  contributors/guide/issue-triage.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2387 Add more detailed plan for admission controller and webhook support to dry-run kep
  keps/sig-api-machinery/0015-dry-run.md
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, sig/architecture, size/M

#2388 Establish GitHub Management Subproject
  github-management/OWNERS
  github-management/README.md
  github-management/subproject-responsibilites.md
  sig-contributor-experience/README.md
  sig-contributor-experience/projects.md
  sigs.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#1867 Adding Conformance Guidelines document.
  contributors/devel/README.md
  contributors/devel/conformance-tests.md
  contributors/devel/e2e-tests.md
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/architecture, sig/contributor-experience, size/L

#2354 Add componentconfig API types to staging KEP
  keps/NEXT_KEP_NUMBER
  keps/sig-cluster-lifecycle/0014-20180707-componentconfig-api-types-to-staging.md
Labels: approved, cncf-cla: yes, kind/api-change, lgtm, sig/api-machinery, sig/architecture, sig/cloud-provider, sig/cluster-lifecycle, sig/network, sig/node, sig/scheduling, size/L

#2415 Keep naming consistent in volume-topology-scheduling.md
  contributors/design-proposals/storage/volume-topology-scheduling.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/storage, size/S

#2406 Remove mentions of priority/failing-test
  contributors/guide/issue-triage.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2422 Update sigs.yaml to indicate that cluster-api-provider-gcp is owned by sig cluster lifecycle
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2398 Update SIG Service Catalog Chairs
  OWNERS_ALIASES
  sig-list.md
  sig-service-catalog/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/service-catalog, size/S

#2412 Improve dry-run KEP
  keps/sig-api-machinery/0015-dry-run.md
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, sig/architecture, size/S

#2423 commitee-steering: link SIG Charter to SIG Governance
  committee-steering/governance/sig-charter-template.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/XS

#2374 Apply for cloud provider baiducloud.
  keps/sig-cloud-provider/providers/cloud-provider-baiducloud.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/cloud-provider, size/M

#2414 KEP for Cloud Provider DigitalOcean
  keps/sig-cloud-provider/providers/0017-cloud-provider-digitalocean.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/cloud-provider, size/M

#2173 Added governance document
  kubernetes_governance_diagram.png
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/XS

#2431 sig-auth charter (v2)
  sig-auth/README.md
  sig-auth/charter.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/auth, size/M

#2233 SIG Service Catalog's charter
  sig-service-catalog/README.md
  sig-service-catalog/charter.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/service-catalog, size/L

#2432 add section on prs being held up by release cycle
  contributors/guide/pull-requests.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2394 KEP proposals for adding Alibaba Cloud Provider into kubernetes ecosystem
  keps/sig-cloud-provider/providers/0005-cloud-provider-alibaba-cloud.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/cloud-provider, size/L

#2290 RuntimeClass KEP
  keps/sig-node/0014-runtime-class.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/architecture, sig/node, size/L

#2429 sig-azure: remove Cole Mickens as Technical Lead
  OWNERS_ALIASES
  sig-azure/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/azure, size/XS

#2434 Added architecture tracking info to the README
  sig-architecture/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#2442 Add KEP for cloud provider doc maintenance
  keps/sig-cloud-provider/0004-cloud-provider-documentation.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/cloud-provider, size/L

#2407 adds policy to dynamic audit kep
  keps/sig-auth/0014-dynamic-audit-configuration.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/auth, size/L
