Repository kubernetes/community, pull requests merged in 2018-11, with the labels that each got.

#2748 sig-cluster-lifecycle: add cluster-bootstrap under the kubeadm subproject
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2877 Synchronize this content with the moderation guidelines
  sig-governance.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#2888 mentoring: add nikhita as reviewer
  mentoring/OWNERS
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2887 Add Trace level logging
  contributors/devel/logging.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2838 Document pluralization of API fields
  contributors/devel/api_changes.md
Labels: approved, cncf-cla: yes, lgtm, size/L

#2708 Add sig-cluster-lifecycle/kubespray meeting details
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#2894 Add thockin and lavalamp to devel OWNERS
  contributors/devel/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/S

#2895 Re org sig arch sub projects
  sig-architecture/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/L

#2885 Adding note about new directories with e2e tests
  contributors/devel/e2e-tests.md
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#2778 Update SIG Release leadership
  OWNERS_ALIASES
  sig-list.md
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/release, size/M

#2893 Clarify employee CLA
  CLA.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2890 Fix typos
  communication/meeting-notes-archive/q1-2_2018_community_meeting_minutes.md
  contributors/design-proposals/api-machinery/api-chunking.md
  contributors/design-proposals/api-machinery/auditing.md
  contributors/design-proposals/api-machinery/customresource-conversion-webhook.md
  contributors/design-proposals/api-machinery/metadata-policy.md
  contributors/design-proposals/apps/controller_history.md
  contributors/design-proposals/apps/selector-generation.md
  contributors/design-proposals/apps/statefulset-update.md
  contributors/design-proposals/auth/no-new-privs.md
  contributors/design-proposals/auth/security_context.md
  sig-scalability/processes/formal-scalability-processes.md
Labels: approved, area/community-management, cncf-cla: yes, kind/design, lgtm, sig/api-machinery, sig/apps, sig/auth, sig/contributor-experience, sig/scalability, size/M

#2899 Fix typos: creats -> creates
  contributors/design-proposals/apps/deployment.md
  contributors/devel/automation.md
  keps/sig-cli/0024-kubectl-plugins.md
Labels: approved, cncf-cla: yes, kind/design, kind/kep, lgtm, sig/apps, sig/architecture, sig/cli, sig/pm, size/XS, tide/squash

#2901 WG IoT Edge - updating chairs
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-iot-edge/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/iot-edge

#2889 Clarify membership requirements for members of related Kubernetes orgs
  community-membership.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2904 Fix plugin links in owners documentation
  contributors/guide/owners.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2903 First round of security audit question and answers
  wg-security-audit/RFP.md
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/security-audit

#2896 Link to custom subproject descriptions, remove team from owners
  sig-architecture/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/S

#2907 Fix typo
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2905 Add community resources
  communication/resources/README.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#2879 Add info for Chinese localization reviews
  OWNERS_ALIASES
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#2912 Update bazel documentation with current known issues and limitations
  contributors/devel/bazel.md
Labels: approved, cncf-cla: yes, lgtm, size/L

#2525 add subprojects for sig-auth
  generator/app.go
  generator/sig_readme.tmpl
  sig-auth/README.md
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/auth, sig/contributor-experience, sig/testing, size/L

#2881 Adding SIG Apps Charter
  sig-apps/README.md
  sig-apps/charter.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/apps, size/M

#2772 Introduce definition of "DNS programming latency" SLI
  sig-scalability/slos/dns_programming_latency.md
  sig-scalability/slos/slos.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/M

#2915 typo fix about implementation
  keps/sig-node/0008-20180430-promote-sysctl-annotations-to-fields.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/architecture, sig/node, sig/pm, size/XS

#2916 Fix typos: acclerator -> accelerator
  contributors/design-proposals/node/accelerator-monitoring.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, ok-to-test, sig/node, size/XS

#2914 Fix timezone for SIG-VMware meetings
  sig-list.md
  sig-vmware/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/vmware, size/S

#2918 add acceptable justifications for updating a godep
  contributors/devel/godep.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#2842 Follow up edits on the nodelocaldns KEP
  keps/sig-network/0030-nodelocal-dns-cache.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/network, sig/pm, size/L

#2924 Fixup some typos
  contributors/design-proposals/node/cri-windows.md
  contributors/design-proposals/storage/volume-provisioning.md
  keps/sig-network/0030-nodelocal-dns-cache.md
  sig-autoscaling/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, kind/design, kind/kep, lgtm, ok-to-test, sig/architecture, sig/autoscaling, sig/network, sig/node, sig/pm, sig/storage, size/S

#2925 Updated k82cn company.
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scheduling, size/XS

#911 design: reduce scope of node on node object
  keps/sig-auth/0000-20170814-bounding-self-labeling-kubelets.md
Labels: approved, cncf-cla: yes, kind/design, kind/feature, kind/kep, lgtm, lifecycle/frozen, sig/architecture, sig/auth, sig/cluster-lifecycle, sig/node, sig/pm, sig/scheduling, size/L

#2906 Update Contributors guide README.md
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#2733 Add sig-aws charter
  sig-aws/README.md
  sig-aws/charter.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/aws, size/M

#2454 KEP: Support Device Monitoring
  keps/sig-node/compute-device-assignment.md
Labels: approved, cncf-cla: yes, kind/api-change, kind/design, kind/kep, lgtm, sig/architecture, sig/node, sig/pm, size/L

#2897 Update keps/OWNERS
  keps/OWNERS
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, size/XS

#2929 Adding second round of questions to security RFP
  wg-security-audit/RFP.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/security-audit

#2922 Add info on NMC
  github-management/README.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2938 Answered additional RFP questions.
  wg-security-audit/RFP.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/security-audit

#2940 Change UTC time for standard.
  events/community-meeting.md
  events/office-hours.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2936 Fix typos in KEP-0001
  keps/0001-kubernetes-enhancement-proposal-process.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/architecture, sig/pm, size/XS

#2695 kep: image promoter: process to copy container images
  keps/sig-release/k8s-image-promoter.md
  keps/sig-release/promote-process.jpg
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, size/L

#2832 Add a sunset procedure for SIGs/WGs.
  sig-governance.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/M, tide/squash

#2804 added SIG Arch charter
  sig-architecture/charter.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/architecture, size/L, tide/squash

#2941 Update SIG Release contact information
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#2945 fixed typo in community-maintenance.md
  sig-contributor-experience/community-maintenance.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#2947 fixs typo: dont -> don't
  contributors/design-proposals/apps/deployment.md
  contributors/design-proposals/node/node-usernamespace-remapping.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, sig/apps, sig/node, size/XS

#2636 Network latency SLI
  sig-scalability/slos/network_latency.md
  sig-scalability/slos/slos.md
Labels: approved, cncf-cla: yes, kind/api-change, lgtm, sig/network, sig/scalability, size/M

#2949 Adding deprecation note for vagrant support
  contributors/devel/vagrant.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#2814 Follow on working group gov
  committee-steering/governance/wg-governance.md
  governance.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/M

#2870 Add Meet Our Contributors link
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#2954 slack guideline updates
  communication/slack-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2822 KEP: Make kube-proxy service abstraction optional
  keps/NEXT_KEP_NUMBER
  keps/sig-network/0031-20181017-kube-proxy-services-optional.md
Labels: approved, cncf-cla: yes, kind/design, kind/feature, kind/kep, lgtm, sig/api-machinery, sig/architecture, sig/network, sig/pm, size/L

#2958 Add instructions to change affiliation to CLA documentation
  CLA.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#2943 Updating SIG Arch chairs
  OWNERS_ALIASES
  sig-architecture/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#2960 issue triage: add help-wanted and good-first-issue details
  contributors/guide/issue-triage.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2963 Fixed broken links for sig-network readme.md
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/network, size/S, tide/squash

#2966 Fix yaml formatting in kep 31 metadata
  keps/sig-cluster-lifecycle/0031-20181022-etcdadm.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cluster-lifecycle, sig/pm, size/XS

#2968 Broken Links Fix for #2696
  keps/sig-cloud-provider/providers/0004-cloud-provider-template.md
  keps/sig-cloud-provider/providers/0020-cloud-provider-alibaba-cloud.md
  sig-cluster-lifecycle/charter.md
  sig-docs/migrated-from-wiki/roadmap-docs.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/architecture, sig/cloud-provider, sig/cluster-lifecycle, sig/docs, sig/pm, size/S

#2823 sig-instrumentation: Update meeting notes link.
  sig-instrumentation/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/XS

#2965 Improved readability of the communication README
  communication/README.md
Labels: approved, area/community-management, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/architecture, sig/cloud-provider, sig/cluster-lifecycle, sig/contributor-experience, sig/docs, sig/pm, size/S, tide/squash

#2972 Added mailing list for wg-audit; extended RFP deadline for wg-audit
  sig-list.md
  sigs.yaml
  wg-security-audit/README.md
  wg-security-audit/RFP.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/security-audit

#2971 fix typos for kubele-cri-logging
  contributors/design-proposals/node/kubelet-cri-logging.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, ok-to-test, sig/node, size/XS

#2973 Add new driver-registrar repos to sig storage
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#2950 add metadata name to HPA v2 example
  contributors/design-proposals/autoscaling/hpa-v2.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, ok-to-test, sig/autoscaling, size/XS

#2978 contrib summit: WG LTS
  events/2018/12-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2979 Broken Links fix for 2696
  github-management/setting-up-cla-check.md
  sig-cloud-provider/CHARTER.md
  sig-scalability/blogs/k8s-services-scalability-issues.md
  sig-scalability/goals.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, ok-to-test, sig/cloud-provider, sig/contributor-experience, sig/scalability, size/S

#2969 Fix for #2696
  keps/sig-auth/0014-dynamic-audit-configuration.md
  keps/sig-cluster-lifecycle/0003-cluster-api.md
  sig-apps/agenda.md
  sig-cli/migrated-from-wiki/roadmap-kubectl.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/apps, sig/architecture, sig/auth, sig/cli, sig/cluster-lifecycle, sig/pm, size/S, tide/squash

#2946 update cloud provider KEPs to implementable status
  keps/sig-cloud-provider/0018-testgrid-conformance-e2e.md
  keps/sig-cloud-provider/0019-cloud-provider-documentation.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cloud-provider, sig/pm, size/S

#2989 Add new csi-lib-utils repo to sigs.yaml
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#2983 Change post-freeze merge requirements to reference dev phase requirements.
  contributors/devel/release.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#2980 Add link to calendar and update the schedule table
  events/2018/12-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2891 add new KEP aws-lb-prefix-annotation
  keps/sig-aws/aws-lb-prefix-annotation.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/architecture, sig/aws, sig/pm, size/M

#2981 create kep for aws alb ingress controller
  keps/sig-aws/draft-20181127-aws-alb-ingress-controller.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/aws, sig/pm, size/M

#2990 Add KEP for AWS EBS CSI Driver
  keps/sig-aws/20181127-aws-ebs-csi-driver.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/aws, sig/pm, size/M

#2148 kep-sidecar-containers
  keps/sig-apps/sidecarcontainers.md
Labels: approved, cncf-cla: yes, kind/design, kind/feature, kind/kep, lgtm, sig/apps, sig/architecture, sig/node, sig/pm, sig/testing, size/L

#2977 KEP: Create a `k8s.io/component` repo
  keps/sig-cluster-lifecycle/0032-create-a-k8s-io-component-repo.md
Labels: approved, cncf-cla: yes, kind/api-change, kind/kep, lgtm, sig/api-machinery, sig/architecture, sig/cloud-provider, sig/cluster-lifecycle, sig/network, sig/node, sig/pm, sig/scheduling, size/L

#2974 keps/sig-aws: create KEP for "aws-k8s-tester"
  keps/sig-aws/20181126-aws-k8s-tester-figure-01.png
  keps/sig-aws/20181126-aws-k8s-tester-figure-02.png
  keps/sig-aws/20181126-aws-k8s-tester.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/aws, sig/pm, size/L

#2997 Update more detail of Github workflow
  contributors/guide/git_workflow.png
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, needs-ok-to-test, sig/contributor-experience, size/XS

#2999 Update contributor summit registration information
  events/2018/12-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#2995 Add unconference instructions
  events/2018/12-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2821 SIG-UI charter
  sig-ui/charter.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/ui, size/M

#2934 Kubectl Data Driven Command KEP
  keps/NEXT_KEP_NUMBER
  keps/sig-cli/0031-datadrivencommands.md
Labels: approved, cncf-cla: yes, kind/api-change, kind/feature, kind/kep, lgtm, sig/architecture, sig/cli, sig/pm, size/L

#3000 New Contributor Workshop schedule, finalized
  events/2018/12-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S
