Repository kubernetes/community, pull requests merged in 2019-06, with the labels that each got.

#3754 propose api-reviews slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3758 Update Netlify site request instructions.
  github-management/subproject-site-requests.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3759 sig-windows: add windows-tools subproject
  sig-windows/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/windows, size/XS

#3755 Grammar and Markdown fixes for api-conventions
  contributors/devel/sig-architecture/api-conventions.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/architecture, size/M

#3756 added Chinese translation of contributor cheat sheet
  contributors/guide/contributor-cheatsheet/README-id.md
  contributors/guide/contributor-cheatsheet/README-ko.md
  contributors/guide/contributor-cheatsheet/README-pt.md
  contributors/guide/contributor-cheatsheet/README-zh.md
  contributors/guide/contributor-cheatsheet/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#3757 Refine Kubernetes scalability SLOs page
  sig-scalability/slos/slos.md
  sig-scalability/slos/system_throughput.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/L

#3760 Fix s/has/have/ typo in slos.md
  sig-scalability/slos/slos.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/XS

#3695 add cli-utils repo to sig-cli subprojects
  sig-cli/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cli, size/XS

#3764 Link to community membership doc from go.k8s.io/owners
  contributors/guide/owners.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#3762 Update instructions for subproject site requests
  github-management/subproject-site-requests.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#3770 Create AKS channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3761 adding more event owners
  events/OWNERS
Labels: approved, area/contributor-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3734 Update Cluster API office hours link for 2019
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#3765 adding more event handbooks
  events/events-team/README.md
  events/events-team/content-lead.md
  events/events-team/events-lead.md
  events/events-team/marketing/README.md
Labels: approved, area/contributor-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#3775 Fix wrong link to pkg/kubectl/cmd/logs/logs.go
  contributors/devel/sig-cli/kubectl-conventions.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, size/XS

#3773 Update issue-triage.md
  contributors/guide/issue-triage.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/M

#3768 Update scalability thresholds document
  sig-scalability/configs-and-limits/scalability-envelope.png
  sig-scalability/configs-and-limits/thresholds.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/L

#3772 Add hugo metadata to the contributor guides. Fixes #3769
  contributors/guide/README.md
  contributors/guide/bug-bounty.md
  contributors/guide/coding-conventions.md
  contributors/guide/collab.md
  contributors/guide/community-expectations.md
  contributors/guide/github-workflow.md
  contributors/guide/help-wanted.md
  contributors/guide/issue-triage.md
  contributors/guide/non-code-contributions.md
  contributors/guide/owners.md
  contributors/guide/pull-requests.md
  contributors/guide/release-notes.md
  contributors/guide/scalability-good-practices.md
  contributors/guide/style-guide.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#3780 update SIG Apps chair info
  sig-apps/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/apps, size/XS

#3784 Add French meetup cities channels
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3778 Add script used to generate devstats repo groups
  hack/generate-devstats-repo-sql.py
Labels: approved, area/devstats, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#3782 Update repo creation process to use GitHub repo templates
  github-management/kubernetes-repositories.md
  github-management/org-owners-guide.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#3767 Update who must approve repo creation requests
  github-management/kubernetes-repositories.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3781 #3469: Removing arbitrarily mention of GKE versioning
  contributors/design-proposals/release/versioning.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, ok-to-test, sig/release, size/XS

#3774 sig-pm: Update SIG PM Chairs
  OWNERS_ALIASES
  sig-list.md
  sig-pm/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/pm, size/S

#3779 sig-azure: Update SIG Azure Chairs
  OWNERS_ALIASES
  sig-azure/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/azure, size/S

#3751 added link to meeting recordings for sig-aws
  sig-aws/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/aws, size/XS

#3785 Added session information, updated times, updated links for Shanghai CS.
  events/2019/06-contributor-summit/README.md
Labels: approved, area/cn-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#3786 update sig-service-catalog meeting time
  sig-list.md
  sig-service-catalog/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/service-catalog, size/XS

#3790 Fix incorrect end time.
  events/2019/06-contributor-summit/README.md
Labels: approved, area/cn-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3789 Add kubernetes/funding subproject to committee-steering
  committee-steering/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/XS

#3787 Add mrbobbytables to github admins team
  github-management/OWNERS
  github-management/README.md
Labels: approved, area/github-management, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/XS

#3796 Added schedule, room numbers for contributor summit.
  events/2019/06-contributor-summit/README.md
Labels: approved, area/cn-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#3797 Update meeting time for SIG-UI Bi-Weekly
  sig-list.md
  sig-ui/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/ui, size/XS

#3800 Add #garden and #garden-dev Slack Channels
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3799 Add all email comms for BCN
  events/2019/05-contributor-summit/README.md
  events/2019/05-contributor-summit/communications.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#3805 Switching employer for Dims
  committee-steering/README.md
  sig-architecture/README.md
  sig-list.md
  sigs.yaml
  wg-k8s-infra/README.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/architecture, size/S

#3803 Stub out more basic NA Summit info
  events/2019/11-contributor-summit/README.md
Labels: approved, area/na-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#3807 Fix broken links in events README
  events/events-team/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3808 Add cluster-api-vsphere slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3813 service-catalog: add minibroker subproject
  sig-service-catalog/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/service-catalog, size/S

#3812 Fix typo non-code-contributions.md
  contributors/guide/non-code-contributions.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#3814 Add discuss.k8s.io to support response blurb
  contributors/guide/issue-triage.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3817 Update meet-our-contributors.MD
  mentoring/meet-our-contributors.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S

#3820 Add nzoueidi as New Membership Coordinator.
  github-management/README.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3819 New Contributor Content Lead Role fleshed out
  events/events-team/content-lead.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#3766 Add stakeholder SIGs for wg-security-audit
  sig-list.md
  sigs.yaml
  wg-security-audit/README.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, sig/contributor-experience, size/XS, wg/security-audit

#3823 Update README.md
  sig-docs/blog-subproject/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#3821 conventional test args to bypass UTs
  contributors/devel/sig-scheduling/scheduler_benchmarking.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/scheduling, size/S

#3826 Reviewd and updated spelling, grammar and punctuation.
  contributors/guide/pull-requests.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S, tide/merge-method-squash

#3827 slack: Add Release Managers usergroup
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/M

#3829 slack: Rename release-managers channel to release-management
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-release/config.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#3830 slack: Fix channel auto-joins for release-managers usergroup
  communication/slack-config/usergroups.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3804 add sig-contribex apac coordinator role handbook
  sig-contributor-experience/role-handbooks/apac-coordinator.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, sig/contributor-experience, size/S

#3748 Guide needs to mention setting github status #3696
  contributors/guide/README.md
  contributors/guide/community-expectations.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#3822 Adds cluster-api-provider-docker
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#3832 sig-apps: add execution-hook subproject
  sig-apps/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/apps, size/XS

#3825 Add stealthybox as wg-component-standard co-chair
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-component-standard/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#3831 Add some sig testing presentations
  sig-testing/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#3833 Cleanup tombstone files in community/devel
  contributors/devel/api-conventions.md
  contributors/devel/api_changes.md
  contributors/devel/bazel.md
  contributors/devel/cherry-picks.md
  contributors/devel/collab.md
  contributors/devel/component-config-conventions.md
  contributors/devel/conformance-tests.md
  contributors/devel/container-runtime-interface.md
  contributors/devel/controllers.md
  contributors/devel/cri-container-stats.md
  contributors/devel/cri-testing-policy.md
  contributors/devel/cri-validation.md
  contributors/devel/e2e-node-tests.md
  contributors/devel/e2e-tests.md
  contributors/devel/event-style-guide.md
  contributors/devel/flaky-tests.md
  contributors/devel/flexvolume.md
  contributors/devel/generating-clientset.md
  contributors/devel/getting-builds.md
  contributors/devel/godep.md
  contributors/devel/gubernator.md
  contributors/devel/help-wanted.md
  contributors/devel/instrumentation.md
  contributors/devel/kubelet-cri-networking.md
  contributors/devel/kubemark-guide.md
  contributors/devel/logging.md
  contributors/devel/node-performance-testing.md
  contributors/devel/profiling.md
  contributors/devel/release.md
  contributors/devel/scheduler.md
  contributors/devel/scheduler_algorithm.md
  contributors/devel/staging.md
  contributors/devel/strategic-merge-patch.md
  contributors/devel/testing.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, size/L

#3840 youtube guideline updates
  communication/youtube/youtube-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, kind/documentation, lgtm, sig/contributor-experience, size/M

#3839 sig-cluster-lifecycle: add cluster-api-bootstrap-provider-kubeadm subproject
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#3836 Request new channel for CAPD
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3834 Updated time and title for Contributor Summit event meeting
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3747 Add Google groups changes settings
  communication/mailing-list-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S

#3843 Update GitHub link for Onlydole
  sig-docs/blog-subproject/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#3852 Revert "Create AKS channel"
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3854 Add more Contributor Summit marketing lead info and cleanup of best practices
  events/events-team/best-practices.md
  events/events-team/marketing/README.md
Labels: approved, area/contributor-summit, area/na-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#3847 github: update instructions for creating repos from template repo
  github-management/org-owners-guide.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3851 Creating a Slack channel for KEDA
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#3842 adding contributor summit feedback
  events/events-team/feedback.md
Labels: approved, area/contributor-summit, cncf-cla: yes, kind/documentation, lgtm, sig/contributor-experience, size/M

#3853 Add more details to generate-devstats-repo-sql.py
  hack/generate-devstats-repo-sql.py
Labels: approved, area/devstats, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#3850 Add relevant links to Kubernetes blog subproject readme
  sig-docs/blog-subproject/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#3855 Updated title of event planning meeting
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3856 Fix the link to SIG Apps meeting playlist
  sig-apps/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/apps, size/XS

#3858 Fix broken development README link to api-conventions doc
  contributors/devel/README.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, size/XS
