Repository kubernetes/community, pull requests merged in 2019-07, with the labels that each got.

#3777 Best practice for mailing list and github notification
  communication/best-practices.md
Labels: approved, area/community-management, area/contributor-guide, area/developer-guide, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/apps, sig/cluster-lifecycle, sig/contributor-experience, sig/scalability, size/M

#3860 mentoring: add nikhita as approver
  mentoring/OWNERS
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3841 Add rationale for preserving persisted data for alpha fields
  contributors/devel/sig-architecture/api_changes.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/XS

#3862 Fix links in controller_history.md.
  contributors/design-proposals/apps/controller_history.md
  contributors/design-proposals/apps/job.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, ok-to-test, sig/apps, size/XS

#3859 Added doc about leading the SIG Meet and Greet and SIG F2F
  events/events-team/sig-contrib-events.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#3863 doc: add an extra space between document and for
  contributors/devel/sig-architecture/conformance-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/XS

#3861 Update sig-service-catalog chairs
  OWNERS_ALIASES
  sig-list.md
  sig-service-catalog/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/service-catalog, size/S

#3870 Added link to SIG contributor event doc
  events/events-team/content-lead.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3871 Clean up sig-scalability README.md
  sig-list.md
  sig-scalability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/M

#3872 Update contributor guide about assign feature
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#3873 Fix typo in sig-scalabilbity readme
  sig-scalability/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/XS

#3878 Change team members to regression contact points
  sig-scalability/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/XS

#3876 sig-cluster-lifecycle: add image-builder subproject
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#3882 Add kubebuilder group to server-sdk subproject
  sig-api-machinery/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#3622 Create issue and PR management guildlines for the sig contribex
  sig-contributor-experience/triage-team/triage.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#3881 Add new api review process goal
  sig-architecture/api-review-process.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#3884 Fix up broken link to UG governance
  sig-wg-lifecycle.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#3886 Ownership change for SIG-VMware subprojects
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-list.md
  sig-vmware/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, sig/cluster-lifecycle, sig/vmware, size/M

#3888 Add channel for sig developer in Korea
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#3885 add SCL in China
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#3883 Onboard Jonathan Pulsifer to PSC
  OWNERS_ALIASES
  committee-product-security/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/XS

#3892 Fix approve command link in contributor cheatsheet
  contributors/guide/contributor-cheatsheet/README-id.md
  contributors/guide/contributor-cheatsheet/README-ko.md
  contributors/guide/contributor-cheatsheet/README-pt.md
  contributors/guide/contributor-cheatsheet/README-zh.md
  contributors/guide/contributor-cheatsheet/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3663 Add Code of Conduct Committee Charter
  committee-code-of-conduct/README.md
  committee-code-of-conduct/charter.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/conduct, committee/steering, lgtm, size/L

#3810 A guide to set up a kubemark cluster
  contributors/devel/sig-scalability/hollow-node_simplified_template.yaml
  contributors/devel/sig-scalability/kubemark-setup-guide.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/scalability, size/L

#3897 Add id-events and id-users.
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3399 Add documentation on running node e2e's with custom image configs
  contributors/devel/sig-node/e2e-node-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, lifecycle/stale, sig/node, size/S

#3801 Initial draft of SIG-Usability.
  OWNERS_ALIASES
  sig-list.md
  sig-usability/README.md
  sig-usability/charter.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/L

#3900 Updating the SIG Apps contributing docs
  sig-apps/CONTRIBUTING.md
Labels: approved, cncf-cla: yes, lgtm, sig/apps, size/M

#3906 Set sig-usability mailing list and meeting doc
  sig-list.md
  sig-usability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#3905 Add sig-usability Slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3907 Fix broken anchor links in style guide.
  contributors/guide/style-guide.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3909 Update timezone of sig-scalability public meetings
  sig-list.md
  sig-scalability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/XS

#3910 Removed '?' after Pivotal
  sig-list.md
  sig-usability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3728 Removes a dead link to the sig-short-template
  governance.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, ok-to-test, size/S

#3875 Update API review document to be more explicit
  sig-architecture/api-review-process.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/M

#3901 code of conduct: expand the list of people whose privacy will be respected
  committee-code-of-conduct/charter.md
Labels: approved, cncf-cla: yes, committee/conduct, lgtm, size/XS

#3895 Transition all cloud provider SIGS as subprojects of SIG Cloud Provider
  OWNERS_ALIASES
  communication/slack-config/channels.yaml
  sig-aws/README.md
  sig-azure/README.md
  sig-cloud-provider/README.md
  sig-gcp/README.md
  sig-ibmcloud/README.md
  sig-list.md
  sig-openstack/README.md
  sig-vmware/README.md
  sigs.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/aws, sig/azure, sig/cloud-provider, sig/contributor-experience, sig/gcp, sig/ibmcloud, sig/openstack, sig/vmware, size/XL

#3918 Add GH handles for SD team
  events/2019/11-contributor-summit/README.md
Labels: approved, area/contributor-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#3580 Redirect legacy Troubleshooting Running Pods proposal
  contributors/design-proposals/node/troubleshoot-running-pods.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/node, size/XL

#3922 archive leadership-summit
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3916 Add project Kyverno
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#3845 sig-node: add NFD Operator to NFD subproject
  sig-node/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/node, size/XS

#3923 Update wg-multitenancy leads (davidopp -> srampal)
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-multitenancy/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/multitenancy

#3920 Adding url for event planning doc
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: approved, area/contributor-summit, area/na-summit, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#3844 Create diversity.md
  events/events-team/diversity.md
Labels: approved, area/contributor-summit, cncf-cla: yes, kind/documentation, lgtm, sig/contributor-experience, size/M, tide/merge-method-squash

#3925 Reflect change in Chair for Sig Cloud Provider
  OWNERS_ALIASES
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, size/S

#3924 generator: add emeritus leads to WG and UG template
  generator/ug_readme.tmpl
  generator/wg_readme.tmpl
  wg-multitenancy/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S, wg/multitenancy

#3928 Document private mailing list for GitHub Admin team
  contributors/guide/contributor-cheatsheet/README.md
  github-management/opening-a-request.md
Labels: approved, area/contributor-guide, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3931 Add timezone convert link for 'Meet Our Contributors'
  mentoring/meet-our-contributors.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#3933 sig-contribex: update meeting frequency to biweekly
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3934 Use modules exclusively; delete vendor
  Makefile
  hack/verify-spelling.sh
  vendor/github.com/client9/misspell/.gitignore
  vendor/github.com/client9/misspell/.travis.yml
  vendor/github.com/client9/misspell/Dockerfile
  vendor/github.com/client9/misspell/Gopkg.lock
  vendor/github.com/client9/misspell/Gopkg.toml
  vendor/github.com/client9/misspell/LICENSE
  vendor/github.com/client9/misspell/Makefile
  vendor/github.com/client9/misspell/README.md
  vendor/github.com/client9/misspell/RELEASE-HOWTO.md
  vendor/github.com/client9/misspell/ascii.go
  vendor/github.com/client9/misspell/case.go
  vendor/github.com/client9/misspell/cmd/misspell/main.go
  vendor/github.com/client9/misspell/goreleaser.yml
  vendor/github.com/client9/misspell/install-misspell.sh
  vendor/github.com/client9/misspell/legal.go
  vendor/github.com/client9/misspell/mime.go
  vendor/github.com/client9/misspell/notwords.go
  vendor/github.com/client9/misspell/replace.go
  vendor/github.com/client9/misspell/stringreplacer.go
  vendor/github.com/client9/misspell/stringreplacer_test.gox
  vendor/github.com/client9/misspell/url.go
  vendor/github.com/client9/misspell/words.go
  vendor/gopkg.in/yaml.v3/.travis.yml
  vendor/gopkg.in/yaml.v3/LICENSE
  vendor/gopkg.in/yaml.v3/NOTICE
  vendor/gopkg.in/yaml.v3/README.md
  vendor/gopkg.in/yaml.v3/apic.go
  vendor/gopkg.in/yaml.v3/decode.go
  vendor/gopkg.in/yaml.v3/emitterc.go
  vendor/gopkg.in/yaml.v3/encode.go
  vendor/gopkg.in/yaml.v3/go.mod
  vendor/gopkg.in/yaml.v3/parserc.go
  vendor/gopkg.in/yaml.v3/readerc.go
  vendor/gopkg.in/yaml.v3/resolve.go
  vendor/gopkg.in/yaml.v3/scannerc.go
  vendor/gopkg.in/yaml.v3/sorter.go
  vendor/gopkg.in/yaml.v3/writerc.go
  vendor/gopkg.in/yaml.v3/yaml.go
  vendor/gopkg.in/yaml.v3/yamlh.go
  vendor/gopkg.in/yaml.v3/yamlprivateh.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XXL

#3935 idealhack moved to JST
  communication/moderators.md
  sig-contributor-experience/role-handbooks/apac-coordinator.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3936 Update URL to just "expectations" so the URL reads right in the contrib
  community-membership.md
  contributors/guide/README.md
  contributors/guide/expectations.md
  mentoring/group-mentee-guide.md
Labels: approved, area/contributor-guide, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#3937 updated broken zoom admins link
  communication/zoom-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3848 Update SIG Update recommendations for the community meeting
  events/community-meeting.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#3929 wg-iot-edge: Edge Security Challenges Whitepaper
  wg-iot-edge/whitepapers/edge-securuity-challenges/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L, wg/iot-edge

#3941 sig-cloud-provider: s/sig-<provider>-leads/provider-<provider> in OWNERS
  OWNERS_ALIASES
  contributors/design-proposals/aws/OWNERS
  contributors/design-proposals/gcp/OWNERS
  sig-aws/OWNERS
  sig-aws/README.md
  sig-azure/OWNERS
  sig-azure/README.md
  sig-gcp/OWNERS
  sig-gcp/README.md
  sig-ibmcloud/OWNERS
  sig-ibmcloud/README.md
  sig-openstack/OWNERS
  sig-openstack/README.md
  sig-vmware/OWNERS
  sig-vmware/README.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/aws, sig/azure, sig/gcp, sig/ibmcloud, sig/openstack, sig/vmware, size/M

#3939 Remove test-infra role from SIG Testing charter
  sig-testing/charter.md
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#3940 Add sig-usability subproject
  sig-usability/OWNERS
  sig-usability/README.md
  sig-usability/charter.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#3942 generator: enable validation for sigs.yaml
  OWNERS_ALIASES
  committee-code-of-conduct/README.md
  generator/app.go
  sig-docs/README.md
  sig-list.md
  sig-usability/README.md
  sig-windows/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/code-of-conduct, lgtm, sig/contributor-experience, sig/docs, sig/windows, size/M

#3946 Link thresholds from API call latencies file
  sig-scalability/slos/api_call_latency.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/XS

#3932 Remove kubeadm-dind-cluster sig-cluster-lifecycle subproject.
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#3930 CoCC: Fix the length of Carolyn's term
  committee-code-of-conduct/README.md
Labels: approved, cncf-cla: yes, committee/code-of-conduct, lgtm, size/XS
