Repository kubernetes/community, pull requests merged in 2019-12, with the labels that each got.

#4254 Adding request for #konveyor slack channel.
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4279 Update thresholds.md
  sig-scalability/configs-and-limits/thresholds.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/scalability, size/XS

#4261 Contrib Summit Nov. 2019 notes
  events/2019/11-contributor-summit/session-notes/LTS-notes.md
  events/2019/11-contributor-summit/session-notes/end-user-panel.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#4285 Update @enj company
  sig-auth/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/auth, size/XS

#4284 releng: Update release-managers Slack user group
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, priority/important-longterm, sig/contributor-experience, sig/release, size/M

#4283 Fix some typos in issue-triage guide
  contributors/guide/issue-triage.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4278 Adds playbooks for New Contributor Content
  events/events-team/content/contributor-workshops.md
  events/events-team/content/new-contributor-workshops/README.md
  events/events-team/content/new-contributor-workshops/build-and-test.md
  events/events-team/content/new-contributor-workshops/community-groups.md
  events/events-team/content/new-contributor-workshops/contributor-paths.md
  events/events-team/content/new-contributor-workshops/first-issue-help.md
  events/events-team/content/new-contributor-workshops/how-we-communicate.md
  events/events-team/content/new-contributor-workshops/labels-and-bots.md
  events/events-team/content/new-contributor-workshops/live-pr-demo.md
  events/events-team/content/new-contributor-workshops/new-contributor-workshop-lead.md
  events/events-team/content/new-contributor-workshops/playground-exercise.md
  events/events-team/content/new-contributor-workshops/repo-tour.md
  events/events-team/content/new-contributor-workshops/workspace-setup.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#4271 update broken link:https://github.com/kubernetes/community/blob/maste…
  communication/meeting-notes-archive/201808-201902_Community_Meeting_Minutes.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4201 communication guide revision
  communication/README.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#3705 Localised contributor cheatsheet to Hindi
  contributors/guide/contributor-cheatsheet/README-hi.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#4267 Content Subteam Handbook - fixed links & clarified that it links to other handbooks
  events/events-team/README.md
Labels: approved, area/contributor-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4264 SIG M&G - learning from SD
  events/events-team/content/sig-contrib-events.md
Labels: approved, area/contributor-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4290 Update instructions for SIG Storage meeting invite
  sig-storage/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#4058 Add more milestone info to the release doc
  contributors/devel/sig-release/release.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/release, size/S

#4281 Add sig-network-service-apis slack channel.
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-network/OWNERS
  communication/slack-config/sig-network/config.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S, tide/merge-method-squash

#4288 Add sig-arch prod readiness subproject
  sig-architecture/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/S

#4297 contribex: Tombstone old Markdown style guide
  contributors/guide/style-guide.md
  sig-contributor-experience/markdown-link-style-guide.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4299 Try adding some more useful links for hunting flakes
  contributors/devel/sig-testing/flaky-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/testing, size/M

#4253 update the guide to reflect of new cloud providers
  contributors/devel/sig-scalability/kubemark-guide.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/scalability, size/XS

#4298 github guide: update command to set working_dir
  contributors/guide/github-workflow.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4305 Update communications guidelines
  communication/README.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#4294 sig-arch/staging: add note about semver tags
  contributors/devel/sig-architecture/staging.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/S

#4308 slack: add nzoueidi and idealhack to youtube/zoom admin groups
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4304 Changing link to cncf/gitdm developer_affiliation files
  CLA.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#4309 Bowing out of sig-testing chair role due to other responsibilities.
  OWNERS_ALIASES
  sig-list.md
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/testing, size/S

#4311 Adding myself (Josh Berkus) as moderator for Slack per Issue 4300. A…
  communication/moderators.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4306 Fixed some typos in NCW event handbooks
  events/events-team/content/new-contributor-workshops/README.md
  events/events-team/content/new-contributor-workshops/build-and-test.md
  events/events-team/content/new-contributor-workshops/contributor-paths.md
  events/events-team/content/new-contributor-workshops/first-issue-help.md
  events/events-team/content/new-contributor-workshops/labels-and-bots.md
  events/events-team/content/new-contributor-workshops/new-contributor-workshop-lead.md
  events/events-team/content/new-contributor-workshops/playground-exercise.md
Labels: approved, area/contributor-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4315 AMS EU 2020 contrib summit organizers team
  events/2020/03-contributor-summit/README.md
Labels: approved, area/contributor-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4282 Add release notes review section
  contributors/guide/release-notes.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4307 Rework PRR questionaire
  sig-architecture/production-readiness.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/L

#4321 fix url
  communication/meeting-notes-archive/201902-201911_Community_Meeting_Notes.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4327 YouTube Docs Update
  communication/moderators.md
  communication/youtube/youtube-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4329 Update README.md
  communication/README.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS, tide/merge-method-squash

#4326 Removing the referer link files and Depreciated Directories
  communication/youtube-guidelines.md
  sig-aws/2017_goals.md
  sig-aws/CONTRIBUTING.md
  sig-aws/OWNERS
  sig-aws/README.md
  sig-aws/charter.md
  sig-aws/kubernetes-on-aws.md
  sig-azure/OWNERS
  sig-azure/README.md
  sig-azure/charter.md
  sig-contributor-experience/markdown-link-style-guide.md
  sig-gcp/OWNERS
  sig-gcp/README.md
  sig-ibmcloud/OWNERS
  sig-ibmcloud/README.md
  sig-ibmcloud/charter.md
  sig-openstack/OWNERS
  sig-openstack/README.md
  sig-vmware/OWNERS
  sig-vmware/README.md
  sig-vmware/charter.md
Labels: approved, area/community-management, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XL

#4310 Promote those who are chopping wood and carrying water.
  OWNERS_ALIASES
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#4332 Improving documentation for build-time dependencies
  contributors/devel/development.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, size/S

#4336 Retire rktlet subproject
  sig-node/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/node, size/XS

#4335 Improving the PR Template and Contributor-Cheatsheet
  .github/PULL_REQUEST_TEMPLATE.md
  contributors/guide/contributor-cheatsheet/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S

#4339 add alibaba cloud channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4341 slack: rename provider-alibaba-cloud channel
  communication/slack-config/channels.yaml
  communication/slack-config/sig-cloud-provider/config.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/cloud-provider, sig/contributor-experience, size/XS

#4331 fix: update volume plugin link.
  contributors/design-proposals/storage/container-storage-interface.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, ok-to-test, sig/storage, size/XS

#4337 Add Alibaba Cloud meeting info
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, size/S

#4345 feat: Documentation about ok-to-test label
  contributors/guide/pull-requests.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S

#4344 chore: Deleting unused file & link correction
  communication.md
  communication/README.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4348 Add Slack channel for Polish translation community
  communication/slack-config/sig-docs/docs-channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4342 unconference notes from ben the elder kind presentation
  events/2019/11-contributor-summit/unconference-notes/kind-ben-the-elder.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4354 [Trivial] Fix link for go.k8s.io/triage
  contributors/devel/sig-testing/flaky-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/testing, size/XS

#4353 unconference notes from James Munnelly cert manager presentation
  events/2019/11-contributor-summit/unconference-notes/cert-manager-james-munnelly.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4355 unconf notes frm Hippy Hacker presentation Pair prgm in k8s
  events/2019/11-contributor-summit/unconference-notes/pair-programming-in-kubernetes-hippy-hacker.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4356 unconf notes frm Mayank preso on tech debt
  events/2019/11-contributor-summit/unconference-notes/tech-debt-Mayank.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4357 Minor updates to unconference events team notes
  events/events-team/content/unconference.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4360 Add owners files for 2020 contrib summits
  events/2020/03-contributor-summit/OWNERS
  events/2020/07-contributor-summit/OWNERS
  events/2020/11-contributor-summit/OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4293 sig-cloud-provider: add blobfuse-csi-driver
  sig-cloud-provider/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS
