Repository kubernetes/community, pull requests merged in 2019-08, with the labels that each got.

#3943 Document version string pattern
  contributors/devel/sig-architecture/api-conventions.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/XS

#3948 Ensure that conformance.txt is regenerated
  contributors/devel/sig-architecture/conformance-tests.md
Labels: approved, area/conformance, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/architecture, sig/testing, size/XS

#3957 Update sig-testing meeting to 10am biweekly
  sig-list.md
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#3955 Fix link in wg-governance
  committee-steering/governance/wg-governance.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/XS

#3952 sig-contribex apac coordinator handbook august update
  sig-contributor-experience/README.md
  sig-contributor-experience/role-handbooks/apac-coordinator.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#3960 Add #sealed-secrets channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#3963 remove grodrigues3 from OWNERS files
  OWNERS
  contributors/devel/OWNERS
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, size/XS

#3958 Updated Meeting Details for sig-usability
  sig-list.md
  sig-usability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/usability, size/S, tide/merge-method-squash

#3658 Add a French translation of contributor-cheatsheet
  contributors/guide/contributor-cheatsheet/README-fr.md
  hack/.spelling_failures
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#3950 sig-storage: add csi-proxy to kubernetes-csi subproject
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#3962 Add nikhita as root approver
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3944 Add kube-oidc-proxy slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#3965 New volunteers list with most of the roles filled in. We still need …
  events/2019/11-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3961 Moving sig apps to bi-weekly
  sig-apps/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/apps, size/XS

#3966 Add okteto channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#3971 sig-release: move publishing-bot to release-eng subproject
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#3967 sig-release: update main and releng meetings
  sig-list.md
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#3972 Update team with correct GH Handle
  events/2019/11-contributor-summit/README.md
Labels: approved, area/contributor-summit, cncf-cla: yes, lgtm, priority/important-soon, sig/contributor-experience, size/XS

#3973 Add Slack channel for Octant
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3964 Fix broken link from PR guide to KEP process guide
  contributors/guide/pull-requests.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3968 Remove outdated placeholder files
  communication/K8sYoutubeCollaboration.md
  contributors/devel/kubectl-conventions.md
  contributors/devel/writing-good-e2e-tests.md
  contributors/guide/contributor-cheatsheet.md
Labels: approved, area/community-management, area/contributor-guide, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S

#3887 Add instructions on how to get access permissions to wg-component-standard notes
  sig-list.md
  sigs.yaml
  wg-component-standard/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3877 Translate/contributor cheatsheet into Japanese
  contributors/guide/contributor-cheatsheet/README-ja.md
  contributors/guide/contributor-cheatsheet/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#3675 Update cri-container-stats documentation
  contributors/devel/sig-node/cri-container-stats.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, lifecycle/stale, sig/node, size/S

#3674 Update the sig-node/cri documentation
  contributors/devel/sig-node/container-runtime-interface.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, lifecycle/stale, sig/node, size/S

#3976 Added security audit final reports and updated README
  wg-security-audit/README.md
  wg-security-audit/ancillary-data/dataflow/original dataflow.dot
  wg-security-audit/ancillary-data/dataflow/original dataflow.png
  wg-security-audit/ancillary-data/dataflow/process.sh
  wg-security-audit/ancillary-data/dataflow/requirements.txt
  wg-security-audit/ancillary-data/dataflow/tm.py
  wg-security-audit/ancillary-data/dataflow/updated-dataflow.dot
  wg-security-audit/ancillary-data/dataflow/updated-dataflow.png
  wg-security-audit/ancillary-data/rapid-risk-assessments/container-runtime.md
  wg-security-audit/ancillary-data/rapid-risk-assessments/etcd.md
  wg-security-audit/ancillary-data/rapid-risk-assessments/kcm-ccm-notes.md
  wg-security-audit/ancillary-data/rapid-risk-assessments/kube-apiserver.md
  wg-security-audit/ancillary-data/rapid-risk-assessments/kube-proxy.md
  wg-security-audit/ancillary-data/rapid-risk-assessments/kube-scheduler.md
  wg-security-audit/ancillary-data/rapid-risk-assessments/kubelet.md
  wg-security-audit/ancillary-data/rapid-risk-assessments/template.md
  wg-security-audit/findings/AtredisPartners_Attacking_Kubernetes-v1.0.pdf
  wg-security-audit/findings/Kubernetes Final Report.pdf
  wg-security-audit/findings/Kubernetes Threat Model.pdf
  wg-security-audit/findings/Kubernetes White Paper.pdf
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XXL, wg/security-audit

#3977 Updated version of final report
  wg-security-audit/findings/Kubernetes Final Report.pdf
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/security-audit

#3738 Add instructions to configure Bazel for Python 2
  contributors/devel/sig-testing/bazel.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#3978 Added the last shadows to the team. Team is now fully staffed.
  events/2019/11-contributor-summit/README.md
Labels: approved, area/contributor-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3981 Ooops, forgot to add Awards leads.
  events/2019/11-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3926 Added Project Manager Handbook
  events/events-team/README.md
  events/events-team/projectmanagement/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#3980 add new slack channel for kubeadm china
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3983 event page links
  events/2019/11-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#3984 Make subprojects linkable, move github teams under contacts
  committee-code-of-conduct/README.md
  committee-product-security/README.md
  committee-steering/README.md
  generator/committee_readme.tmpl
  generator/sig_readme.tmpl
  generator/ug_readme.tmpl
  generator/wg_readme.tmpl
  sig-api-machinery/README.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-auth/README.md
  sig-autoscaling/README.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-contributor-experience/README.md
  sig-docs/README.md
  sig-instrumentation/README.md
  sig-multicluster/README.md
  sig-network/README.md
  sig-node/README.md
  sig-pm/README.md
  sig-release/README.md
  sig-scalability/README.md
  sig-scheduling/README.md
  sig-service-catalog/README.md
  sig-storage/README.md
  sig-testing/README.md
  sig-ui/README.md
  sig-usability/README.md
  sig-windows/README.md
  ug-big-data/README.md
  wg-apply/README.md
  wg-component-standard/README.md
  wg-iot-edge/README.md
  wg-k8s-infra/README.md
  wg-lts/README.md
  wg-machine-learning/README.md
  wg-multitenancy/README.md
  wg-policy/README.md
  wg-resource-management/README.md
  wg-security-audit/README.md
Labels: approved, cncf-cla: yes, committee/product-security, committee/steering, lgtm, sig/api-machinery, sig/apps, sig/architecture, sig/auth, sig/autoscaling, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/contributor-experience, sig/docs, sig/instrumentation, sig/multicluster, sig/network, sig/node, sig/pm, sig/release, sig/scalability, sig/scheduling, sig/service-catalog, sig/storage, sig/testing, sig/ui, sig/usability, sig/windows, size/XXL, ug/big-data, wg/apply, wg/iot-edge, wg/multitenancy, wg/policy, wg/resource-management, wg/security-audit

#3987 Update devstats OWNERS
  sig-contributor-experience/devstats/OWNERS
Labels: approved, area/devstats, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3986 Update root OWNERS
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3988 move repo-infra subproject to sig-testing
  sig-contributor-experience/README.md
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/S

#3990 Fixed minor typo in charter
  sig-usability/charter.md
Labels: approved, cncf-cla: yes, lgtm, sig/usability, size/XS

#3979 Kubelet API access should not be allowed for conformance tests
  contributors/devel/sig-architecture/conformance-tests.md
Labels: approved, area/conformance, area/developer-guide, cncf-cla: yes, lgtm, priority/important-soon, sig/architecture, size/XS

#3992 Update Agenda doc for cluster-api-provider-aws office hours
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#3989 Define content roles
  events/events-team/content/README.md
  events/events-team/content/awards-ceremony.md
  events/events-team/content/content-coordinator.md
  events/events-team/content/contributor-workshops.md
  events/events-team/content/new-contributor.md
  events/events-team/content/session-manager.md
  events/events-team/content/sig-contrib-events.md
  events/events-team/content/social-content.md
  events/events-team/content/unconference.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#3949 Added descriptions to all Contributor Experience subprojects
  sig-contributor-experience/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, priority/important-soon, sig/contributor-experience, size/M, tide/merge-method-squash

#4008 Move minikube office hours to be 1 hour later
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#4009 move apiserver-builder-alpha to kubernetes-sigs
  sig-api-machinery/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#4012 SCL: add system-validators to kubeadm subproject
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#3991 Add initial guide for 2019 election
  events/elections/2019/OWNERS
  events/elections/2019/README.md
  events/elections/README.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/L

#3996 Conformance Tests: Reduce soak time for new tests
  contributors/devel/sig-architecture/conformance-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/architecture, size/XS

#4013 Add initial snapshot of 2019 SC eligible voters.
  events/elections/2019/voters.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/XL

#4015 Fix several election anchor links.
  events/elections/2019/README.md
  events/elections/README.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/S

#4006 Channel request #kubestack
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4021 Add SIG Docs Korean team meeting schedule
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#4014 Update SIG Docs leads
  OWNERS_ALIASES
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#4034 Add candidate bio for Lachlan Evenson
  events/elections/2019/lachlanevenson.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/S

#4035 Fix dead link to sig-list.md
  events/2019/11-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4037 Add election bio for cblecker
  events/elections/2019/christophblecker.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#4036 Add candidate bio for Pengfei Ni
  events/elections/2019/pengfeini.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/S

#4023 slack-config: rename #gsoc-apps to #outreachy-apps
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4038 Adding a slack channel for Falco
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4039 Add eligible voters 2019-08-26 - 2019-08-29.
  events/elections/2019/voters.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/XS

#4032 Adding krisnova.md to steering elections 2019
  events/elections/2019/krisnova.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/S
