Repository kubernetes/community, pull requests merged in 2019-01, with the labels that each got.

#3061 Fix link 404 to resource-qos.md in vertical-pod-autoscaler.md
  contributors/design-proposals/autoscaling/vertical-pod-autoscaler.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, ok-to-test, sig/autoscaling, size/XS

#3062 github-management: fix markdown formatting
  github-management/kubernetes-repositories.md
  github-management/permissions.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#3056 Add release scalability validation doc
  sig-scalability/README.md
  sig-scalability/processes/scalability-validation.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/L

#3063 Minor fixes to sig scalability docs
  sig-scalability/README.md
  sig-scalability/slos/dns_latency.md
  sig-scalability/slos/slos.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/S

#3060 Fix the broken link to the repository guidelines in the governance.md
  governance.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#3065 Update SIG scalability meeting time to reflect reality
  sig-list.md
  sig-scalability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/XS

#3067 Add missing details link
  sig-scalability/slos/slos.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/XS

#1985 Add more attributes into FlexVolume options field.
  contributors/devel/flexvolume.md
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#1680 Add Topology Manager proposal.
  contributors/design-proposals/node/topology-manager.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/node, size/L

#3070 Adjust subprojects for sig-testing, sig-release
  sig-release/README.md
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, sig/release, sig/testing, size/M

#3077 Add Cluster API Azure subproject
  sig-azure/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/azure, size/XS

#3084 mentoring: add slack details for GSoC
  mentoring/google-summer-of-code.md
  mentoring/outreachy.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#3008 Create component standard working group
  OWNERS_ALIASES
  sig-api-machinery/README.md
  sig-list.md
  sigs.yaml
  wg-component-standard/README.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/api-machinery, sig/architecture, size/M

#3083 Update SIG Storage with info around csi-translation-lib
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#2830 Add wg-k8s-infra with draft charter
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-k8s-infra/README.md
  wg-k8s-infra/charter.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/architecture, sig/contributor-experience, sig/release, sig/testing, size/L

#3074 Add sig-auth meeting note archive to github
  sig-auth/archive/meeting-notes-2016.md
  sig-auth/archive/meeting-notes-2017.md
  sig-auth/archive/meeting-notes-2018.md
Labels: approved, cncf-cla: yes, lgtm, sig/auth, size/XXL

#3086 Deleting stub files in /devel and updating links - Umbrella issue 3064
  contributors/devel/client-libraries.md
  contributors/devel/issues.md
  contributors/devel/update-release-docs.md
  sig-architecture/api-review-process.md
Labels: approved, area/contributor-guide, cncf-cla: yes, kind/feature, lgtm, ok-to-test, sig/architecture, sig/contributor-experience, size/XS

#3088 Add nikhita as contribex tech lead 🎉🎈⭐️
  OWNERS_ALIASES
  sig-contributor-experience/README.md
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/S

#3052 Update Sig Service Catalog Chairs (duglin replaced with jberkhahn)
  OWNERS_ALIASES
  sig-list.md
  sig-service-catalog/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/service-catalog, size/M

#3090 Remove code slush
  contributors/devel/release.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, sig/release, size/M

#3093 Update sig-cluster-lifecycle meeting agenda to 2019
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2843 Contributor Experience Charter
  sig-contributor-experience/charter.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/L

#3089 Deleting stub file - Issue 3064
  contributors/devel/welcome-to-kubernetes-new-developer-guide.md
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, sig/architecture, sig/contributor-experience, size/XS

#3101 Moving contributors/devel/help-wanted.md to contributors/guide- Issue 3064 3
  communication/meeting-notes-archive/q1-2_2018_community_meeting_minutes.md
  contributors/devel/help-wanted.md
  contributors/guide/README.md
  contributors/guide/help-wanted.md
  contributors/guide/issue-triage.md
Labels: approved, area/community-management, area/contributor-guide, cncf-cla: yes, kind/feature, lgtm, ok-to-test, sig/contributor-experience, size/L

#3104 wg-governance: link to repo doc
  committee-steering/governance/wg-governance.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/XS

#3069 generator: add support for stakeholder SIGs for WGs
  generator/app.go
  generator/app_test.go
  generator/list.tmpl
  generator/wg_readme.tmpl
  sig-list.md
Labels: approved, cncf-cla: yes, committee/steering, kind/feature, lgtm, sig/contributor-experience, size/M

#3105 [autoscaling] remove directxman12 from SIG leads
  OWNERS_ALIASES
  sig-autoscaling/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/autoscaling, size/XS

#3073 Add historical sig-node agenda archive
  sig-node/archive/meeting-notes-2015.md
  sig-node/archive/meeting-notes-2016.md
  sig-node/archive/meeting-notes-2017.md
  sig-node/archive/meeting-notes-2018.md
Labels: approved, cncf-cla: yes, lgtm, sig/node, size/XXL

#3106 Unify how the example lists are formatted in the document.
  contributors/devel/api-conventions.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2930 Updating text to be aligned with the latest spec
  contributors/design-proposals/storage/mount-options.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, ok-to-test, sig/storage, size/XS

#3028 Fix up some of the API conventions docs
  contributors/devel/api-conventions.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#3108 Use the correct link to the gopherage OWNERS file
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#3113 Add kubernetes-csi/csi-release-tools repo
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#3096 Follow k/features rename, follow k/community/keps migration
  sig-architecture/README.md
  sig-pm/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/pm, size/S

#3114 Deleting stub file that is more than one year old
  contributors/devel/adding-an-APIGroup.md
Labels: approved, cncf-cla: yes, kind/feature, lgtm, sig/contributor-experience, size/XS

#3122 Update the scalability test schedule.
  sig-scalability/processes/scalability-validation.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/scalability, size/M

#3132 Deleting devel/writing-a-getting-started-guide.md
  contributors/devel/writing-a-getting-started-guide.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/M

#3130 devstats: document how to suggest improvements
  sig-contributor-experience/devstats/OWNERS
  sig-contributor-experience/devstats/README.md
Labels: approved, area/devstats, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#3126 Outdated file and it refers to a non-existent concepts
  contributors/devel/mesos-style.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, sig/contributor-experience, size/L

#3117 Fix cherry-pick link
  contributors/guide/release-notes.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3137 Deleting outdated stub file
  contributors/devel/how-to-doc.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, sig/contributor-experience, size/XS

#3121 Replace nodeAffinity annotation with field
  contributors/devel/scheduler_algorithm.md
Labels: approved, cncf-cla: yes, lgtm, sig/scheduling, size/XS

#3112 Moving files issue3097
  contributors/design-proposals/architecture/arch-roadmap-1.png
  contributors/design-proposals/architecture/architectural-roadmap.md
  contributors/design-proposals/architecture/architecture.md
Labels: approved, cncf-cla: yes, kind/design, kind/feature, lgtm, sig/architecture, sig/contributor-experience, size/XS

#3138 Deleting outdated stub file
  contributors/devel/updating-docs-for-feature-changes.md
Labels: approved, area/developer-guide, cncf-cla: yes, kind/cleanup, lgtm, sig/contributor-experience, size/XS

#3131 devel: add area/developer-guide label
  contributors/devel/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#3148 Add nikhita to github admins team, adjust OWNERS
  github-management/OWNERS
  github-management/README.md
Labels: approved, area/github-management, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/S

#3080 Add tech_leads for sig-auth
  OWNERS_ALIASES
  sig-auth/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/auth, size/S

#3146 wg-k8s-infra administrivia
  sig-list.md
  sigs.yaml
  wg-k8s-infra/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#3141 wg-iot-edge: Change meeting time and add APAC meeting
  sig-list.md
  sigs.yaml
  wg-iot-edge/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/iot-edge

#3153 Add guineveresaenger to OWNERS files in contributors
  contributors/devel/OWNERS
  contributors/guide/OWNERS
Labels: approved, area/contributor-guide, area/developer-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3110 Update SIG-OpenStack leadership
  OWNERS_ALIASES
  sig-list.md
  sig-openstack/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/openstack, size/S

#3154 Remove reference to SIG cluster ops, this was shut down long ago
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#3147 Deleting on-call-federation-build-cop.md
  contributors/devel/on-call-federation-build-cop.md
Labels: approved, area/developer-guide, cncf-cla: yes, kind/cleanup, lgtm, sig/contributor-experience, size/L

#3140 Adds the [LinuxOnly] tag
  contributors/devel/e2e-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, size/XS

#3156 Add discuss communication guidelines
  communication/discuss-guidelines.md
  communication/moderation.md
  communication/moderators.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#3095 published accepted proposal and updated mailing lists
  sig-list.md
  sigs.yaml
  wg-security-audit/Atredis and Trail of Bits Proposal.pdf
  wg-security-audit/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/security-audit

#3115 Adding starting SIG-AWS biweekly date
  sig-aws/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, sig/aws, size/XS

#3152 Update sig-ui info
  OWNERS_ALIASES
  sig-list.md
  sig-ui/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/ui, size/S

#3168 Grouping /devel files by SIGs - SIG Scheduling
  contributors/design-proposals/scheduling/scheduler_extender.md
  contributors/devel/scheduler.md
  contributors/devel/scheduler_algorithm.md
  contributors/devel/sig-scheduling/scheduler.md
  contributors/devel/sig-scheduling/scheduler_algorithm.md
Labels: approved, area/developer-guide, cncf-cla: yes, kind/cleanup, kind/design, lgtm, sig/contributor-experience, sig/scheduling, size/L

#3134 Arnaudmz/icons fix
  icons/README.md
  icons/png/resources/unlabeled/rb-128.png
  icons/svg/resources/unlabeled/rb.svg
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#3167 Grouping /devel files by SIGs - SIG Scalability
  contributors/devel/README.md
  contributors/devel/kubemark-guide.md
  contributors/devel/profiling.md
  contributors/devel/sig-scalability/kubemark-guide.md
  contributors/devel/sig-scalability/profiling.md
Labels: approved, area/developer-guide, cncf-cla: yes, kind/cleanup, lgtm, sig/contributor-experience, size/XL

#3169 Grouping /devel files by SIGs - SIG Storage
  contributors/design-proposals/storage/container-storage-interface.md
  contributors/design-proposals/storage/flexvolume-deployment.md
  contributors/devel/flexvolume.md
  contributors/devel/sig-storage/flexvolume.md
  sig-storage/volume-plugin-faq.md
Labels: approved, area/developer-guide, cncf-cla: yes, kind/cleanup, kind/design, lgtm, sig/contributor-experience, sig/storage, size/L

#2439 CSI: send pod information in NodePublishVolumeRequest
  contributors/design-proposals/storage/container-storage-interface-pod-information.md
Labels: approved, cncf-cla: yes, kind/design, kind/feature, lgtm, lifecycle/stale, sig/node, sig/storage, size/M

#3166 sigs.yaml update wg-component-standard
  sig-list.md
  sigs.yaml
  wg-component-standard/README.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/M, wg/component-standard

#3173 Grouping /devel files by SIGs - SIG Testing
  contributors/devel/README.md
  contributors/devel/api_changes.md
  contributors/devel/bazel.md
  contributors/devel/development.md
  contributors/devel/e2e-tests.md
  contributors/devel/flaky-tests.md
  contributors/devel/gubernator.md
  contributors/devel/sig-testing/bazel.md
  contributors/devel/sig-testing/e2e-tests.md
  contributors/devel/sig-testing/flaky-tests.md
  contributors/devel/sig-testing/gubernator.md
  contributors/devel/sig-testing/testing.md
  contributors/devel/sig-testing/writing-good-e2e-tests.md
  contributors/devel/testing.md
  contributors/devel/writing-good-e2e-tests.md
  contributors/guide/README.md
  contributors/guide/coding-conventions.md
  contributors/guide/github-workflow.md
  events/elections/2017/quintonhoole_bio.md
  events/elections/2018/quintonhoole.md
  sig-cli/CONTRIBUTING.md
  sig-multicluster/CONTRIBUTING.md
Labels: approved, area/contributor-guide, area/developer-guide, cncf-cla: yes, committee/steering, kind/cleanup, lgtm, sig/cli, sig/contributor-experience, sig/multicluster, size/XXL

#3174 Add a description of user groups.
  governance.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#3160 Add mailing-list guidelines
  communication/mailing-list-guidelines.md
  communication/moderation.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#3181 Ihor's default timezone is EET
  communication/moderators.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#3184 update Quinton Hoole's GitHub link
  OWNERS_ALIASES
  sig-list.md
  sig-multicluster/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/multicluster, size/XS

#3151 Grouping files in /devel by SIG - SIG Architecture
  contributors/design-proposals/api-machinery/add-new-patchStrategy-to-clear-fields-not-present-in-patch.md
  contributors/design-proposals/api-machinery/aggregated-api-servers.md
  contributors/design-proposals/api-machinery/customresource-conversion-webhook.md
  contributors/design-proposals/api-machinery/extending-api.md
  contributors/design-proposals/architecture/declarative-application-management.md
  contributors/design-proposals/architecture/principles.md
  contributors/design-proposals/architecture/resource-management.md
  contributors/design-proposals/auth/apparmor.md
  contributors/design-proposals/cluster-lifecycle/runtimeconfig.md
  contributors/design-proposals/multicluster/cluster-registry/api-design.md
  contributors/design-proposals/network/external-lb-source-ip-preservation.md
  contributors/design-proposals/node/secret-configmap-downwardapi-file-mode.md
  contributors/design-proposals/storage/container-storage-interface.md
  contributors/design-proposals/storage/csi-snapshot.md
  contributors/devel/README.md
  contributors/devel/api-conventions.md
  contributors/devel/api_changes.md
  contributors/devel/component-config-conventions.md
  contributors/devel/conformance-tests.md
  contributors/devel/development.md
  contributors/devel/godep.md
  contributors/devel/sig-architecture/api-conventions.md
  contributors/devel/sig-architecture/api_changes.md
  contributors/devel/sig-architecture/component-config-conventions.md
  contributors/devel/sig-architecture/conformance-tests.md
  contributors/devel/sig-architecture/godep.md
  contributors/devel/sig-architecture/staging.md
  contributors/devel/staging.md
  contributors/guide/README.md
  contributors/guide/coding-conventions.md
  sig-architecture/README.md
  sig-architecture/api-review-process.md
Labels: approved, area/contributor-guide, area/developer-guide, cncf-cla: yes, kind/cleanup, kind/design, lgtm, sig/api-machinery, sig/architecture, sig/auth, sig/cluster-lifecycle, sig/contributor-experience, sig/multicluster, sig/network, sig/node, sig/storage, size/XXL

#3163 Grouping /devel files by SIGs - SIG Node
  communication/meeting-notes-archive/q1-2_2018_community_meeting_minutes.md
  contributors/design-proposals/architecture/architecture.md
  contributors/design-proposals/auth/apparmor.md
  contributors/design-proposals/instrumentation/core-metrics-pipeline.md
  contributors/design-proposals/node/cri-dockershim-checkpoint.md
  contributors/devel/container-runtime-interface.md
  contributors/devel/cri-container-stats.md
  contributors/devel/cri-testing-policy.md
  contributors/devel/cri-validation.md
  contributors/devel/e2e-node-tests.md
  contributors/devel/kubelet-cri-networking.md
  contributors/devel/node-performance-testing.md
  contributors/devel/sig-node/container-runtime-interface.md
  contributors/devel/sig-node/cri-container-stats.md
  contributors/devel/sig-node/cri-testing-policy.md
  contributors/devel/sig-node/cri-validation.md
  contributors/devel/sig-node/e2e-node-tests.md
  contributors/devel/sig-node/kubelet-cri-networking.md
  contributors/devel/sig-node/node-performance-testing.md
  sig-node/charter.md
Labels: approved, area/community-management, area/developer-guide, cncf-cla: yes, kind/cleanup, kind/design, lgtm, sig/architecture, sig/auth, sig/contributor-experience, sig/instrumentation, sig/node, size/XXL
