Repository kubernetes/community, pull requests merged in 2019-11, with the labels that each got.

#3470 Add Microsoft Visio stencil for icons
  icons/README.md
  icons/tools/build-visio-stencil-creator.sh
  icons/tools/update-everything.sh
  icons/tools/update-visio.sh
  icons/visio/kubernetes-visio-stencil.vssx
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#4198 Add troubleshooting section
  sig-windows/CONTRIBUTING.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/windows, size/M

#4211 sig-network: Add service-apis repo to services subproject.
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/XS

#4215 provider-azure: Update references to cloud-provider-azure repo
  sig-cloud-provider/CHARTER.md
  sig-cloud-provider/README.md
  sigs.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#4214 Split API Machinery Chairs and TLs
  OWNERS_ALIASES
  sig-api-machinery/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/S

#4216 sig-instrumentation: move metrics-server from k-incubator to k-sigs
  sig-instrumentation/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/XS

#4194 Add Meeting notes and Agenda for Image Builder office hours
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#4212 Adding Bart Smykla as co-chair for wg-k8s-infra
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-k8s-infra/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#4203 sig-network: move external-dns from k-incubator k-sigs
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/XS

#4221 Add 2019's community notes to the archive
  communication/meeting-notes-archive/201902-201911_Community_Meeting_Notes.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XXL, tide/merge-method-squash

#4146 add new Slack channel for VMware User Group
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4222 Add channel for discussion for Kaniko
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4224 fixing ansible k8s module link
  contributors/design-proposals/architecture/declarative-application-management.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, ok-to-test, sig/architecture, size/XS

#4223 sig-cluster-lifecycle: move bootkube from k-incubator to k-sigs
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#4225 update go version to 1.13.4 for Kubernetes 1.17+
  contributors/devel/development.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, size/XS

#4226 Fix typo in names
  communication/best-practices.md
  contributors/guide/contributor-cheatsheet/README-de.md
  contributors/guide/issue-triage.md
Labels: approved, area/community-management, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4228 chore: fixing typo in command example
  contributors/guide/owners.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4229 More notes to unconf content,notes dir & notes template
  events/2019/11-contributor-summit/unconference-notes/unconference-notes-template.md
  events/events-team/content/unconference.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#3912 code of conduct: Add election document
  committee-code-of-conduct/election.md
Labels: approved, cncf-cla: yes, committee/code-of-conduct, committee/steering, lgtm, size/M

#4232 add idealhack to YouTube & Zoom moderators
  communication/moderators.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4233 Add 2019 Q2 planning document
  sig-docs/planning/2019-Q2-03-28.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/L

#4235 This pr is to add kubecon SD ncw-staff channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4208 sig-network: add ingress-controller-conformance repo
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/XS

#4239 Broken link of Docker's event stream
  contributors/design-proposals/node/pod-lifecycle-event-generator.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, ok-to-test, sig/node, size/XS

#4234 Update SIG scalability leads
  OWNERS_ALIASES
  sig-list.md
  sig-scalability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/S

#4242 Archive channel: cluster-api-docker
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4243 Fix broken k8s system architecture link
  contributors/design-proposals/architecture/declarative-application-management.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, ok-to-test, sig/architecture, size/XS

#4246 Add a #prow-alerts channel to Slack
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4217 Add crash-diagnostics channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4245 fix broken link https://github.com/kubernetes/sig-release/blob/master…
  communication/meeting-notes-archive/201801-201807_Community_Meeting_Minutes.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, needs-ok-to-test, sig/contributor-experience, size/XS

#4244 Update the location of the list of staging repositories published
  contributors/devel/sig-architecture/staging.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/architecture, size/S

#4241 Add test-failures channel to slack configuration
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4252 fix broken link : https://github.com/kubernetes/community/blob/master…
  communication/meeting-notes-archive/201808-201902_Community_Meeting_Minutes.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4257 Scheduling: predicates ordering: add missing NL
  contributors/design-proposals/scheduling/predicates-ordering.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/scheduling, size/XS

#4251 MultiCluster 2019 unconference notes
  events/2019/11-contributor-summit/unconference-notes/Deploying_and_Scaling_Across_Multiple_Clusters-Vallery_Lancey.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/M

#4262 Remove last-updated date line from api-conventions.md
  contributors/devel/sig-architecture/api-conventions.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/XS

#4255 Adding request for #flink-operator slack channel.
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4260 rename #ship to #kots in Slack config
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4266 Added new slack channel for solr-operator
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4265 Add Slack channel for Project Antrea
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4263 Add placeholders for 2020 Contributor Summits
  events/2020/03-contributor-summit/README.md
  events/2020/07-contributor-summit/README.md
  events/2020/11-contributor-summit/README.md
Labels: approved, area/contributor-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4273 Correct sig-cloud-provider meeting time to 13:00 PT.
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#4275 Adding details for 2020 events in Amsterdam, China, and Boston
  events/2020/03-contributor-summit/README.md
  events/2020/07-contributor-summit/README.md
  events/2020/11-contributor-summit/README.md
Labels: approved, area/contributor-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#4274 Add release notes guideline to contributors guide
  contributors/guide/release-notes.md
Labels: approved, area/contributor-guide, area/release-team, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/M
