Repository kubernetes/community, pull requests merged in 2019-09, with the labels that each got.

#4041 Update 2019 Steering Committee nominee bio links.
  events/elections/2019/README.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/XS

#4027 Add literal string requirement
  contributors/devel/sig-architecture/conformance-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/architecture, size/XS

#4042 communication: remove external resources
  communication/resources/README.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4029 Fix the command with KUBE_TIMEOUT
  contributors/devel/sig-testing/testing.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#4046 Add eligible voters 2019-08-30 - 2019-09-03.
  events/elections/2019/voters.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/XS

#4030 Updated link to meeting notes
  sig-usability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/usability, size/XS, tide/merge-method-squash

#4049 Add #release-ci-signal Slack channel
  communication/slack-config/sig-release/config.yaml
Labels: approved, area/community-management, area/release-team, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#4047 sig-cloud-provider: add alibaba-cloud-csi-driver repo
  sig-cloud-provider/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#4056 Add 'Klaus Ma' as 2019 SC candidate.
  events/elections/2019/README.md
  events/elections/2019/klausma.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/S

#4051 Update sig-scheduling leads.
  OWNERS_ALIASES
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scheduling, size/S

#4057 Add channel for release notes team discussion, transparency and continuity
  communication/slack-config/sig-release/config.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#4050 slack: add aus-nz-dev channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4060 Delegate storage related slack channels to sig-storage.
  communication/slack-config/channels.yaml
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-storage/OWNERS
  communication/slack-config/sig-storage/config.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4064 Add slack channel for csi-windows working group
  communication/slack-config/sig-storage/config.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/storage, size/XS

#4065 Add go-open-service-broker-client to service-catalog subproject
  sig-service-catalog/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/service-catalog, size/XS

#3643 Add field/validation/behavior change to API review requirements
  sig-architecture/api-review-process.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#4062 devel: update supported Go versions
  contributors/devel/development.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, size/XS

#4063 Fix broken link in SIG Storage README
  sig-storage/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/storage, size/XS

#4066 Add Vallery Lancey 2019 steering election candidate bio
  events/elections/2019/README.md
  events/elections/2019/vallerylancey.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#4067 Fix heading typo in vallerylancey steering nominee bio
  events/elections/2019/vallerylancey.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/XS

#4070 Fix broken contributor summit website links
  events/2019/11-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4073 Add Nikhita's bio for 2019 Steering Committee election
  events/elections/2019/README.md
  events/elections/2019/nikhitaraghunath.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#4072 contributors/devel/sig-instrumentation: Add further details on naming best practices
  contributors/devel/sig-instrumentation/instrumentation.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/instrumentation, size/XS

#4075 Update youngnick affilliation
  sig-list.md
  sigs.yaml
  wg-lts/README.md
Labels: approved, cncf-cla: yes, size/XS

#4076 update the azure cloud provider meeting times
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, size/S

#4074 Add eligible voters 2019-09-04 - 2019-09-09.
  events/elections/2019/voters.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/XS

#4078 parispittman steering committee bio
  events/elections/2019/README.md
  events/elections/2019/parispittman.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#4079 Add Derek Carr election bio
  events/elections/2019/README.md
  events/elections/2019/derekcarr.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#4071 Add channel for fiaas project
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4082 Add Stephen Augustus (justaugustus) bio for Steering Committee ('19)
  events/elections/2019/README.md
  events/elections/2019/stephenaugustus.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#4087 Add brendan burns nomination.
  events/elections/2019/brendanburns.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#4090 Add Brendan Burns to candidate list
  events/elections/2019/README.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/XS

#4094 Fix link failure
  contributors/devel/sig-scheduling/scheduler.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/scheduling, size/XS

#4097 Fixed typo
  contributors/guide/github-workflow.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4095 Add a Slack channel for KubeOne
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4099 Civs updates
  events/elections/README.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/S

#4089 Correct links in declarative app mgmt doc
  contributors/design-proposals/architecture/declarative-application-management.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/architecture, size/XS

#4100 Add alejandrox1 to Discuss admin
  communication/moderators.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4052 Add slack channel for sig-contribex issue triage team
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4098 adding nais as slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4103 Add point release schedule on the contributor cheatsheet & fix typo on indonesian Readme.md
  contributors/guide/contributor-cheatsheet/README-id.md
  contributors/guide/contributor-cheatsheet/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/L

#4088 Updates events-team registration handbook
  events/events-team/registration/README.md
Labels: approved, area/contributor-summit, area/na-summit, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/M

#3904 Add nzoueidi to Youtube and Zoom
  communication/moderators.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#3953 Added Publicationslist
  wg-iot-edge/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/iot-edge

#4105 Fix broken link
  sigs.yaml
  wg-component-standard/README.md
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/XS

#4104 sig-network: migrate ip-masq-agent to kubernetes-sigs
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/XS

#4101 Add 2019 SIG Docs survey explanation and results to sig-docs directory
  sig-docs/survey/2019SIGDocsSurveyRaw.ods
  sig-docs/survey/2019SIGDocsSurveyResultsCharts.pdf
  sig-docs/survey/2019SeptSurvey.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/L

#4096 Minor update to organizing doc for SIG events.
  events/events-team/content/sig-contrib-events.md
Labels: approved, area/contributor-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4102 Add Pod Mentoring Information
  mentoring/mentor-guide.md
  mentoring/mentoring-events.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S

#4081 devel guide: add words on cherry pick review process
  contributors/devel/sig-release/cherry-picks.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/release, size/L, wg/lts, ¯\_(ツ)_/¯

#4005 Cleanup cluster federation references in sig-multicluster docs
  sig-list.md
  sig-multicluster/README.md
  sig-multicluster/charter.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/multicluster, size/S

#4114 Update company name
  sig-list.md
  sigs.yaml
  wg-iot-edge/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/iot-edge

#4108 Clarify the meaning of the [Disruptive] E2E test tag
  contributors/devel/sig-testing/e2e-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/testing, size/XS

#4033 Update SIG-Cloud-Provider leadership
  OWNERS_ALIASES
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#4116 Add a Scaleway channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4107 New document "Writing Good Conformance Tests"
  contributors/devel/sig-testing/writing-good-conformance-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#4121 Add channel for Kubernetes Edinburgh Meetup Group
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4123 Update reference-docs repo location.
  sig-docs/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#4126 fix localization documents
  contributors/guide/contributor-cheatsheet/README-id.md
Labels: approved, area/contributor-guide, cncf-cla: yes, kind/documentation, lgtm, needs-ok-to-test, sig/contributor-experience, size/S

#4122 Some edits and additional notes for writing conformance tests
  contributors/devel/sig-testing/writing-good-conformance-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/testing, size/S

#4129 Update SIG diagram
  SIG-diagram.png
  SIG-diagram.svg
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS
