Repository kubernetes/community, pull requests merged in 2020-01, with the labels that each got.

#4334 enh: Including contributions best practices
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S

#4328 Add Shadows for NCW201
  events/2020/03-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4352 Add slack #jp-users-novice channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4358 Adding lead & shadow for D&I KCSEU2020
  events/2020/03-contributor-summit/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4368 Update to new Zoom link and add office hours
  sig-list.md
  sigs.yaml
  wg-component-standard/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#4301 Data Protection Working Group
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-data-protection/README.md
  wg-data-protection/charter.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/L

#4372 Add slack channel for wg-data-protection
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4375 Adding markyjackson to moderators list for zoom & youtube
  communication/moderators.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4048 adding in doc to cover exceptions
  contributors/devel/sig-release/cherry-picks.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/release, size/S

#4359 adding kubemove slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4323 Move community meeting to a monthly cadence
  committee-steering/governance/sig-governance.md
  events/community-meeting.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/S, tide/merge-method-squash

#4376 Feature/add onlydole moderator
  communication/moderators.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4363 [Trivial] Fix broken links
  contributors/devel/sig-testing/flaky-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#4382 Add Ukrainian sig-docs
  communication/slack-config/sig-docs/docs-channels.yaml
  sig-docs/README.md
  sigs.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, sig/docs, size/XS

#4377 add kurl channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4381 Update registration handbook
  events/events-team/registration/README.md
Labels: approved, area/contributor-summit, area/eu-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4387 Adding Marky Jackson to slack configuration
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4371 Add information about the contributor workshop lead role
  events/events-team/content/contributor-workshops.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4389 Add Onlydole user to YAML files for Slack administration
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4379 add app-troubleshoot channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4378 add schemahero channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4390 Grammar corrections to triage.md
  sig-contributor-experience/triage-team/triage.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4394 Company Name change
  sig-list.md
  sig-usability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/usability, size/XS

#4136 Redirect shareProcessNamespace proposal to KEP
  contributors/design-proposals/node/pod-pid-namespace.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/node, size/L

#4391 GSoC 2019 information added
  mentoring/google-summer-of-code.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4404 Add two clarifications to conformance requirements
  contributors/devel/sig-architecture/conformance-tests.md
Labels: approved, area/conformance, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/XS

#4403 Add some suggestions on how to handle flakes
  contributors/devel/sig-testing/flaky-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/testing, size/M

#4402 Update SIG Usability meeting time
  sig-list.md
  sig-usability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/usability, size/XS, tide/merge-method-squash

#4408 sig-scheduling: move cluster-capacity from k-incubator to k-sigs
  sig-scheduling/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scheduling, size/XS

#4412 Adding new sig-network meetings for Ingress and Service APIs
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/M

#4411 updating community call documented date to reflect 2020 changes
  communication/README.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4413 Adding Zoom links for new sig-network meetings
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/S

#4405 Delete instructions describing the `kubetest -ctl` command
  contributors/devel/sig-testing/e2e-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/testing, size/XS

#4414 Update Cluster API notes/agenda document for 2020
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#4393 Dynamically provisioned volume deletion fix for migration design
  contributors/design-proposals/storage/csi-migration.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/storage, size/M

#4385 Be more explicit about what's allowed on our properties
  communication/README.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S, tide/merge-method-squash

#4417 sig-scheduling: add scheduler-plugins repo
  sig-scheduling/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scheduling, size/XS

#4418 Recognize Brad Childs as emeritus lead of SIG storage
  OWNERS_ALIASES
  sig-list.md
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/S

#4421 sig-testing: remove testing_frameworks repo
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#4400 Archive SIG-Auth 2019 meeting notes
  sig-auth/archive/meeting-notes-2019.md
Labels: approved, cncf-cla: yes, lgtm, sig/auth, size/XL

#4425 slack-config: archive #navigator channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4419 Update chairs and teams for Contributor Experience
  OWNERS_ALIASES
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4427 adding readme for survey data
  sig-contributor-experience/surveys/contribex-survey-2019.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#4407 eu-summit-2020: add shadows for current content team
  events/2020/03-contributor-summit/README.md
Labels: approved, area/contributor-summit, area/eu-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4287 Update ML-WG org.
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-machine-learning/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#4431 Update Huang-Wei as new sig-scheduling co-lead
  OWNERS_ALIASES
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scheduling, size/S

#4422 New slack channel for Inspektor Gadget
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4384 Add M&G staff to AMS page
  events/2020/03-contributor-summit/README.md
Labels: approved, area/contributor-summit, area/eu-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4436 generator/app: add means for sorted and de-duped OWNERS_ALIASES
  OWNERS_ALIASES
  generator/aliases.tmpl
  generator/app.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/contributor-experience, size/M

#4435 meet our contrib host and doc updates
  mentoring/group-mentoring.md
  mentoring/meet-our-contributors.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, kind/documentation, lgtm, sig/contributor-experience, size/L

#4434 updated process info for group mentoring
  mentoring/group-mentoring.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, kind/cleanup, kind/documentation, sig/contributor-experience, size/M

#4438 generator: update OWNERS
  generator/OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4396 Add Barcelona 2019 retro and survey feedback
  events/events-team/feedback.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4440 more mentoring folder restructure
  mentoring/group-mentee-guide.md
  mentoring/group-mentoring.md
  mentoring/meet-our-contributors.md
  mentoring/processes/README.md
  mentoring/processes/group-mentoring.md
  mentoring/processes/hosting-moc.md
  mentoring/programs/README.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#4442 adding marky to reviewers
  mentoring/OWNERS
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4452 Update style guide with a few minor additions
  contributors/guide/style-guide.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4447 removed personal emails on communication mailing list
  communication/mailing-list-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS, tide/merge-method-squash

#4443 Update splain users (zoom -> youtube automation)
  communication/youtube/youtube-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4448 fix burstable/cpu.shares configured
  contributors/design-proposals/node/pod-resource-management.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, ok-to-test, sig/node, size/XS

#4455 Update jeefy's employer
  sig-list.md
  sig-ui/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/ui, size/XS

#4457 Move custom-metrics-apiserver to k-sigs
  sig-instrumentation/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/XS

#4424 adding readme and past minutes
  sig-docs/meeting-notes-archive/2016_Weekly_Meeting_Minutes.md
  sig-docs/meeting-notes-archive/2017_Weekly_Meeting_Minutes.md
  sig-docs/meeting-notes-archive/2018_Weekly_Meeting_Minutes.md
  sig-docs/meeting-notes-archive/2019_Weekly_Meeting_Minutes.md
  sig-docs/meeting-notes-archive/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XXL

#4432 clarifying the APAC time
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#4138 Document component-standard issues /w custom content
  wg-component-standard/README.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, sig/cluster-lifecycle, size/S, wg/component-standard

#4460 Rename addon-operators to cluster-addons
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#4463 Update docs for granting approval privileges to NMCs
  github-management/README.md
  github-management/new-membership-procedure.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4462 Add idealhack as New Membership Coordinator
  github-management/README.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4439 Update SIG Scalability README
  sig-list.md
  sig-scalability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/M

#4449 Fixed typo
  events/community-meeting.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4433 Update Office Hours times and sessions for 2020
  events/office-hours.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M, tide/merge-method-squash

#4466 Update the PRR meeting to biweekly
  sig-architecture/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#4319 Cody's Unconference Team Updates
  events/2020/03-contributor-summit/README.md
Labels: approved, area/contributor-summit, area/eu-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS, tide/merge-method-squash

#4456 Cutting down readme for contributor-site
  contributors/guide/README.md
  contributors/guide/contributing.md
  contributors/guide/first-contribution.md
  contributors/guide/getting-started.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XL

#4459 add marketing blog guidelines
  communication/marketing-team/contributor-blogging.md
Labels: approved, area/community-management, area/contributor-comms, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/M
