Repository kubernetes/community, pull requests merged in 2020-03, with the labels that each got.

#4557 sig-instrumentation: Update to new meeting notes doc
  sig-instrumentation/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/XS

#4560 Add NOTE to know how to download kubetest command
  contributors/devel/sig-testing/e2e-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/testing, size/XS

#4553 Fix misspelling of openSUSE
  contributors/devel/sig-testing/bazel.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#4552 fixurl
  communication/meeting-notes-archive/201801-201807_Community_Meeting_Minutes.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4566 Update SIG Instrumentation leads
  OWNERS_ALIASES
  sig-instrumentation/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/S

#4568 Adding a link to NCW youtube playlist
  mentoring/README.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4555 Update release managers group in documentation
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#4564 Update channels.yaml to include a sig-windows-leads channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4579 removed 'big data' from sig list on gov doc
  governance.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#4574 Updating mentoring shadow-roles.md
  mentoring/programs/shadow-roles.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4563 fixes contrib doc bug #4486 - kubetest replaces hack/e2e.go
  contributors/devel/development.md
  contributors/devel/sig-architecture/conformance-tests.md
  contributors/devel/sig-node/node-performance-testing.md
  contributors/devel/sig-testing/e2e-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/architecture, sig/node, sig/testing, size/S, tide/merge-method-squash

#4590 Updating youtube-guidelines.md with description notes
  communication/youtube/youtube-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4592 Add sig network, wg data protection to splain user list
  communication/youtube/youtube-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4461 adding chair and tl folder
  contributors/chairs-and-techleads/README.md
  contributors/chairs-and-techleads/meeting-host.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M, tide/merge-method-squash

#4594 Fix python client repository link in community/sigs.yaml
  sig-api-machinery/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, sig/contributor-experience, size/XS

#4575 Update SIG-Windows chair information
  OWNERS_ALIASES
  sig-list.md
  sig-windows/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/windows, size/S

#4504 sig-gov mtg consistency change
  committee-steering/governance/sig-governance.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/XS

#4597 sig-network: add iptables-wrappers subproject
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/XS

#4611 Add channel for project Raksh
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4608 Adding Service APIs office hours meeting, removing Ingress meeting
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/S

#4503 document the configuration for topology manager
  contributors/devel/sig-node/e2e-node-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/node, size/M

#4596 sig-cloud-provider: add provider-huaweicloud subproject
  sig-cloud-provider/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#4561 update sig-docs, tech leads
  OWNERS_ALIASES
  sig-docs/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#4621 Update Slack Archive link
  communication/slack-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4619 Adding me as coord & a note for having 3 coordinators
  communication/moderators.md
  mentoring/programs/outreachy.md
Labels: approved, area/community-management, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4609 Update shadow-roles.md
  mentoring/programs/shadow-roles.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4622 Update event lead rolebook
  events/events-team/events-lead.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4620 Update event marketing rolebook
  events/events-team/marketing/README.md
Labels: approved, area/contributor-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4605 Replace SIG/WG meeting placeholder references with Zoom links-8
  sig-list.md
  sig-storage/README.md
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/storage, sig/testing, size/S

#4625 Update provider-openstack project co-leads
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, size/XS

#4637 New slack channel for Lokomotive
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4632 Update ibm cloud provider meeting time
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#4633 feat(slack): add kubernetes-streaming slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4639 Add 2019 survey to spelling exception list
  hack/.spelling_failures
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS, tide/merge-method-squash

#4640 sig-api-machinery: add clientgofix repo
  sig-api-machinery/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#4614 Update blog guidelines
  communication/marketing-team/blog-guidelines.md
  communication/marketing-team/contributor-blogging.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/L

#4613 Add mbbroberg to usergroup
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4598 Replace SIG/WG meeting placeholder references with Zoom links-1
  sig-api-machinery/README.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/api-machinery, sig/apps, sig/architecture, size/S

#4646 Updating zoom administrators
  communication/moderators.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4624 marketing doc updates: roles, owners, guidelines, more
  communication/marketing-team/OWNERS
  communication/marketing-team/README.md
  communication/marketing-team/social-guidelines.md
  communication/marketing-team/team-resources.md
Labels: approved, area/community-management, area/contributor-comms, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#4599 Replace SIG/WG meeting placeholder references with Zoom links-2
  sig-auth/README.md
  sig-autoscaling/README.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/auth, sig/autoscaling, sig/cli, sig/cloud-provider, size/S

#4649 Add submariner to slack channels.yaml file
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4653 Correct scheduler-plugins as a standalone subproject
  sig-scheduling/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scheduling, size/XS

#4600 Replace SIG/WG meeting placeholder references with Zoom links-3
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cloud-provider, size/S

#4601 Replace SIG/WG meeting placeholder references with Zoom links-4
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/M

#4602 Replace SIG/WG meeting placeholder references with Zoom links-5
  sig-list.md
  sig-multicluster/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/multicluster, size/S

#4656 Retire jbeda and sarahnovotny from youtube admin slack notifications
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4652 Add instructions for adding a moderator
  communication/moderation.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4651 Updating mailing list instructions to reflect groups changes.
  communication/mailing-list-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4658 Update sig-scalability meeting timezone and dates
  sig-list.md
  sig-scalability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/M

#4569 PSC on/offboarding
  OWNERS_ALIASES
  committee-product-security/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/S

#4659 sig-api-machinery: add kubebuilder-release-tools
  sig-api-machinery/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#4629 sig-api-machinery: Add C Kubernetes Client Library repo
  sig-api-machinery/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#4661 [slack channel] add kubernetes-arm channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4650 sig-cloud-provider: Add provider-baiducloud subproject
  sig-cloud-provider/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#4660 2019 Survey Analysis Results and Scripts
  sig-contributor-experience/surveys/2018/contribex-survey-2018.csv
  sig-contributor-experience/surveys/2018/contribex-survey-2018.md
  sig-contributor-experience/surveys/2019/README.md
  sig-contributor-experience/surveys/2019/analysis.ipynb
  sig-contributor-experience/surveys/2019/contribex-survey-2019.csv
  sig-contributor-experience/surveys/2019/contribex-survey-2019.md
  sig-contributor-experience/surveys/README.md
  sig-contributor-experience/surveys/k8s_survey_analysis/__init__.py
  sig-contributor-experience/surveys/k8s_survey_analysis/plot_utils.py
  sig-contributor-experience/surveys/k8s_survey_analysis/prepare_2018.py
  sig-contributor-experience/surveys/k8s_survey_analysis/prepare_2019.py
  sig-contributor-experience/surveys/multi_year_comparisons/README.md
  sig-contributor-experience/surveys/multi_year_comparisons/multi_year_2019.ipynb
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XXL

#4664 update meeting time for CAPV
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/XS

#4666 Fix broken link to meet our contributors page
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4667 Add meetup-lasvegas channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS
