Repository kubernetes/community, pull requests merged in 2020-10, with the labels that each got.

#5183 Remove references to kubernetes-incubator
  archive/incubator.md
  contributors/devel/sig-node/container-runtime-interface.md
  github-management/README.md
  github-management/kubernetes-repositories.md
  github-management/new-membership-procedure.md
  github-management/org-owners-guide.md
  sig-cluster-lifecycle/README.md
  sig-instrumentation/charter.md
  sig-service-catalog/charter.md
  sigs.yaml
Labels: approved, area/developer-guide, area/github-management, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, sig/instrumentation, sig/node, sig/service-catalog, size/M

#5047 indicate removal of PodPresets
  contributors/design-proposals/service-catalog/pod-preset.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/service-catalog, size/XS

#5177 Slack channel for discussion of the PureLB load balancer
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5184 sig-arch: add component-helpers repo
  sig-architecture/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#5148 Updated e2e node test docs
  contributors/devel/sig-node/e2e-node-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/node, size/M, tide/merge-method-squash

#5187 Fix link to Kubernetes GitHub Labels
  sig-wg-lifecycle.md
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS

#5192 Update SIG Apps meeting information
  sig-apps/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/apps, size/XS

#5190 update zoom link for sig-security
  sig-list.md
  sig-security/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#5107 Request pinniped Slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5194 Added localization subgroup meeting to SIG Docs
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S, tide/merge-method-squash

#5195 Rename seccomp-operator to security-profiles-operator
  communication/slack-config/channels.yaml
  sig-node/README.md
  sigs.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/node, size/S

#5182 Update first contribution page
  contributors/guide/first-contribution.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/L, tide/merge-method-squash

#5185 Document slack channel creation for other projects
  communication/slack-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M, tide/merge-method-squash

#5186 Update triage/support label references to kind/support
  .github/ISSUE_TEMPLATE/support.md
  contributors/guide/issue-triage.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5191 Update mailing list guidelines for subprojects
  communication/mailing-list-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#5200 Update SC meeting times
  committee-steering/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/S

#5202 SCL: add cluster-api-provider-nested repo
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#5203 Add a section on swag capabilities available to cochairs and TLs
  contributors/chairs-and-techleads/README.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#5188 Mention the new structured logging convention
  contributors/devel/sig-instrumentation/logging.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/instrumentation, size/XS

#5193 Remove references to velodrome
  contributors/devel/sig-testing/flaky-tests.md
  contributors/guide/contributing.md
  contributors/guide/contributor-cheatsheet/README-de.md
  contributors/guide/contributor-cheatsheet/README-fr.md
  contributors/guide/contributor-cheatsheet/README-hi.md
  contributors/guide/contributor-cheatsheet/README-id.md
  contributors/guide/contributor-cheatsheet/README-it.md
  contributors/guide/contributor-cheatsheet/README-ja.md
  contributors/guide/contributor-cheatsheet/README-ko.md
  contributors/guide/contributor-cheatsheet/README-pt.md
  contributors/guide/contributor-cheatsheet/README-uk.md
  contributors/guide/contributor-cheatsheet/README-zh.md
  contributors/guide/contributor-cheatsheet/README.md
  sig-testing/charter.md
Labels: approved, area/contributor-guide, area/developer-guide, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/M

#5204 Add cluster-api-nested Slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5209 fix: Rename kubernetes-docs-be to kubernetes-docs-bn
  communication/slack-config/sig-docs/docs-channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS, tide/merge-method-squash

#5212 Update tallclair company affiliation
  committee-product-security/README.md
  sig-auth/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, sig/auth, size/S

#5216 steering-committee: Update members
  OWNERS_ALIASES
  committee-steering/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/S

#5221 Fixes broken hyperlinks in the contributor guide
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S

#5218 Create user-group 'skaffold-devs' for #skaffold
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S

#5170 Create Reliability WG charter
  sigs.yaml
  wg-reliability/README.md
  wg-reliability/charter.md
Labels: approved, cncf-cla: yes, lgtm, size/L

#5219 Video tutorial for youtube administrator
  communication/youtube/youtube-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5226 fix missing link
  CLA.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#5197 Add sig-network-policy-api slack channel
  communication/slack-config/sig-network/config.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/network, size/XS

#5246 Add Slack channel for Akri
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, needs-ok-to-test, sig/contributor-experience, size/XS

#5196 Node E2E test suite documentation
  contributors/devel/sig-node/images/ginkgo-flow.png
  contributors/devel/sig-node/images/ginkgo-start.png
  contributors/devel/sig-node/test-suite.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, sig/node, size/L

#5249 Update steering committee meeting time to 9:30am PT
  committee-steering/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/XS

#5251 Fill in WG Reliability meeting details
  sig-list.md
  sigs.yaml
  wg-reliability/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#5250 Add a #odo channel on the Kubernetes Slack
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5247 Create operator-sdk-maintainers slack group
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/M

#5240 WG LTS: sunset
  OWNERS_ALIASES
  archive/wg-lts/README.md
  archive/wg-lts/charter.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/M

#5248 Adding sig-security-tooling slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5255 slack: add cluster-api-gcp channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5256 Add odo-devs user group
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#5205 Add Deflaking tests information to Developer Guide
  contributors/devel/sig-testing/flaky-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/L

#5228 Stepping down from sig service catalog, add Konstantin as a co-chair
  OWNERS_ALIASES
  sig-list.md
  sig-service-catalog/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/service-catalog, size/S

#5179 Add technical lead role description
  contributors/chairs-and-techleads/technical-lead.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/M

#5207 WG Naming: Add language evaluation framework
  wg-naming/language-evaluation-framework.md
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/naming

#5258 Fixed start time of Western Office hours.
  events/office-hours.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5263 Slack: Archive retired working group channels
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5264 Link technical lead role description in sig-governance
  committee-steering/governance/sig-governance.md
  contributors/chairs-and-techleads/technical-lead.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/S

#5259 Update community meeting reference
  sig-contributor-experience/charter.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5265 Add haproxy-ingress as a new Slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, needs-ok-to-test, sig/contributor-experience, size/XS

#5266 Add sig-cli bug scrub meeting
  sig-cli/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cli, size/S

#5267 slack: archive elk-charts channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5257 Adding sig-security-docs slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5268 sig-release: Add doc on version markers (migrated from k/test-infra)
  contributors/devel/sig-release/getting-builds.md
  contributors/devel/sig-release/kubernetes-versions.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/release, size/XL

#5269 Add WG Reliability meeting URL
  sig-list.md
  sigs.yaml
  wg-reliability/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#5270 [WG Naming] Add OWNERS
  wg-naming/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#5278 Update location of SIG Contribex meeting notes
  sig-contributor-experience/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5276 slack: add #crossplane slack channel for crossplane.io
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5272 sig-storage: add cosi-api repo
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#5279 Updated the number of contributors in the document
  contributors/devel/development.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, size/XS

#5206 [WG Naming] Add recommendation template
  wg-naming/recommendations/template.md
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/naming

#5280 github-management: add rule for template files for donated repos
  github-management/kubernetes-repositories.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5282 SCL: add cluster-api-provider-kubemark repo
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS
