Repository kubernetes/community, pull requests merged in 2020-07, with the labels that each got.

#4884 Formation of WG Naming
  OWNERS_ALIASES
  committee-code-of-conduct/README.md
  communication/slack-config/channels.yaml
  sig-list.md
  sigs.yaml
  wg-naming/README.md
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, committee/code-of-conduct, committee/steering, lgtm, sig/architecture, sig/contributor-experience, sig/docs, size/L

#4905 Remove planter from bazel.md
  contributors/devel/sig-testing/bazel.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/testing, size/S

#4910 Update testing-commons meeting time
  sig-list.md
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#4914 sig-contribex: Add contributor-tweets repo to community-mgmt subproject
  sig-contributor-experience/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4895 sig-storage: add COSI repos
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#4908 #4904 add mailing list creation in the SIG/wg lifecycle document
  sig-wg-lifecycle.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#4912 Add kubevirt-dev slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4911 sig-testing: add kubetest2 repo
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#4915 Update docs to suggest creating PRs in k/org for kubernetes members
  community-membership.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#4919 Update sig-docs channel restriction to allow maintainers channels
  communication/slack-config/restrictions.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#4920 Auto add a label for sig-docs changes
  communication/slack-config/sig-docs/OWNERS
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4918 add sig docs ja maintainers
  communication/slack-config/sig-docs/docs-channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#4902 adding 2020 wg reporting process steps
  committee-steering/governance/annual-reports.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/M

#4909 Adding Kaslin and updating guidelines.
  communication/marketing-team/social-guidelines.md
Labels: approved, area/community-management, area/contributor-comms, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S

#4921 Add reddit-mods Slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4874 reducing update meeting policy
  committee-steering/governance/sig-governance.md
  committee-steering/governance/wg-governance.md
  events/community-meeting.md
Labels: approved, cncf-cla: yes, committee/steering, kind/cleanup, lgtm, sig/contributor-experience, size/M

#4926 Add swamymsft to the PSC
  OWNERS_ALIASES
  committee-product-security/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/XS

#4927 Remove Steve Kriss from the Velero slack
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, needs-ok-to-test, sig/contributor-experience, size/XS

#4924 Add section on inactive members to community membership guidelines
  community-membership.md
Labels: approved, area/community-management, area/github-management, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#4932 sig-cluster-lifecycle: remove outdated postmortems owners file
  sig-cluster-lifecycle/postmortems/OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#4937 Fix grammar error in community membership guidelines
  community-membership.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#4940 Add Unconscious Bias Training requirement for all leads
  committee-steering/governance/sig-governance.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/XS

#4963 sig-testing: Add secret-sync-rotation subproject
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#4936 Add saschagrunert and alejandrox1 to slack release-team-leads
  communication/slack-config/sig-release/usergroups.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#4964 Update community-membership.md
  community-membership.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#4960 Change Image Builder meeting time
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#4934 Add channel for external-secrets
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4928 Update Code of Conduct Committee election and nomination process
  committee-code-of-conduct/election.md
Labels: approved, cncf-cla: yes, committee/code-of-conduct, committee/steering, lgtm, size/S

#4965 Index all SIG contributions to the Developer Guide
  contributors/devel/README.md
  contributors/devel/sig-architecture/api_changes.md
  contributors/devel/sig-scheduling/scheduler.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/architecture, sig/scheduling, size/L

#4970 Archive sig-docs-security
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#4974 sig-contribex: Add NCW development meeting
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4917 Move sig-docs channels to sig-docs/ subdirectory
  communication/slack-config/channels.yaml
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-docs/docs-channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/S

#4967 Clean up broken links and fix commands in "Getting started locally"
  contributors/devel/running-locally.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, size/L

#4966 Add official network policy subproject meeting
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/S

#4941 sig-node: add seccomp-operator repo
  sig-node/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/node, size/S

#4977 Update zoom meeting link for minikube office hours
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#4971 Setting up a slack channel for sig-storage subproject kubernetes-cosi
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-storage/config.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/storage, size/XS

#4975 Rename secret-sync-rotation to k8s-gsm-tools
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#4981 Remove repo-infra subproject from sig-contribex, keep in sig-testing
  sig-contributor-experience/README.md
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/S

#4984 sig-storage: add repos to kubernetes-cosi subproject
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#4983 Fix the timezone for EST
  sig-list.md
  sig-windows/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/windows, size/XS

#4925 update notes about SIG multicluster meeting
  sig-list.md
  sig-multicluster/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/multicluster, size/S

#4972 Listing APAC liaison role for marketing team
  communication/marketing-team/README.md
Labels: approved, area/community-management, area/contributor-comms, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4933 Adding a folder with example resources for storytelling.
  communication/marketing-team/storytelling-resources/example-interview-qs-sig-windows.md
  communication/marketing-team/storytelling-resources/example-topics.md
Labels: approved, area/community-management, area/contributor-comms, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4989 add group / alias entry for current google build admin oncall
  communication/slack-config/usergroups.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4973 Adding litmus-dev channel to kubernetes slack
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4985 sig-release: Assume ownership of k/repo-infra
  sig-list.md
  sig-release/README.md
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#4987 Update youtube guidelines to include subprojects
  communication/youtube/youtube-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS, tide/merge-method-squash

#4990 Update calendar guidelines & links
  .github/ISSUE_TEMPLATE/marketing-request.md
  communication/README.md
  communication/calendar-guidelines.md
  contributors/guide/contributor-cheatsheet/README-de.md
  contributors/guide/contributor-cheatsheet/README-fr.md
  contributors/guide/contributor-cheatsheet/README-hi.md
  contributors/guide/contributor-cheatsheet/README-id.md
  contributors/guide/contributor-cheatsheet/README-it.md
  contributors/guide/contributor-cheatsheet/README-ja.md
  contributors/guide/contributor-cheatsheet/README-ko.md
  contributors/guide/contributor-cheatsheet/README-pt.md
  contributors/guide/contributor-cheatsheet/README-uk.md
  contributors/guide/contributor-cheatsheet/README-zh.md
  contributors/guide/contributor-cheatsheet/README.md
  events/community-meeting.md
  mentoring/programs/README.md
Labels: approved, area/community-management, area/contributor-guide, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4986 Add the meeting notes for etcdadm Office Hours
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#4935 Add description to contributor guide readme
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4991 sig-release: add kubernetes-sigs/mdtoc repo
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#4988 Add governance.md to WG Naming
  wg-naming/governance.md
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/naming

#4982 Add Office Hours/ Mentoring of different SIGs
  mentoring/README.md
  mentoring/programs/office-hours.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S

#4993 github-management: fix spelling mistake and filename
  github-management/README.md
  github-management/subproject-responsibilities.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4922 Add rlenferink as slack-config owner
  communication/moderators.md
  communication/slack-config/OWNERS
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4980 Add a channel for Persian docs
  communication/slack-config/sig-docs/docs-channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#4996 Add repo SECURITY.md
  SECURITY.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#4995 Update New Membership Coordinators
  github-management/README.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4999 Fix formatting nit in example conformance comment
  contributors/devel/sig-architecture/conformance-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/XS

#4929 Calendar template
  communication/calendar-guidelines.md
  contributors/chairs-and-techleads/README.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M, tide/merge-method-squash

#4978 Add olm-dev and operator-sdk-dev channels to slack config
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5001 Promote Rajula as lead for internal comms
  communication/marketing-team/README.md
Labels: approved, area/community-management, area/contributor-comms, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS
