Repository kubernetes/community, pull requests merged in 2020-02, with the labels that each got.

#4472 Init K8s Upstream Marketing Team CHARTER.md
  communication/marketing-team/CHARTER.md
Labels: approved, area/community-management, area/contributor-comms, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4474 adding more marketing info
  communication/marketing-team/README.md
Labels: approved, area/community-management, area/contributor-comms, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4478 change SIG Service catalog meetings to old time; biweekly
  sig-list.md
  sig-service-catalog/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/service-catalog, size/XS

#4196 remove the daemonset specific exception
  contributors/design-proposals/node/kubelet-eviction.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, lifecycle/stale, ok-to-test, sig/node, size/S

#4470 Add Polish language content GitHub team
  sig-docs/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#4484 slack-config: add #krew
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4453 Remove shadow status for onlydole
  sig-docs/blog-subproject/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#4487 mentoring folder restructuring & updates
  mentoring/README.md
  mentoring/processes/mentor-guide.md
  mentoring/programs/google-summer-of-code.md
  mentoring/programs/group-mentee-guide.md
  mentoring/programs/group-mentoring.md
  mentoring/programs/mentoring-events.md
  mentoring/programs/outreachy.md
  mentoring/programs/shadow-roles.md
  mentoring/programs/the1-on-1hour.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4488 new home for surveys
  hack/.spelling_failures
  sig-contributor-experience/surveys/contribex-survey-2018.csv
  sig-contributor-experience/surveys/contribex-survey-2018.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4481 Add note about design proposal process deprecation
  contributors/design-proposals/README.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, size/XS

#4485 Update wg-policy chairs
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-policy/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/policy

#4483 Moderators fix
  communication/moderators.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S

#4489 Update TZ converter for meet-our-contributors mtg
  mentoring/meet-our-contributors.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4491 last of my mentoring file updates
  mentoring/README.md
  mentoring/programs/meet-our-contributors
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4480 Add contributor cheat-sheet in Ukrainian
  contributors/guide/contributor-cheatsheet/README-uk.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#4492 Add link to UK cheatsheet
  contributors/guide/contributor-cheatsheet/README-uk.md
  contributors/guide/contributor-cheatsheet/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4493 Add Meeting Notes Link to VMware UG
  sig-list.md
  sigs.yaml
  ug-vmware-users/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#4494 Fix meet our contributors link and doc.
  mentoring/README.md
  mentoring/programs/meet-our-contributors.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4495 Add meeting for GH Admin subproject
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4465 Fix ToC discrepancies within Contributor Cheatsheets.
  contributors/guide/contributor-cheatsheet/README-fr.md
  contributors/guide/contributor-cheatsheet/README-hi.md
  contributors/guide/contributor-cheatsheet/README-id.md
  contributors/guide/contributor-cheatsheet/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#4475 Assigning weights to contributor documents for proper surfacing
  contributors/guide/bug-bounty.md
  contributors/guide/coding-conventions.md
  contributors/guide/collab.md
  contributors/guide/contributing.md
  contributors/guide/expectations.md
  contributors/guide/first-contribution.md
  contributors/guide/getting-started.md
  contributors/guide/github-workflow.md
  contributors/guide/help-wanted.md
  contributors/guide/issue-triage.md
  contributors/guide/non-code-contributions.md
  contributors/guide/owners.md
  contributors/guide/pull-requests.md
  contributors/guide/release-notes.md
  contributors/guide/scalability-good-practices.md
  contributors/guide/style-guide.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4501 update wg-data-protection information
  sig-list.md
  sigs.yaml
  wg-data-protection/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#4502 fixed google doc and generated page
  sig-docs/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#4509 Updating sig-docs-leads
  OWNERS_ALIASES
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#4510 adding new google doc and archive url fix
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#4045 Add namespace status conditions
  contributors/design-proposals/architecture/namespaces.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, sig/architecture, size/M

#4511 Add information about oncall rotation to SIG Scalability readme.
  sig-scalability/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/XS

#4497 Remove deprecated vagrant development instructions.
  contributors/devel/vagrant.md
Labels: approved, area/developer-guide, cncf-cla: yes, kind/documentation, lgtm, sig/contributor-experience, size/L

#4514 Update PRR questions based on feedback
  sig-architecture/production-readiness.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/M

#4499 Updates contribex meetings in sigs.yaml
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S

#4518 slack channel: create cluster-api-digitalocean channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4522 Add slack channels for aks-engine-users & aks-engine-devs
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4523 Changing title metadata for ReadME to Contributors Guide
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4527 slack-config: add #metallb-dev.
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4526 slack: rename aks-engine-dev channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4512 Update meeting time for Cluster API Provider vSphere
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#4520 Update SIG Storage Governance
  OWNERS_ALIASES
  sig-list.md
  sig-storage/README.md
  sig-storage/charter.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/S

#4532 Add clarification for PRR troublshooting question
  sig-architecture/production-readiness.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#4531 Fixed Peeyush slack handle
  events/2020/03-contributor-summit/README.md
Labels: approved, area/contributor-summit, area/eu-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4528 add openebs slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4535 slack: Add k8s-infra-alerts channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4524 add contributor-comms slack team for upstream marketing
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4543 Updating mentoring subproject meeting info..
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4536 Add channel for dc kubernetes meetup
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4540 Fix invalid command: replace absent package
  contributors/devel/development.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, size/XS

#4547 fixurl
  wg-security-audit/RFP.md
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS, wg/security-audit

#4548 [sig-auth] Add secrets-store-csi-driver subproject
  sig-auth/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/auth, size/XS

#4546 [Access-tokens] Add thresholds
  sig-scalability/configs-and-limits/thresholds.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/scalability, size/M

#4476 [docs]ncw playbook: minor improvements
  events/events-team/content/new-contributor-workshops/build-and-test.md
  events/events-team/content/new-contributor-workshops/community-groups.md
  events/events-team/content/new-contributor-workshops/how-we-communicate.md
  events/events-team/content/new-contributor-workshops/labels-and-bots.md
  events/events-team/content/new-contributor-workshops/live-pr-demo.md
  events/events-team/content/new-contributor-workshops/new-contributor-workshop-lead.md
  events/events-team/content/new-contributor-workshops/playground-exercise.md
  events/events-team/content/new-contributor-workshops/workspace-setup.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4545 sig-storage: add external-health-monitor repo
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#4544 Update community maintenance doc
  sig-contributor-experience/community-maintenance.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4542 Add kcli channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, needs-ok-to-test, sig/contributor-experience, size/XS

#4556 contributing: Fix link to "Sign the CLA"
  contributors/guide/contributing.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS
