Repository kubernetes/community, pull requests merged in 2020-06, with the labels that each got.

#4731 Change ns-sameness position statement to RELEASED
  sig-multicluster/namespace-sameness-position-statement.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/multicluster, size/XS

#4828 sig-instrumentation: add instrumentation-tools repo
  sig-instrumentation/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/XS

#4814 Move vllry to SIG-Usability emeritus
  OWNERS_ALIASES
  sig-list.md
  sig-usability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/usability, size/S

#4832 Update email address for calendar sharing permissions
  communication/calendar-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4833 Add fury-distribution slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, needs-ok-to-test, sig/contributor-experience, size/XS

#4338 feat: Addition of Reviewer's Guideline
  contributors/guide/collab.md
  contributors/guide/review-guidelines.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/L, tide/merge-method-squash

#4343 feat: Adding guidance on commit message style
  contributors/guide/pull-requests.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/L, tide/merge-method-squash

#4793 Add instructions for structured logging migration
  contributors/devel/sig-instrumentation/migration-to-structured-logging.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/instrumentation, size/L

#4831 Removed outdated CSI limitation
  sig-storage/volume-plugin-faq.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/storage, size/XS

#4835 add openebs-dev slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4805 Adding example social media posts --cshort & --kaslin
  communication/marketing-team/social-guidelines.md
Labels: approved, area/community-management, area/contributor-comms, cncf-cla: yes, lgtm, sig/contributor-experience, size/S, tide/merge-method-squash

#4838 Change wg-security-audit meeting time
  sig-list.md
  sigs.yaml
  wg-security-audit/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/security-audit

#4836 update kubetest installation instructions in the developer e2e testin…
  contributors/devel/sig-testing/e2e-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/testing, size/XS

#4748 Update NCW Resources, Files
  mentoring/programs/new-contributor-workshop/2020/03-contributor-summit/README.md
  mentoring/programs/new-contributor-workshop/2020/03-contributor-summit/content-proposal.md
  mentoring/programs/new-contributor-workshop/2020/03-contributor-summit/runbook.md
  mentoring/programs/new-contributor-workshop/README.md
  mentoring/programs/new-contributor-workshop/resources/README.md
  mentoring/programs/new-contributor-workshop/resources/build-and-test.md
  mentoring/programs/new-contributor-workshop/resources/community-groups.md
  mentoring/programs/new-contributor-workshop/resources/contributor-paths.md
  mentoring/programs/new-contributor-workshop/resources/first-issue-help.md
  mentoring/programs/new-contributor-workshop/resources/how-we-communicate.md
  mentoring/programs/new-contributor-workshop/resources/labels-and-bots.md
  mentoring/programs/new-contributor-workshop/resources/live-pr-demo.md
  mentoring/programs/new-contributor-workshop/resources/new-contributor-workshop-lead.md
  mentoring/programs/new-contributor-workshop/resources/playground-exercise.md
  mentoring/programs/new-contributor-workshop/resources/repo-tour.md
  mentoring/programs/new-contributor-workshop/resources/workspace-setup.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/L, ¯\_(ツ)_/¯

#4755 sig-cluster-lifecycle: amend the SIG charter
  sig-cluster-lifecycle/charter.md
Labels: approved, cncf-cla: yes, committee/steering, kind/cleanup, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/S

#4848 Update SIG Scalability README
  sig-scalability/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/S

#4852 changing jobs
  committee-steering/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/XS, tide/merge-method-squash

#4850 slack/sig-release: Update usergroups
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/M

#4004 Updating Release Notes Document
  contributors/guide/release-notes.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, lifecycle/rotten, sig/contributor-experience, size/M

#4855 Development: Fix typo
  contributors/devel/development.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, size/XS

#4847 Replace refs for conformance.txt to conformance.yaml
  contributors/devel/sig-architecture/conformance-tests.md
  sig-architecture/README.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/XS

#4856 devel/sig-release: Fixup links, Markdown warnings, minor content tweaks
  contributors/devel/sig-release/cherry-picks.md
  contributors/devel/sig-release/getting-builds.md
  contributors/devel/sig-release/release.md
Labels: approved, area/developer-guide, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, sig/release, size/XL

#4857 Update formatting to community meeting doc
  events/community-meeting.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#4858 Update formatting of meet our contributors doc
  mentoring/programs/meet-our-contributors.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4859 Update formatting of office hours doc
  events/office-hours.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#4860 Update 2020 Events w/ covid cancellations and event leads
  events/2020/03-contributor-summit/README.md
  events/2020/07-contributor-summit/README.md
  events/2020/11-contributor-summit/README.md
Labels: approved, area/cn-summit, area/contributor-summit, area/eu-summit, area/na-summit, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4784 sig-gov de-dupping evolution continues #4781
  committee-steering/governance/sig-governance.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, ok-to-test, size/M

#4863 Update PSC members
  OWNERS_ALIASES
  committee-product-security/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/S

#4864 Add github-management slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/github-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4862 Update Testing Guide to clarify how to use go test as an alternative to make test
  contributors/devel/sig-testing/testing.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/testing, size/M

#4868 Document #github-management slack channel
  github-management/opening-a-request.md
  sig-contributor-experience/README.md
  sigs.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4866 Remove outdated collaboration doc
  community-membership.md
  contributors/guide/collab.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4865 Remove bug bounty program doc
  contributors/guide/bug-bounty.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4867 sig-release: Add Jorge Alarcon Ochoa and Sascha Grunert as TLs
  OWNERS_ALIASES
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#4870 Add frontmatter descriptions to the contributor guide docs
  contributors/guide/README.md
  contributors/guide/coding-conventions.md
  contributors/guide/contributing.md
  contributors/guide/contributor-cheatsheet/README.md
  contributors/guide/expectations.md
  contributors/guide/first-contribution.md
  contributors/guide/getting-started.md
  contributors/guide/github-workflow.md
  contributors/guide/help-wanted.md
  contributors/guide/issue-triage.md
  contributors/guide/non-code-contributions.md
  contributors/guide/owners.md
  contributors/guide/pull-requests.md
  contributors/guide/release-notes.md
  contributors/guide/review-guidelines.md
  contributors/guide/scalability-good-practices.md
  contributors/guide/style-guide.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4871 marketing: add Divya Mohan to the storytellers team
  communication/marketing-team/README.md
Labels: approved, area/community-management, area/contributor-comms, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4875 marketing team additions
  communication/marketing-team/README.md
Labels: approved, area/community-management, area/contributor-comms, cncf-cla: yes, kind/documentation, lgtm, sig/contributor-experience, size/XS

#4872 release docs: update 9 months to 1 year patch support
  contributors/devel/sig-release/cherry-picks.md
  contributors/devel/sig-release/release.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/release, size/S

#4827 Update github-workflow.md
  contributors/guide/github-workflow.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/M

#4880 sig-release: Caleb moves to Emeritus
  OWNERS_ALIASES
  sig-list.md
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#4876 Merge getting started into the main page as they're required.
  contributors/guide/README.md
  contributors/guide/contributing.md
  contributors/guide/expectations.md
  contributors/guide/first-contribution.md
  contributors/guide/getting-started.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#4883 Remove the 5pm sig-scheduling meeting
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scheduling, size/XS

#4881 Adding link to San Diego CS testgrid presentation
  contributors/devel/sig-testing/testing.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/testing, size/XS

#4878 Remove/update legacy references in e2e testing guide
  contributors/devel/sig-testing/e2e-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/testing, size/M

#4885 devel: update required Go versions
  contributors/devel/development.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, size/XS

#4886 Add a slack channel for chartcenter
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, needs-ok-to-test, sig/contributor-experience, size/XS

#4887 devstats: add LappleApple as approver
  sig-contributor-experience/devstats/OWNERS
Labels: approved, area/devstats, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4896 Update broken file link in title 3
  contributors/devel/sig-api-machinery/generating-clientset.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/api-machinery, size/XS

#4888 update CAPV's meeting time
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#4891 Update sig-architecture for enhancments subproject
  sig-architecture/README.md
  sig-architecture/charter.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/S

#4889 Correct SIG Instrumentation meeting time
  sig-instrumentation/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/instrumentation, size/XS

#4869 Update sig testing subprojects
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#4898 Add slack channels for krustlet
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4861 Add packet cluster-api-provider
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS
