Repository kubernetes/community, pull requests merged in 2020-11, with the labels that each got.

#5252 sig-testing: add e2e-framework repo
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#5284 Added Codebase Tour Video
  sig-cli/CONTRIBUTING.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cli, size/XS

#5287 SIG Docs chair transition
  OWNERS_ALIASES
  sig-docs/README.md
  sig-docs/blog-subproject/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#5289 chore: Change irvifa affiliation
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#5283 Add RESULTS, BALLOT files
  events/elections/2020/BALLOTS.csv
  events/elections/2020/RESULTS.md
  events/elections/2020/voters.md
Labels: approved, cncf-cla: yes, committee/steering, kind/documentation, lgtm, sig/contributor-experience, size/L

#5293 Update leads mailing list reference
  sig-wg-lifecycle.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#5296 Add #image-builder channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/XS, tide/merge-method-squash

#5211 wg-naming: Add workflow for proposing recommendations
  wg-naming/workflow.md
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/naming

#5295 Reformat Technical Lead expectations
  contributors/chairs-and-techleads/technical-lead.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#5243 Try recommending alternatives to master
  wg-naming/recommendations/master-control-plane.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/api-machinery, sig/architecture, sig/testing, size/L, wg/naming

#5274 Adding Marky Jackson to mentoring approvers
  mentoring/OWNERS
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5302 Community Comms as subproject
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: approved, area/contributor-comms, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#5290 sig-node: add noderesourcetopology-api repo
  sig-node/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/node, size/XS

#5294 sig-cluster-lifecycle: update the meeting time to 8AM PT
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, sig/cluster-lifecycle, size/S

#5291 Document process for proposing changes to SIG/WG/UG leadership
  contributors/chairs-and-techleads/leadership-changes.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/M

#5307 api-conventions: Clarify that constant rules apply to flags and config
  contributors/devel/sig-architecture/api-conventions.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/S

#5309 Move sig-scale meetings to 10:30 PT
  sig-list.md
  sig-scalability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/XS

#5310 Add CAPN Community Call
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#5313 Add sig-instrumentation meeting note archive
  sig-instrumentation/archive/meeting-notes-2016.md
  sig-instrumentation/archive/meeting-notes-2017.md
  sig-instrumentation/archive/meeting-notes-2018.md
  sig-instrumentation/archive/meeting-notes-2019.md
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/XXL

#5308 api-conventions: Typo in initials
  contributors/devel/sig-architecture/api-conventions.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/XS

#5312 Archive client-go-docs channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5314 Update Data Protection WG page
  sigs.yaml
  wg-data-protection/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#5286 SIG List: rotate SIG Release tech leads and chairs
  OWNERS_ALIASES
  sig-list.md
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#5288 Add website guidelines
  communication/README.md
  communication/website-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, sig/docs, size/M

#5319 Trivial: code highlight for Event fields in style guide
  contributors/devel/sig-instrumentation/event-style-guide.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/instrumentation, size/S

#5323 Adding KEP process info
  sig-architecture/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/architecture, size/S

#5275 SIG-Autoscaling - Update meeting details
  sig-autoscaling/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/autoscaling, size/S

#5329 tiny whitespace fix
  contributors/guide/pull-requests.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, needs-ok-to-test, sig/contributor-experience, size/XS

#5332 Fix small typo
  contributors/guide/first-contribution.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5331 Add Dave Smith-Uchida to the Velero group
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5330 Remove Stephanie from the Velero slack
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5241 Add CSI driver doc to developer guide
  contributors/devel/README.md
  contributors/devel/sig-storage/flexvolume.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/storage, size/XS

#5333 slack-config: Update SIG usergroups + add PSC groups
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/M

#5334 slack-config: fix mik-dass user ID
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5322 sig-cli: add Eddie Zaneski as a co-chair
  OWNERS_ALIASES
  sig-cli/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cli, size/S

#5327 Add munnerz as a primary admin/approver
  communication/slack-config/OWNERS
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5318 Remove jonasrosland from the comms team
  communication/marketing-team/OWNERS
  communication/slack-config/usergroups.yaml
Labels: approved, area/community-management, area/contributor-comms, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5306 Add kubeinit channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5325 Add Hetzner to channels
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5336 Simplifying Service APIs Meeting Times
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/S
