Repository kubernetes/community, pull requests merged in 2020-04, with the labels that each got.

#4665 Add Taylor Dolezal to SIG Docs Tech Leads
  OWNERS_ALIASES
  sig-docs/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#4669 Add Guy Templeton to SIG-Autoscaling leads
  OWNERS_ALIASES
  sig-autoscaling/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/autoscaling, size/XS

#4654 sig-storage: add repos to nfs-provisioner subproject
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#4603 Replace SIG/WG meeting placeholder references with Zoom links-6
  sig-list.md
  sig-node/README.md
  sig-pm/README.md
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/node, sig/pm, sig/release, size/S

#4604 Replace SIG/WG meeting placeholder references with Zoom links-7
  sig-list.md
  sig-scalability/README.md
  sig-scheduling/README.md
  sig-service-catalog/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/scalability, sig/scheduling, sig/service-catalog, size/S

#4606 Replace SIG/WG meeting placeholder references with Zoom links-9
  sig-list.md
  sig-windows/README.md
  sigs.yaml
  ug-big-data/README.md
  wg-iot-edge/README.md
  wg-k8s-infra/README.md
  wg-lts/README.md
  wg-machine-learning/README.md
  wg-multitenancy/README.md
  wg-policy/README.md
  wg-resource-management/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/windows, size/M, ug/big-data, wg/apply, wg/iot-edge, wg/multitenancy, wg/policy, wg/resource-management

#4643 Add k8spin channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4675 sig-auth: add wg-policy-prototypes repo
  sig-auth/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/auth, size/XS

#4668 Improve squashing documentation
  contributors/guide/contributor-cheatsheet/README.md
  contributors/guide/github-workflow.md
  contributors/guide/pull-requests.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/L, tide/merge-method-squash

#4671 Update PRR questionarire
  sig-architecture/production-readiness.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/L

#4657 Add retrospective document
  events/2019/11-contributor-summit/RETRO.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/L, tide/merge-method-squash

#4689 retire wg resource mgmt
  OWNERS_ALIASES
  archive/wg-resource-management/OWNERS
  archive/wg-resource-management/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#4672 Attach link to the correct text
  contributors/design-proposals/architecture/architecture.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, needs-ok-to-test, sig/architecture, size/XS

#4678 Delete deprecated flag in the guide
  contributors/devel/running-locally.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, size/XS

#4692 releng: Update release-managers Slack User Group
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#4690 Adding dex slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4694 slack-config: archive wg-resource-mgmt channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4695 Creating channel for Dex (#dexidp)
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4662 Update e2e test doc to remove mention of federation testing
  contributors/devel/sig-testing/e2e-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/testing, size/L

#4688 Markdownify our retrospective and check them into the event folders
  events/2018/05-contributor-summit/RETRO.md
  events/2018/12-contributor-summit/RETRO.md
  events/2019/05-contributor-summit/RETRO.md
  events/events-team/feedback.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XL

#4693 sig-contribex: add castrojo as co-chair
  OWNERS_ALIASES
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4703 Add Shanghai retro
  events/2019/06-contributor-summit/RETRO.md
  events/events-team/feedback.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#4686 Moved myself to emeritus
  OWNERS_ALIASES
  sig-list.md
  sig-usability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/usability, size/S

#4704 Update zoom guidelines with waiting room info
  communication/zoom-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4702 sig-contribex APAC coordinator April update
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
  sig-contributor-experience/role-handbooks/apac-coordinator.md
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4706 CNCF mentoring repo URL updated
  mentoring/programs/google-summer-of-code.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4711 Adding marketing team meeting notes
  sig-contributor-experience/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4701 Fixes broken link for WG-IOT-EDGE meeting timezone conversion.
  sig-list.md
  sigs.yaml
  wg-iot-edge/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/iot-edge

#4714 sigs.yaml: add kubernetes-sigs/boskos
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#4655 Add WG API Expression
  OWNERS_ALIASES
  archive/wg-apply/OWNERS
  archive/wg-apply/README.md
  communication/slack-config/channels.yaml
  sig-list.md
  sigs.yaml
  wg-api-expression/OWNERS
  wg-api-expression/README.md
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, committee/steering, lgtm, sig/api-machinery, sig/contributor-experience, size/L, wg/apply

#4717 Removed City of Ottawa from company list :(
  events/office-hours.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4700 Move cluster-proportional subprojects to sig-network
  sig-autoscaling/README.md
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/autoscaling, sig/network, size/S

#4720 Update developer guide
  contributors/devel/development.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, size/S

#4724 fix zoom url and meeting notes url for sig instrumentation
  sig-instrumentation/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/S

#4722 SIG PM Retirement + Enhancements subproject transfer to SIG Arch
  OWNERS_ALIASES
  archive/sig-pm/OWNERS
  archive/sig-pm/README.md
  communication/slack-config/channels.yaml
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-architecture/OWNERS
  communication/slack-config/sig-architecture/config.yaml
  communication/slack-config/sig-architecture/usergroups.yaml
  communication/slack-config/users.yaml
  sig-architecture/README.md
  sig-list.md
  sigs.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/architecture, sig/contributor-experience, size/L

#4725 sig-storage: add gluster provisioner repos
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#4727 Update mailing list permissions guidelines
  communication/mailing-list-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4648 Add Namespace Sameness position statement
  sig-multicluster/namespace-sameness-position-statement.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, ok-to-test, sig/multicluster, size/L

#4719 Add office hours events
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S

#4708 Add OBS streaming config/info
  communication/youtube/obs/streaming-key.md
  communication/youtube/obs/wizard-screenshots/obs-1.png
  communication/youtube/obs/wizard-screenshots/obs-2.png
  communication/youtube/obs/wizard-screenshots/obs-3.png
  communication/youtube/obs/wizard-screenshots/obs-4.png
  communication/youtube/obs/wizard-screenshots/obs-5.png
  communication/youtube/obs/wizard-screenshots/obs-6.png
  communication/youtube/obs/youtube-stream-dashboard.png
  communication/youtube/streaming-config.md
  communication/youtube/youtube-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4730 Update Steering Committee members
  OWNERS_ALIASES
  committee-steering/README.md
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/S

#4698 Update sig-arch code org Zoom code
  sig-architecture/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#4401 Archive SIG-Node meeting notes 2019
  sig-node/archive/meeting-notes-2019.md
Labels: approved, cncf-cla: yes, lgtm, sig/node, size/XL

#4697 Add windows-containerd slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4735 sig-cluster-lifecycle: remove kubernetes-anywhere
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#4738 migrate kubernetes-incubator/cluster-proportional* to kubernetes-sigs
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/XS

#4740 update wg-api-expression meeting info
  sig-list.md
  sigs.yaml
  wg-api-expression/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/api-expression

#4713 Move NCW under Mentoring subproject
  events/events-team/README.md
  events/events-team/content/README.md
  mentoring/programs/new-contributor-workshop/OWNERS
  mentoring/programs/new-contributor-workshop/README.md
  mentoring/programs/new-contributor-workshop/build-and-test.md
  mentoring/programs/new-contributor-workshop/community-groups.md
  mentoring/programs/new-contributor-workshop/contributor-paths.md
  mentoring/programs/new-contributor-workshop/first-issue-help.md
  mentoring/programs/new-contributor-workshop/how-we-communicate.md
  mentoring/programs/new-contributor-workshop/labels-and-bots.md
  mentoring/programs/new-contributor-workshop/live-pr-demo.md
  mentoring/programs/new-contributor-workshop/new-contributor-workshop-lead.md
  mentoring/programs/new-contributor-workshop/playground-exercise.md
  mentoring/programs/new-contributor-workshop/repo-tour.md
  mentoring/programs/new-contributor-workshop/workspace-setup.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#4747 Cleanup and rewording on one on one mentoring
  mentoring/programs/the1-on-1hour.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#4741 Update azure meeting to biweekly
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, size/S

#4746 sig-network: document service-apis slack channel
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/XS

#4742 Create a slack channel where we can discuss K8s Binding patterns.
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#4753 Add dashpole as sig-instrumentation tech lead
  OWNERS_ALIASES
  sig-instrumentation/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/XS
