Repository kubernetes/community, pull requests merged in 2020-09, with the labels that each got.

#5045 Developer Guide: Refresh e2e testing documents for kubetest2
  contributors/devel/sig-testing/e2e-tests-kubetest2.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#5089 elections: add date for steering/candidate Q+A session
  events/elections/2020/README.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/XS

#5091 Developer Guide: Followup to correct stale information, missing step
  contributors/devel/development.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, needs-ok-to-test, size/S

#5079 community/icons: Graphics out of sync
  icons/png/infrastructure_components/labeled/master-128.png
  icons/png/infrastructure_components/labeled/master-256.png
  icons/svg/infrastructure_components/labeled/master.svg
  icons/tools/rasterize.sh
  icons/visio/kubernetes-visio-stencil.vssx
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#5087 We give talks about contribex, this lists some good ones in our README
  sig-contributor-experience/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S, tide/merge-method-squash

#5094 Remove wg-machine-learning from community group inventory
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#5095 Added three voters to voters.md based on exception requests
  events/elections/2020/voters.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/XS

#5084 Fixing broken link for KEP
  committee-steering/governance/sig-governance.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/XS, tide/merge-method-squash

#5099 chore: remove broken link image from readme
  README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#5088 Update channels.yaml
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5097 Add slack channel for node-feature-discovery
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5104 sig-release: add zeitgeist
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#5105 communication/slack-config/channels.yaml: Add prometheus-operator-dev
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5115 Add Divya Mohan bio for Steering committee election 2020
  events/elections/2020/biotemplate.md
  events/elections/2020/divya-mohan.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#5116 Add 2020 Steering candidate bio for Carlos Panato
  events/elections/2020/README.md
  events/elections/2020/carlos-panato.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#5118 elections: re-add biotemplate.md
  events/elections/2020/biotemplate.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/S

#5117 Add rajula to upstream marketing slack usergroup
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5111 Add 2020 Steering candidate bio for Stephen Augustus
  events/elections/2020/README.md
  events/elections/2020/stephenaugustus.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#5110 Add Jordan Liggitt bio
  events/elections/2020/jordanliggitt.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#5102 Add Dims bio for 2020 steering election
  events/elections/2020/README.md
  events/elections/2020/davanumsrinivas.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#5100 Update channels.yaml to include new slack channel.
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5108 Add Bob Killen bio for 2020 Steering Committee election
  events/elections/2020/bobkillen.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#5114 add Ian Coldwater bio for Steering committee election 2020
  events/elections/2020/README.md
  events/elections/2020/iancoldwater.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#5106 Add Lachlan Evenson candidate bio for SC 2020 election
  events/elections/2020/README.md
  events/elections/2020/lachlanevenson.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/S

#5121 2020 steering election: fix up candidate index
  events/elections/2020/README.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/S

#5124 Update info in svc-cat chairs section
  sig-list.md
  sig-service-catalog/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/service-catalog, size/XS

#5122 Added two more voters per exception requests.
  events/elections/2020/voters.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/XS

#5109 Add Federico Bongiovanni BIO for Steering election
  events/elections/2020/README.md
  events/elections/2020/fedebongio.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#5103 add mayanks bio for 2020 steering election
  events/elections/2020/README.md
  events/elections/2020/mayankkumar.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#5130 Update SIG Testing zoom meetings
  sig-list.md
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#5133 Fix voters list to included previously approved voter.
  events/elections/2020/voters.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/XS

#5135 Update my name
  committee-code-of-conduct/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#5134 wg-naming: add meeting info
  sig-list.md
  sigs.yaml
  wg-naming/README.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/S, wg/naming

#5136 update link to reboot test in writing good e2e tests doc
  contributors/devel/sig-testing/writing-good-e2e-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, kind/documentation, lgtm, sig/testing, size/XS

#5131 Update SIG Scalability zoom link
  sig-list.md
  sig-scalability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/XS

#5128 meetings: add CAPDO Office hours
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#5141 Fixing zoom meeting for new passcode requirements.
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#5138 Add link to ballot replacement form and ballot template
  events/elections/2020/README.md
  events/elections/2020/templates/election-templates.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#5132 Updateing SIG Apps chair companies
  sig-apps/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/apps, size/S

#5143 Update sig-cli meeting information
  sig-cli/README.md
  sig-list.md
  sig-security/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cli, size/S

#5144 sig-cluster-lifecycle: update zoom links to include 77777, re-arrange meetings
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, sig/cluster-lifecycle, size/L

#5145 updating with new zoom link for sig-windows
  sig-list.md
  sig-windows/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/windows, size/S

#5142 Correcting mistake: accidentally kept Joel as a chair during WG-SIG transition
  OWNERS_ALIASES
  sig-list.md
  sig-security/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#5147 Archive sig-docs-release channel in favor of release-docs channel
  communication/slack-config/sig-docs/docs-channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#5151 wg-k8s-infra: update zoom meeting link
  sig-list.md
  sigs.yaml
  wg-k8s-infra/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#5150 slack-config/sig-release: Update teams
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/M

#5154 sig-api-machinery: Add apiserver-runtime repo
  sig-api-machinery/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#5155 Update SIG Instrumentation meetings
  sig-instrumentation/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/S

#5123 Update Kubebuilder and Controller Runtime meeting times
  mentoring/programs/office-hours.md
  sig-api-machinery/README.md
  sig-list.md
  sigs.yaml
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/api-machinery, sig/contributor-experience, size/S

#5152 Updated chairs, recordings link and security audit subproject owners …
  OWNERS_ALIASES
  sig-list.md
  sig-security/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, tide/merge-method-squash

#5158 fix broken links in README
  README.md
  contributors/guide/contributing.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5160 Changing mentoring meeting time
  mentoring/programs/README.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4787 Add Stephanie + Bridget to the Velero user group
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5161 Add one more voter
  events/elections/2020/voters.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/XS

#5164 Update WG IoT Edge meetings
  sig-list.md
  sigs.yaml
  wg-iot-edge/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/iot-edge

#5163 Correct a markdown bug introduced in previous commit
  sig-wg-lifecycle.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#5127 Create WG Reliability
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-reliability/README.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/M

#5165 Create WG-Reliability slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#4521 Update Condition guidance
  contributors/devel/sig-architecture/api-conventions.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, priority/critical-urgent, sig/architecture, size/M

#5168 releng: Add Marky to Release Manager Associates
  communication/slack-config/sig-release/usergroups.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#4976 Retiring wg-security-audit and transferring assets to sig-security
  OWNERS_ALIASES
  archive/wg-security-audit/OWNERS
  archive/wg-security-audit/README.md
  archive/wg-security-audit/letter-to-steering.md
  sig-list.md
  sig-security/security-audit-2019/Atredis and Trail of Bits Proposal.pdf
  sig-security/security-audit-2019/RFP.md
  sig-security/security-audit-2019/RFP_Decision.md
  sig-security/security-audit-2019/ancillary-data/dataflow/original dataflow.dot
  sig-security/security-audit-2019/ancillary-data/dataflow/original dataflow.png
  sig-security/security-audit-2019/ancillary-data/dataflow/process.sh
  sig-security/security-audit-2019/ancillary-data/dataflow/requirements.txt
  sig-security/security-audit-2019/ancillary-data/dataflow/tm.py
  sig-security/security-audit-2019/ancillary-data/dataflow/updated-dataflow.dot
  sig-security/security-audit-2019/ancillary-data/dataflow/updated-dataflow.png
  sig-security/security-audit-2019/ancillary-data/rapid-risk-assessments/container-runtime.md
  sig-security/security-audit-2019/ancillary-data/rapid-risk-assessments/etcd.md
  sig-security/security-audit-2019/ancillary-data/rapid-risk-assessments/kcm-ccm-notes.md
  sig-security/security-audit-2019/ancillary-data/rapid-risk-assessments/kube-apiserver.md
  sig-security/security-audit-2019/ancillary-data/rapid-risk-assessments/kube-proxy.md
  sig-security/security-audit-2019/ancillary-data/rapid-risk-assessments/kube-scheduler.md
  sig-security/security-audit-2019/ancillary-data/rapid-risk-assessments/kubelet.md
  sig-security/security-audit-2019/ancillary-data/rapid-risk-assessments/template.md
  sig-security/security-audit-2019/findings/AtredisPartners_Attacking_Kubernetes-v1.0.pdf
  sig-security/security-audit-2019/findings/Kubernetes Final Report.pdf
  sig-security/security-audit-2019/findings/Kubernetes Threat Model.pdf
  sig-security/security-audit-2019/findings/Kubernetes White Paper.pdf
  sigs.yaml
Labels: approved, area/community-management, area/developer-guide, area/slack-management, cncf-cla: yes, lgtm, sig/architecture, sig/contributor-experience, sig/release, size/M, wg/iot-edge, wg/security-audit

#5171 Rename #k14s to #carvel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5174 sig-contribex: Update Meetings
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#5149 Updated readme.md to align with style guide
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#5178 Add in deadline for replacement ballot requests.
  events/elections/2020/README.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/XS

#5126 Add onboarding and offboarding procedures for cocc members
  committee-code-of-conduct/governance/onboarding-offboarding.md
Labels: approved, cncf-cla: yes, lgtm, size/M
