Repository kubernetes/community, pull requests merged in 2021-10, with the labels that each got.

#6098 Archive abandoned channel #community-sites per discussion
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6073 slack: add channel cluster-api-kubemark
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#6102 SIG-CLI: add KnVerey as chair and TL, move pwittrock to emeritus
  OWNERS_ALIASES
  sig-cli/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cli, size/S

#6103 Add template for candidate qualification announcement.
  events/elections/2021/templates/election-templates.md
  events/elections/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, committee/steering, area/elections

#6070 Update pmorie's affiliation
  sig-list.md
  sig-multicluster/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/multicluster, size/XS

#6101 Fix: Broken link on non-code-contributions
  contributors/guide/non-code-contributions.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide, ok-to-test

#6106 Add a kubetest2 link to contributors/README.md
  contributors/devel/README.md
Labels: lgtm, cncf-cla: yes, approved, needs-ok-to-test, size/XS, area/developer-guide

#6109 Update channels.yaml
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, tide/merge-method-squash, ok-to-test, area/slack-management

#6069 sig-testing: propose new TLs
  OWNERS_ALIASES
  sig-testing/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/S

#6104 Add instructions for qualifying candidates to the README
  events/elections/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, committee/steering, area/elections

#5864 Add documentation for multiple kubernetes/kubernetes/hack/verify* tests
  contributors/devel/sig-testing/verify-tests.md
Labels: lgtm, cncf-cla: yes, approved, sig/api-machinery, sig/cli, sig/testing, size/M, ok-to-test, area/developer-guide

#6113 fix cluster-lifecycle meeting time
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/XS

#6105 Add Steering Committee 2021 candidate: Lachlan Evenson
  events/elections/2021/candidate-LachlanEvenson.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, committee/steering

#6114 Remove @ in candidate profiles, apparently causing a parse error.
  events/elections/2021/candidate-LachlanEvenson.md
  events/elections/2021/nomination-template.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, committee/steering

#6115 Removing more characters to fix the parse error
  events/elections/2021/candidate-LachlanEvenson.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, committee/steering

#6116 One more profile linking fix, so that Lachie will display correctly.
  events/elections/2021/candidate-lachie83.md
  events/elections/2021/nomination-template.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, committee/steering

#6119 Fix Elekto link.
  events/elections/2021/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, committee/steering, area/elections
