Repository kubernetes/community, pull requests merged in 2021-02, with the labels that each got.

#5445 Update support resources in github issue template
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/support.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S

#5447 sig-instrumentation: add prometheus-adapter repo
  sig-instrumentation/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/XS

#5450 Fixed spell errors contributors/devel/development.md
  contributors/devel/development.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, size/S

#5457 Update YouTube admins
  communication/moderators.md
  communication/slack-config/usergroups.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#5458 Move new platform support guide to k/sig-release
  contributors/devel/sig-architecture/platforms.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/L

#5456 fix typo
  contributors/devel/sig-instrumentation/migration-to-structured-logging.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/instrumentation, size/XS

#5461 Update contributors development.md
  contributors/devel/development.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS

#5416 Initial publication of 2021 third-party security audit RFP.
  sig-security/security-audit-2021/RFP.md
Labels: approved, cncf-cla: yes, lgtm, sig/security, size/L

#5464 Update instrumentation.md
  contributors/devel/sig-instrumentation/instrumentation.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/instrumentation, size/XS

#5471 Update 2021 Security Audit date typo
  sig-security/security-audit-2021/RFP.md
Labels: approved, cncf-cla: yes, lgtm, sig/security, size/XS

#5474 Add Flake Finder Fridays assets
  contributors/devel/sig-release/flake-finders/README.md
  contributors/devel/sig-release/flake-finders/episodes/000/README.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/release, size/L

#5477 Slack: Update SIG ContribEx channels
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5440 Move testing-commons subproject to best-effort
  communication/slack-config/channels.yaml
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-testing/OWNERS
  communication/slack-config/sig-testing/config.yaml
  communication/slack-config/sig-testing/usergroups.yaml
  communication/slack-config/usergroups.yaml
  sig-list.md
  sig-testing/README.md
  sigs.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/M

#5472 Add spiffxp as approver
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#5476 Update kubemark setup guidance
  contributors/devel/sig-scalability/hollow-node_simplified_template.yaml
  contributors/devel/sig-scalability/kubemark-setup-guide.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/scalability, size/M

#5481 Spelling and grammar fixes in edge whitepaper
  wg-iot-edge/whitepapers/edge-security-challenges/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/iot-edge

#5482 typo in liaison name
  liaisons.md
  sig-api-machinery/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#5436 Add guidelines for node PR triage
  contributors/devel/sig-node/triage.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/node, size/L, tide/merge-method-squash

#5486 Add guidance for fatal exit codes
  contributors/devel/sig-instrumentation/migration-to-structured-logging.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/instrumentation, size/XS

#5465 devel/sig-scheduling: add scheduler framework plugins doc
  contributors/devel/sig-scheduling/scheduler_framework_plugins.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/scheduling, size/L

#5483 Renaming Service APIs to Gateway API
  communication/slack-config/sig-network/config.yaml
  mentoring/programs/office-hours.md
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: approved, area/community-management, area/mentorship-planning, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/network, size/M

#5493 Updated Azure Subproject to alternate timezones
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, size/S

#5520 recommend using bazelisk
  contributors/devel/sig-testing/bazel.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#5524 sig-cluster-lifecycle: remove SIG zoom call in China
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/S

#5523 sig-cluster-lifecycle: add CONTRIBUTING.md
  sig-cluster-lifecycle/CONTRIBUTING.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/M

#5530 Offboard Craig
  OWNERS_ALIASES
  committee-product-security/README.md
  communication/slack-config/usergroups.yaml
  sig-list.md
  sigs.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, committee/product-security, lgtm, sig/contributor-experience, size/XS

#5527 Require applicable cherry picks to active branches
  contributors/devel/sig-release/cherry-picks.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/release, size/S

#5349 Add documentation for hack/verify* tests.
  contributors/devel/sig-testing/verify-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/security, sig/testing, size/M

#5519 Initial commit of the awards playbook and awards list for 2020
  events/awards/README.md
  events/awards/playbook.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/L, tide/merge-method-squash

#5533 Add Pablo to Pinniped user group
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5411 Rewrite community values
  values.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, ok-to-test, size/S, tide/merge-method-squash

#5521 minor update to api_changes to highlight gate on/off scenario
  contributors/devel/sig-architecture/api_changes.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/M, tide/merge-method-squash

#5534 Update README.md
  sig-docs/blog-subproject/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#5487 NCW: Add docs for requesting coupon codes
  mentoring/programs/new-contributor-workshop/resources/README.md
  mentoring/programs/new-contributor-workshop/resources/new-contributor-workshop-lead.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#5526 Updated youtube-guidelines.md
  communication/youtube/youtube-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S

#5539 Add docs about github tokens for cherrypicking
  contributors/devel/sig-release/cherry-picks.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/release, size/XS

#5455 add guidance about avoiding cross namespace references from namespaced resource
  contributors/devel/sig-architecture/api-conventions.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/S

#5544 sig-testing: add k/sig-testing repo
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#5537 Update instruction for naming arguments
  contributors/devel/sig-instrumentation/migration-to-structured-logging.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/instrumentation, size/L, tide/merge-method-squash

#5549 ncw: add link to slides from previous workshops
  mentoring/programs/new-contributor-workshop/resources/README.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5552 slack-config: add usergroup for steering-committee
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#5452 sig-multicluster: add work-api repo
  sig-multicluster/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/multicluster, size/XS

#5556 Add myself to sig-release TL and update enhancement meeting time
  OWNERS_ALIASES
  sig-architecture/README.md
  sig-list.md
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/release, size/S

#5492 update logging guideline re. shared libraries
  contributors/devel/sig-instrumentation/logging.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/instrumentation, size/XS

#5553 slack-config: rename steering-committee usergroup to steering
  communication/slack-config/usergroups.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5560 slack-config: rename steering usergroup to steering-members
  communication/slack-config/usergroups.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5414 Basic instructions on light, equipment, background and where to save …
  mentoring/programs/new-contributor-workshop/videoguide.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/L

#5562 sig-release: Jorge Alarcon Ochoa is now an Emeritus Tech Lead
  OWNERS_ALIASES
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#5548 Move link to LWKD under "other" section in communications.
  communication/README.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS
