Repository kubernetes/community, pull requests merged in 2021-12, with the labels that each got.

#6255 Documment logging formats
  contributors/devel/sig-instrumentation/logging.md
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/M, area/developer-guide

#6259 sig-arch: Update design proposals location
  sig-architecture/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/XS

#5373 Add note about calendar invites to templates
  committee-steering/README.md
  generator/committee_readme.tmpl
  generator/sig_readme.tmpl
  generator/ug_readme.tmpl
  generator/wg_readme.tmpl
  sig-api-machinery/README.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-auth/README.md
  sig-autoscaling/README.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-contributor-experience/README.md
  sig-docs/README.md
  sig-instrumentation/README.md
  sig-k8s-infra/README.md
  sig-multicluster/README.md
  sig-network/README.md
  sig-node/README.md
  sig-release/README.md
  sig-scalability/README.md
  sig-scheduling/README.md
  sig-security/README.md
  sig-service-catalog/README.md
  sig-storage/README.md
  sig-testing/README.md
  sig-ui/README.md
  sig-usability/README.md
  sig-windows/README.md
  ug-big-data/README.md
  ug-vmware-users/README.md
  wg-api-expression/README.md
  wg-data-protection/README.md
  wg-iot-edge/README.md
  wg-multitenancy/README.md
  wg-policy/README.md
  wg-reliability/README.md
  wg-structured-logging/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/api-machinery, sig/apps, sig/architecture, sig/auth, sig/autoscaling, ug/big-data, sig/cli, sig/cluster-lifecycle, sig/contributor-experience, sig/docs, sig/multicluster, sig/instrumentation, sig/network, sig/node, sig/release, sig/scalability, sig/scheduling, sig/service-catalog, sig/storage, sig/testing, sig/ui, sig/windows, size/M, committee/steering, sig/cloud-provider, wg/multitenancy, wg/iot-edge, wg/policy, sig/usability, wg/api-expression, wg/naming, sig/security, sig/k8s-infra

#6257 Add KPNG APAC meeting
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/XS

#6261 Adding meeting details for cluster-api-provider-kubevirt project
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/S, tide/merge-method-squash, ok-to-test

#6260 steering: Add Committee liaisons
  committee-code-of-conduct/README.md
  committee-security-response/README.md
  liaisons.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S

#6277 Add dockershim slack channel
  communication/slack-config/sig-docs/docs-channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/docs, size/XS, area/community-management, area/slack-management

#6249 add krm-functions subproject in sig-cli
  sig-cli/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cli, size/S

#6276 Added the Contributor Katacoda owners file under SIG-Contribex mentoring subproject
  sig-contributor-experience/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, tide/merge-method-squash

#6242 Adding markyjackson-taulia to mods list
  communication/moderators.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management

#6271 github-mgmt: Add `kubernetes-nightly` as a community-owned org
  github-management/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/github-management

#6284 Add SIG Instrumentation 2021 meeting notes archive
  sig-instrumentation/archive/meeting-notes-2021.md
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/XL

#6262 Upload ballots and complete rankings for 2021 SC election.
  events/elections/2021/ballots.csv
  events/elections/2021/ranking.md
  events/elections/2021/results.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, committee/steering, area/elections

#6272 committee-steering/governance/README.md: Typo fixes
  committee-steering/governance/README.md
Labels: lgtm, cncf-cla: yes, approved, size/S, committee/steering, ok-to-test

#6240 Cleanup of inactive contributors from OWNERS files
  contributors/guide/owners.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/contributor-guide

#6287 clean up and update spelling_failures
  hack/.spelling_failures
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S

#6286 Archive the 2020 meeting notes.
  sig-contributor-experience/meeting-notes-archive/2020-meeting-notes.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XXL

#6296 Update affiliation for KnVerey
  sig-cli/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cli, size/S

#6253 Converted issue templates to GH forms
  .github/ISSUE_TEMPLATE/general-issue.yml
  .github/ISSUE_TEMPLATE/general-support.md
  .github/ISSUE_TEMPLATE/marketing-request.md
  .github/ISSUE_TEMPLATE/marketing-request.yml
  .github/ISSUE_TEMPLATE/moderator_application.md
  .github/ISSUE_TEMPLATE/moderator_application.yml
  .github/ISSUE_TEMPLATE/slack-request.md
  .github/ISSUE_TEMPLATE/slack-request.yml
  .github/ISSUE_TEMPLATE/survey-request.md
  .github/ISSUE_TEMPLATE/survey-request.yml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, tide/merge-method-squash

#6295 Annual report process cleanup
  committee-steering/governance/annual-reports.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#6302 slack: update release-managers group config
  communication/slack-config/sig-release/usergroups.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/release, size/XS, area/community-management, area/slack-management

#6294 Update usergroups.yaml
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management, tide/merge-method-squash, area/slack-management

#6293 Update moderators.md
  communication/moderators.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, tide/merge-method-squash

#6181 Reword github keywords usage in PR and commit messages
  contributors/guide/pull-requests.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide, ok-to-test

#6280 Adding markyjackson-taulia to reviewers
  communication/OWNERS
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management

#6313 add new repo related to pausing image reference
  contributors/devel/sig-node/updating-pause-images.md
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/XS, area/developer-guide
