Repository kubernetes/community, pull requests merged in 2021-04, with the labels that each got.

#5573 SIG ContribEx: Add 2021 Annual Report
  sig-contributor-experience/annual-report-2020.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#5675 Add #ko-project to channels.yaml
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5682 Fix descriptions in sig-release usergroups.
  communication/slack-config/sig-release/usergroups.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/S

#5683 SIG ContribEx: Correct Annual Report Year
  sig-contributor-experience/annual-report-2021.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5673 Fix broken links in contributors/devel/sig-scheduling
  contributors/devel/sig-scheduling/scheduler.md
  contributors/devel/sig-scheduling/scheduler_algorithm.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/scheduling, size/M

#5684 communication: reconcile kubernetes-dev staff
  communication/moderators.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5687 Rename kubernetes-sigs/slack-infra default branch
  communication/slack-config/README.md
  sig-contributor-experience/README.md
  sigs.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5604 Add annual report for SIG-Storage
  sig-storage/annual-report-2021.md
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/L

#5667 Add devops-stack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5689 communication: add cpanato to k-dev moderator group
  communication/moderators.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5662 fix up sig-arch timezone
  sig-architecture/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/architecture, size/XS

#5692 wg-k8s-infra: update meeting time
  sig-list.md
  sigs.yaml
  wg-k8s-infra/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#5679 Update sig security external audit subgroup chair to Rey Lejano
  sig-security/sig-security-external-audit/OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/security, size/XS

#5694 Fix typo in first-contribution.md
  contributors/guide/first-contribution.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, needs-ok-to-test, sig/contributor-experience, size/XS

#5686 Promote Tabitha to full PSC member
  OWNERS_ALIASES
  committee-product-security/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/XS

#5608 Add annual report for Data Protection WG 2021
  wg-data-protection/annual-report-2021.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#5664 sig-storage: add volume-populators subproject
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#5696 sig-multicluster: add about-api subproject
  sig-multicluster/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/multicluster, size/XS

#5695 Include documentation for listTypes in api conventions
  contributors/devel/sig-architecture/api-conventions.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/XS

#5699 Add #kubewarden slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5697 sig-instrumentation: add instrumentation-addons repo
  sig-instrumentation/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/XS

#5688 docs: update default-branch-migration.md
  github-management/default-branch-migration.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#5698 sig-release: Add 2021 annual report
  sig-release/annual-report-2021.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#5594 sig-cluster-lifecycle: add annual report for 2021
  sig-cluster-lifecycle/annual-report-2021.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/M

#5708 Add slack contact for sig-security-docs
  sig-security/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/security, size/XS

#5706 A note on CP reviews
  contributors/devel/sig-release/cherry-picks.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/release, size/S

#5669 Add annual report for SIG-MC
  sig-multicluster/annual-report-2021.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/multicluster, size/M

#5674 sig-scheduling: Scheduler code hierarchy overview
  contributors/devel/sig-scheduling/default_scheduler_architecture.png
  contributors/devel/sig-scheduling/scheduling_code_hierarchy_overview.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/scheduling, size/L

#5711 Add Tabitha to PSC usergroup
  communication/slack-config/usergroups.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5557 SIG-Scheduling 2020 Annual Report
  sig-scheduling/2020-annual-report.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/scheduling, size/L

#5653 bringing group mentoring program current
  mentoring/programs/group-mentoring.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#5657 bringing group mentoring process current
  mentoring/processes/group-mentoring.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#5718 Fixing links on group-mentoring.md
  mentoring/programs/group-mentoring.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5719 docs: clarify github tokens and cherry-pick script
  contributors/devel/sig-release/cherry-picks.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/release, size/S, tide/merge-method-squash

#5468 Clear instructions for structured log migration
  contributors/devel/sig-instrumentation/migration-to-structured-logging.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/instrumentation, size/XS

#5720 Archive 2020 SIG-Auth meeting notes
  sig-auth/archive/meeting-notes-2020.md
Labels: approved, cncf-cla: yes, lgtm, sig/auth, size/XL

#5715 github-management: update org invite SLO to one week
  github-management/org-owners-guide.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5725 sig-arch: add depstat repo
  sig-architecture/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#5726 sig-storage: add cosi-driver-minio repo
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#5714 Warn that SMP is somewhat obsolete
  contributors/devel/sig-api-machinery/strategic-merge-patch.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#5717 Slack: adding new memebers of contrib-comms
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/contributor-comms, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#5701 Update sig-auth subproject OWNERS links
  sig-auth/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/auth, size/XS

#5569 docs: SIG Docs 2020 Annual Report
  sig-docs/annual-report-2021.md
  sig-docs/devstats/devstats-quarter-2021.png
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/docs, size/L

#5589 apimachinery annual report for 2020
  sig-api-machinery/annual-report-2020.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/api-machinery, size/L

#5731 Update Stephen Augustus' affiliation
  sig-list.md
  sig-release/README.md
  sigs.yaml
  wg-naming/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S, wg/naming

#5728 SIG Auth chair change: s/tallclair/ritazh/
  OWNERS_ALIASES
  sig-auth/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/auth, size/S

#5733 Going emeritus, remove zacharysarah from WG Naming
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-naming/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/naming

#5732 docs(contributor guide): fix broken link
  sig-contributor-experience/charter.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5709 Update the last community update in scalability report
  sig-scalability/annual-report-2021.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/XS

#5735 Update RFP closure dates and audit timeline
  sig-security/security-audit-2021/RFP.md
Labels: approved, cncf-cla: yes, lgtm, sig/security, size/S

#5737 Update instrumentation.md with current information
  contributors/devel/sig-instrumentation/instrumentation.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/instrumentation, size/S

#5739 Add PRR to shadow programs
  mentoring/programs/shadow-roles.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5729 Add docs about debugging an e2e test with delve
  contributors/devel/sig-testing/e2e-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#5741 Update mentoring meeting
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5742 🐳 Link to clusterloader2, and new docs repo of etcd.
  sig-scalability/configs-and-limits/provider-configs.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, sig/scalability, size/XS

#5565 Adding SIG Process/Workflow Guide and related images
  contributors/chairs-and-techleads/BOM_board.png
  contributors/chairs-and-techleads/GitHub_project_board_auto.png
  contributors/chairs-and-techleads/Prioritization_framework.png
  contributors/chairs-and-techleads/Rel_Eng_snapshot.png
  contributors/chairs-and-techleads/SIG_Node_PR_triage.png
  contributors/chairs-and-techleads/Storage_tracking_sheet.png
  contributors/chairs-and-techleads/process-workflow-guide.md
  contributors/chairs-and-techleads/triage_party_skaffold.png
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, sig/release, size/L, tide/merge-method-squash

#5601 SIG Node Annual 2021 Report
  sig-node/annual-report-2021.md
Labels: approved, cncf-cla: yes, committee/steering, kind/documentation, lgtm, priority/important-longterm, sig/node, size/M

#5605 SIG CLI Annual 2021 Report
  sig-cli/annual-report-2021.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/cli, size/M

#5744 slack-config: add 1.22 RT Leads to the release-team-lead usergroup
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, do-not-merge/hold, lgtm, priority/critical-urgent, sig/contributor-experience, sig/release, size/S

#5745 slack/sig-release: Update usergroup memberships
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, committee/product-security, lgtm, sig/contributor-experience, sig/release, size/S

#5743 Add 2019 Q4 and 2020 community meeting notes to the archive
  communication/meeting-notes-archive/201911-202010_Community_Meeting_Notes.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XXL, tide/merge-method-squash

#5690 Create Structured Logging Working Group
  OWNERS_ALIASES
  communication/slack-config/channels.yaml
  sig-list.md
  sigs.yaml
  wg-structured-logging/README.md
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/M

#5617 add SIG Security annual report
  sig-security/annual-report-2021.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/security, size/M
