Repository kubernetes/community, pull requests merged in 2021-11, with the labels that each got.

#6192 Adding voters from exception requests.
  events/elections/2021/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, committee/steering

#6191 Fix: Inaccurate Description for Kubernetes Community Values
  values.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, ok-to-test

#6195 Update affiliations for Alison Dowdney
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#6202 Remove APAC Coordinator Meeting from meetings in SIG Contributor Experience
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, ok-to-test

#6204 Fix dates for candidate/public notification.
  events/elections/2021/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, committee/steering, area/elections

#6205 Add recent KubeCon deep dive video links to SIG contributor experience README.md
  sig-contributor-experience/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, ok-to-test

#6212 steering: Update membership following 2021 election
  OWNERS_ALIASES
  committee-steering/README.md
  communication/slack-config/usergroups.yaml
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, committee/steering, area/community-management, area/slack-management

#6211 Publish 2021 election results
  events/elections/2021/RESULTS.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, committee/steering, area/elections

#6213 Change case of results file to make it appear in Elekto.
  events/elections/2021/results.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, committee/steering

#6198 Update URLs in scheduler.md with correct folder path
  contributors/devel/README.md
  contributors/devel/sig-scheduling/scheduler.md
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/M, tide/merge-method-squash, ok-to-test, area/developer-guide

#6214 Request channel krafternetes.
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6199 Cluster API issue5506 - Links to owners files should be updated to use the main branch
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/XS, ok-to-test

#6217 OWNERS(justaugustus): Prune extraneous reviewer roles
  OWNERS_ALIASES
  contributors/guide/OWNERS
  github-management/OWNERS
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide, area/github-management

#6218 slack-config(enhancements): Update subproject owners
  communication/slack-config/sig-architecture/usergroups.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6221 Change 'master' to 'main' in github-workflow markdown
  contributors/guide/github-workflow.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide, tide/merge-method-squash, ok-to-test

#6226 Add channel for controller-runtime
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/api-machinery, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6229 Fixed Typo
  github-management/subproject-responsibilities.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/github-management, ok-to-test

#6183 Updated SIG-Diagram for Community Group Structure
  SIG-diagram.png
  SIG-diagram.svg
Labels: lgtm, cncf-cla: yes, approved, size/XS, tide/merge-method-squash

#6231 steering: Update governance group liaisons
  liaisons.md
  sig-autoscaling/README.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-docs/README.md
  sig-k8s-infra/README.md
  sig-multicluster/README.md
  sig-network/README.md
  sig-node/README.md
  sig-service-catalog/README.md
  sig-ui/README.md
  sigs.yaml
  ug-big-data/README.md
  ug-vmware-users/README.md
  wg-data-protection/README.md
  wg-iot-edge/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/autoscaling, ug/big-data, sig/cli, sig/docs, sig/multicluster, sig/network, sig/node, sig/service-catalog, sig/ui, size/L, committee/steering, sig/cloud-provider, wg/iot-edge, sig/k8s-infra

#5989 Contributor Comms reorganization
  committee-steering/governance/sig-governance.md
  communication/marketing-team/CHARTER.md
  communication/marketing-team/README.md
  communication/marketing-team/role-handbooks/council.md
  communication/marketing-team/role-handbooks/editor.md
  communication/marketing-team/role-handbooks/internal-marketing.md
  communication/marketing-team/role-handbooks/social-media.md
  communication/marketing-team/role-handbooks/storytellers.md
  communication/marketing-team/role-handbooks/wip-roles.md
  communication/marketing-team/storytelling-resources/blog-guidelines.md
  communication/marketing-team/storytelling-resources/event-checklist.md
  communication/marketing-team/storytelling-resources/multichannel-communications.md
  communication/marketing-team/storytelling-resources/social-guidelines.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, committee/steering, area/community-management, area/contributor-comms

#6176 Removed files from sig-security
  sig-security/security-audit-2019/Atredis and Trail of Bits Proposal.pdf
  sig-security/security-audit-2019/RFP.md
  sig-security/security-audit-2019/RFP_Decision.md
  sig-security/security-audit-2019/ancillary-data/dataflow/original dataflow.dot
  sig-security/security-audit-2019/ancillary-data/dataflow/original dataflow.png
  sig-security/security-audit-2019/ancillary-data/dataflow/process.sh
  sig-security/security-audit-2019/ancillary-data/dataflow/requirements.txt
  sig-security/security-audit-2019/ancillary-data/dataflow/tm.py
  sig-security/security-audit-2019/ancillary-data/dataflow/updated-dataflow.dot
  sig-security/security-audit-2019/ancillary-data/dataflow/updated-dataflow.png
  sig-security/security-audit-2019/ancillary-data/rapid-risk-assessments/container-runtime.md
  sig-security/security-audit-2019/ancillary-data/rapid-risk-assessments/etcd.md
  sig-security/security-audit-2019/ancillary-data/rapid-risk-assessments/kcm-ccm-notes.md
  sig-security/security-audit-2019/ancillary-data/rapid-risk-assessments/kube-apiserver.md
  sig-security/security-audit-2019/ancillary-data/rapid-risk-assessments/kube-proxy.md
  sig-security/security-audit-2019/ancillary-data/rapid-risk-assessments/kube-scheduler.md
  sig-security/security-audit-2019/ancillary-data/rapid-risk-assessments/kubelet.md
  sig-security/security-audit-2019/ancillary-data/rapid-risk-assessments/template.md
  sig-security/security-audit-2019/findings/AtredisPartners_Attacking_Kubernetes-v1.0.pdf
  sig-security/security-audit-2019/findings/Kubernetes Final Report.pdf
  sig-security/security-audit-2019/findings/Kubernetes Threat Model.pdf
  sig-security/security-audit-2019/findings/Kubernetes White Paper.pdf
  sig-security/security-audit-2021/RFP.md
  sig-security/sig-security-docs/OWNERS
  sig-security/sig-security-external-audit/OWNERS
  sig-security/sig-security-external-audit/README.md
  sig-security/sig-security-external-audit/external-audit-roadmap.md
  sig-security/sig-security-tooling/OWNERS
Labels: lgtm, cncf-cla: yes, approved, size/XXL, tide/merge-method-squash, ok-to-test, sig/security

#6237 Update SIG Leads for SIG Scalability
  OWNERS_ALIASES
  sig-list.md
  sig-scalability/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/scalability, size/S

#6196 Add logging header formats in doc
  contributors/devel/sig-instrumentation/logging.md
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/S, ok-to-test, area/developer-guide

#6215 stepping down as sig-service-catalog chair
  OWNERS_ALIASES
  sig-list.md
  sig-service-catalog/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/service-catalog, size/S

#5910 Updating Gateway API Meeting Times
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/S

#5904 Update link to Helm proposal to be part of CNCF
  sig-apps/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/apps, size/XS, lifecycle/active, ok-to-test

#6238 Document expectations of feature gate use per PRR
  contributors/devel/sig-architecture/feature-gates.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/S, area/developer-guide

#6239 sig-release: Add bom subproject
  sig-release/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/XS

#6220 Fixes broken URL in scheduler_algorithm for a deleted documentation
  contributors/devel/sig-scheduling/scheduler_algorithm.md
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/XS, ok-to-test, area/developer-guide

#6245 CoCC: offboard Tim and onboard Carlos
  OWNERS_ALIASES
  committee-code-of-conduct/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S

#6248 Removes [Exclude:WindowsDocker] test tag
  contributors/devel/sig-architecture/conformance-tests.md
  contributors/devel/sig-testing/e2e-tests.md
Labels: lgtm, cncf-cla: yes, approved, kind/cleanup, sig/architecture, sig/testing, sig/windows, size/S, area/developer-guide

#6244 Fix the slack ID for jiangd and yinw
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#6216 cocc/onboarding: Add steps for kubernetes/org GitHub teams and OWNERS
  committee-code-of-conduct/governance/onboarding-offboarding.md
Labels: lgtm, cncf-cla: yes, approved, size/S

#6127 Add documentation for remaining hack/verify* tests
  contributors/devel/sig-testing/verify-tests.md
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/M, ok-to-test, area/developer-guide

#6250 Update pinniped user group membership
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6254 Rename k/community/sig-security links to k/sig-security
  sig-security/README.md
  sig-security/charter.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S, ok-to-test, sig/security
