Repository kubernetes/community, pull requests merged in 2021-05, with the labels that each got.

#5753 slack: create new channel for nginx-ingress development and rename the existing
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5615 SIG Usability 2021 annual report
  sig-usability/annual-report-2021.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/usability, size/M

#5751 Slack Channel Addition
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5575 SIG-Windows 2021 Annual Report
  sig-windows/annual-report-2020.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/windows, size/M

#5758 Fix links from Zoom guidelines
  communication/zoom-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5759 Velero Slack channel updates
  communication/slack-config/channels.yaml
  communication/slack-config/usergroups.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5762 communication/slack-config: split #headlamp into dev and users
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5740 SIG Auth 2021 Annual Report
  sig-auth/annual-report-2021.md
Labels: approved, cncf-cla: yes, lgtm, sig/auth, size/L

#5764 Updating Gateway API Meeting Times
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/S

#5766 Add a public Code of Conduct Slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5765 Add incident response and triage processes
  committee-code-of-conduct/incident-process.md
Labels: approved, cncf-cla: yes, lgtm, size/L

#5768 update CoCC Slack management onboarding/offboarding
  committee-code-of-conduct/governance/onboarding-offboarding.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#5767 Update the CoC readme and process docs
  committee-code-of-conduct/README.md
  committee-code-of-conduct/incident-process.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#5754 Add co-chair Gaby to doc
  OWNERS_ALIASES
  sig-list.md
  sig-usability/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/usability, size/XS

#5470 API conventions: escape back-quotes when visible
  contributors/devel/sig-architecture/api-conventions.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/architecture, size/XS

#5547 Initial template for SIG Cloud Provider 2020 Annual Report
  sig-cloud-provider/2020-annual-report.md
  sig-cloud-provider/cloud-provider-extraction-migration/OWNERS
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/cloud-provider, size/M

#5761 Add #kcp-prototype Slack channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5772 sig-cloud-provider: add provider-aws-test-infra repo
  sig-cloud-provider/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#5769 Add dims as liaison for the new WG structured logging
  liaisons.md
  sigs.yaml
  wg-structured-logging/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#5776 add link for KubeCon EU 2020 sig-contribex talk
  sig-contributor-experience/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5418 Archive 2020 SIG Node meeting notes
  sig-node/archive/README.md
  sig-node/archive/meeting-notes-2020.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/node, size/XXL

#5703 Add SIG Node cherry-pick guide
  contributors/devel/sig-node/cherry-picks.md
Labels: approved, area/developer-guide, cncf-cla: yes, kind/documentation, lgtm, sig/node, size/L, tide/merge-method-squash

#5713 add contributing guide for sig-node
  sig-node/CONTRIBUTING.md
Labels: approved, cncf-cla: yes, lgtm, sig/node, size/M

#5779 Add documentaion for tide/squash-on-merge
  contributors/guide/contributor-cheatsheet/README.md
  contributors/guide/pull-requests.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5778 sig-storage: add cosi-driver-sample repo
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#5774 request slack channel for Kilo
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5780 Document WG Structured Logging regular meeting
  sig-list.md
  sigs.yaml
  wg-structured-logging/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#5783 SIG ContribEx: Move markyjackson-taulia to emeritus
  communication/moderators.md
  communication/slack-config/usergroups.yaml
  mentoring/OWNERS
  mentoring/programs/outreachy.md
Labels: approved, area/community-management, area/mentorship-planning, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#5590 SIG-UI 2021 Annual Report
  sig-ui/annual-report-2021.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/ui, size/L

#5328 Update LF course for inclusive training
  committee-steering/governance/sig-governance.md
  contributors/chairs-and-techleads/leadership-changes.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/XS

#5655 SIG Architecture 2021 Annual Report
  sig-architecture/annual-report-2021.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/architecture, size/L

#5785 Fix a typo in the doc
  contributors/devel/sig-storage/flexvolume.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/storage, size/XS

#5676 Add #undistro to channels.yaml
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5691 Update README.md
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/XS, tide/merge-method-squash

#5792 New channel for security assessment of cluster api
  communication/slack-config/sig-security/config.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, sig/security, size/XS

#5787 rawkode-youtube-mod
  communication/moderators.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5790 sig-auth: add pod-security-admission repo
  sig-auth/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/auth, size/XS

#5795 Update moderators.md
  communication/moderators.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS, tide/merge-method-squash

#5789 CoCC: describe more the info clarifying process
  committee-code-of-conduct/incident-process.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#5794 SIG Apps: Add 2021 Annual Report
  sig-apps/annual-report-2021.md
Labels: approved, cncf-cla: yes, lgtm, sig/apps, size/M

#5793 adding clarification about IP rights
  sig-security/security-audit-2021/RFP.md
Labels: approved, cncf-cla: yes, lgtm, sig/security, size/XS, tide/merge-method-squash

#5748 clarifying schema for multi-kind object references
  contributors/devel/sig-architecture/api-conventions.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, needs-ok-to-test, sig/architecture, size/L

#5796 Add Ingress NGINX sub project meeting
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/network, size/S

#5773 sig-network: add network-policy-api
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/XS

#5788 update the zoom link on the community meeting page
  events/community-meeting.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5804 Add serathius to devel reviewers and approvers
  contributors/devel/sig-instrumentation/OWNERS
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/instrumentation, size/XS

#5803 Support setting depth to structured logging
  contributors/devel/sig-instrumentation/migration-to-structured-logging.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/instrumentation, size/M
