Repository kubernetes/community, pull requests merged in 2021-03, with the labels that each got.

#5577 [flake finders] fix episode 000 readme formatting
  contributors/devel/sig-release/flake-finders/episodes/000/README.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/release, size/M

#5531 wg-api-expression annual report
  wg-api-expression/2020-annual-report.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/M, wg/api-expression

#5453 Add 2021 wg-multitenancy annual report
  wg-multitenancy/2021-annual-report.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/M, wg/multitenancy

#5581 Fix typo in first-contribution page
  contributors/guide/first-contribution.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5540 New PR for an already assigned issues
  contributors/guide/issue-triage.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5585 Update CONTRIBUTING.md
  sig-windows/CONTRIBUTING.md
Labels: approved, cncf-cla: yes, lgtm, sig/windows, size/XS

#5586 Update conformance promotion instruction to support Remove Bazel PR
  contributors/devel/sig-architecture/conformance-tests.md
Labels: approved, area/conformance, area/developer-guide, cncf-cla: yes, kind/cleanup, lgtm, sig/architecture, sig/testing, size/XS

#5587 Change company for saschagrunert
  sig-list.md
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#5479 Grammatically updated Community Membership doc
  community-membership.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S, tide/merge-method-squash

#5591 SIG Release: Add release-sdk, release-utils repos
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#5588 Update helm repository for sig-service-catalog
  sig-service-catalog/charter.md
Labels: approved, cncf-cla: yes, lgtm, sig/service-catalog, size/XS

#5595 Update service-catalog SIG meeting time
  sig-list.md
  sig-service-catalog/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/service-catalog, size/XS, tide/merge-method-squash

#5602 Add directories for sig-security subprojects
  sig-security/README.md
  sig-security/sig-security-docs/OWNERS
  sig-security/sig-security-external-audit/OWNERS
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/security, size/S

#5489 cleanup: remove stale sig-release subproject hyperkube links
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#5580 Add token file reload to client library requirements
  contributors/design-proposals/api-machinery/csi-new-client-library-procedure.md
Labels: approved, cncf-cla: yes, kind/design, lgtm, sig/api-machinery, size/XS

#5606 SIG-ContribEx: Migrate contributor site repo
  sig-contributor-experience/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5536 Avoid use of blog form for embargoed content
  sig-docs/blog-subproject/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#5613 Update development.md to match new Go version
  contributors/devel/development.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS

#5551 sig-scheduling: Scheduling queue in kube-scheduler
  contributors/devel/sig-scheduling/scheduler_queues.md
  contributors/devel/sig-scheduling/scheduling_queues.png
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/scheduling, size/M

#5469 add grafana operator maintainer groups
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S, tide/merge-method-squash

#5607 Describe process for allowing a new enum value in an existing field
  contributors/devel/sig-architecture/api_changes.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/L

#5558 Add SIG Docs Spanish team meeting schedule
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, sig/docs, sig/instrumentation, sig/multicluster, sig/release, size/S, tide/merge-method-squash

#5567 add SIG instrumentation sub-projects
  sig-instrumentation/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/S

#5609 github-management: add docs for master to main migration
  github-management/default-branch-migration.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#5463 Update regular meeting time and frequency
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5611 generator: make subproject owners links useful
  committee-product-security/README.md
  committee-steering/README.md
  generator/app.go
  generator/app_test.go
  generator/committee_readme.tmpl
  generator/sig_readme.tmpl
  generator/testdata/sigs.yaml
  sig-api-machinery/README.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-auth/README.md
  sig-autoscaling/README.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-contributor-experience/README.md
  sig-docs/README.md
  sig-instrumentation/README.md
  sig-multicluster/README.md
  sig-network/README.md
  sig-node/README.md
  sig-release/README.md
  sig-scalability/README.md
  sig-scheduling/README.md
  sig-security/README.md
  sig-service-catalog/README.md
  sig-storage/README.md
  sig-testing/README.md
  sig-ui/README.md
  sig-usability/README.md
  sig-windows/README.md
Labels: approved, cncf-cla: yes, committee/product-security, committee/steering, lgtm, sig/api-machinery, sig/apps, sig/architecture, sig/auth, sig/autoscaling, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/contributor-experience, sig/docs, sig/instrumentation, sig/multicluster, sig/network, sig/node, sig/release, sig/scalability, sig/scheduling, sig/security, sig/service-catalog, sig/storage, sig/testing, sig/ui, sig/usability, sig/windows, size/XL

#5583 Update README-zh.md
  contributors/guide/contributor-cheatsheet/README-zh.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5622 sig-testing/e2e-tests.md: add notes about MinimumKubeletVersion
  contributors/devel/sig-testing/e2e-tests.md
Labels: approved, area/developer-guide, area/test, cncf-cla: yes, kind/documentation, lgtm, priority/important-longterm, sig/testing, size/S

#5625 Updating meeting info for SIG-Windows
  sig-list.md
  sig-windows/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/windows, size/S

#5629 Add channel for openkruise project
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5627 Fix the link for Third-Party Security Audit Working Group.
  sig-security/charter.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, ok-to-test, sig/security, size/XS

#5584 Mentoring information updated
  mentoring/README.md
  mentoring/programs/google-season-of-docs.md
  mentoring/programs/google-summer-of-code.md
  mentoring/programs/lfx-mentorship.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#5634 sig-storage: remove k-csi/drivers repo
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#5631 sig-instrumentation: add k-sigs/instrumentation repo
  sig-instrumentation/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/XS

#5638 Replace prydonius with soltysh for sig-apps leads
  OWNERS_ALIASES
  sig-apps/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/apps, size/S

#5633 wg-k8s-infra: lead rotation
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-k8s-infra/OWNERS
  wg-k8s-infra/README.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#5639 Adds a kube-vip channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, needs-ok-to-test, sig/contributor-experience, size/XS

#5579 annual reports: clarifying end process
  committee-steering/governance/annual-reports.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/XS

#5642 Extend 2021 External Security Audit RFP's question period and closing dates
  sig-security/security-audit-2021/RFP.md
Labels: approved, cncf-cla: yes, lgtm, sig/security, size/S

#5648 Update meetup time link for clearer result
  communication/README.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS, tide/merge-method-squash

#5647 docs: updates the discuss moderators list
  communication/moderators.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#5643 Removing ending white space in mentorship and re-align TOC to content
  contributors/guide/README.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/M

#5550 sig-auth: add HNC subproject
  sig-auth/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/auth, size/XS

#5651 Update Kubernetes version to be the most recent at the close of the RFP
  sig-security/security-audit-2021/RFP.md
Labels: approved, cncf-cla: yes, lgtm, sig/security, size/XS

#5446 Update CONTRIBUTING doc
  contributors/devel/README.md
  sig-storage/CONTRIBUTING.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/storage, size/S

#5656 sig-cli: add kui repo
  sig-cli/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cli, size/XS

#5599 Add slack channel for metal-stack
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5628 Update Node CI/Triage meeting to Wednesdays
  sig-list.md
  sig-node/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/node, size/XS

#5603 Add SIG Instrumentation annual report, 2021
  sig-instrumentation/annual-report-2021.md
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/M

#5624 doc_fix:Migrated to structured logging
  contributors/devel/sig-instrumentation/logging.md
Labels: approved, area/developer-guide, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, sig/instrumentation, size/S, tide/merge-method-squash

#5658 Adding Hugo headers for contributor site
  mentoring/README.md
  values.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S

#5659 sig-network: add kpng repo
  sig-network/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/XS

#5666 Remove myself from release-manager slack group
  communication/slack-config/sig-release/usergroups.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#5661 Remove retired subprojects from SIG MC
  sig-multicluster/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/multicluster, size/S

#5572 2021 SIG Scalability annual report
  sig-scalability/annual-report-2021.md
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, size/L
