Repository kubernetes/community, pull requests merged in 2021-01, with the labels that each got.

#5384 add OWNERS, teams, and updates for SIG Security
  OWNERS_ALIASES
  communication/slack-config/channels.yaml
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-security/OWNERS
  communication/slack-config/sig-security/config.yaml
  communication/slack-config/users.yaml
  sig-list.md
  sig-security/OWNERS
  sig-security/README.md
  sigs.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#5300 Add guide for shipping alternative platforms
  contributors/devel/sig-architecture/platforms.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/L

#5356 Correct list api examples and add link to field selector documentation
  contributors/devel/sig-architecture/api-conventions.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/XS

#5363 Update CAPI, CAPA notes doc URLs
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, tide/merge-method-squash

#5371 Add an entry for `DELETE` on a collection of resources.
  contributors/devel/sig-architecture/api-conventions.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/architecture, size/XS

#5390 Update sig-node meeting recording url to point to recording list
  sig-node/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/node, size/XS

#5391 Add 2020 meeting notes archive
  sig-instrumentation/archive/meeting-notes-2020.md
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/XL

#5317 Create event-checklist.md
  communication/marketing-team/event-checklist.md
Labels: approved, area/community-management, area/contributor-comms, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5393 slack-config: add 1.21 RT Leads to the release-team-lead usergroup
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, priority/critical-urgent, sig/contributor-experience, sig/release, size/S

#5392 Remove lingering references for test-infra kubetest2
  sig-testing/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#5396 Minor corrections to the api conventions.
  contributors/devel/sig-architecture/api-conventions.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, needs-ok-to-test, sig/architecture, size/XS

#5341 [WG Naming] Make recommendation for allowlist/denylist
  wg-naming/recommendations/002-blacklist-whitelist-allowlist-denylist.md
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/naming

#5394 Add secrets store csi meeting info
  sig-auth/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/auth, size/S, tide/merge-method-squash

#5400 Remove licensing subproject, move doc to vendor.md
  contributors/devel/sig-architecture/vendor.md
  sig-release/README.md
  sigs.yaml
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, sig/release, size/S

#5401 Request for keda-dev channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5407 slack-config: Add Jeremy Rickard as a SIG Release Technical Lead
  communication/slack-config/sig-release/usergroups.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#5402 Update Sig-Security meeting to new time.
  sig-list.md
  sig-security/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/security, size/XS

#5397 Update comms guidelines
  communication/best-practices.md
  communication/calendar-guidelines.md
  communication/discuss-guidelines.md
  communication/mailing-list-guidelines.md
  communication/moderation.md
  communication/moderators.md
  communication/requesting-survey.md
  communication/slack-guidelines.md
  communication/website-guidelines.md
  communication/youtube/youtube-guidelines.md
  communication/zoom-guidelines.md
Labels: approved, area/community-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XL

#5386 updating with the new sig-windows TLs
  OWNERS_ALIASES
  sig-list.md
  sig-windows/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/windows, size/M

#5388 2021 annual report process updates and formatting
  committee-steering/governance/annual-reports.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, size/L

#5417 Update office-hours.md
  events/office-hours.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5419 Add slack user group for Pinniped developers
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#5413 Update PRR description based on community feedback
  sig-architecture/production-readiness.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/M

#5423 Fix broken link in sig scalability README
  sig-scalability/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/scalability, size/XS

#5421 Archive SIG Storage meeting notes
  sig-storage/archive/README.md
  sig-storage/archive/meeting-notes-2016.md
  sig-storage/archive/meeting-notes-2017.md
  sig-storage/archive/meeting-notes-2018.md
  sig-storage/archive/meeting-notes-2019.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/storage, size/XXL, tide/merge-method-squash

#5399 Update README.md
  contributors/chairs-and-techleads/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#5409 Update SIG Release charter to reflect latest changes
  sig-release/charter.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#5432 [minor] fix Github
  CLA.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#5433 Update sig-node node-api references
  sig-node/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/node, size/XS

#5415 Support Steering Committee liaisons in sigs.yaml
  generator/app.go
  generator/committee_readme.tmpl
  generator/liaisons.tmpl
  generator/sig_readme.tmpl
  generator/ug_readme.tmpl
  generator/wg_readme.tmpl
  liaisons.md
  sig-api-machinery/README.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-auth/README.md
  sig-autoscaling/README.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-contributor-experience/README.md
  sig-docs/README.md
  sig-instrumentation/README.md
  sig-multicluster/README.md
  sig-network/README.md
  sig-node/README.md
  sig-release/README.md
  sig-scalability/README.md
  sig-scheduling/README.md
  sig-security/README.md
  sig-service-catalog/README.md
  sig-storage/README.md
  sig-testing/README.md
  sig-ui/README.md
  sig-usability/README.md
  sig-windows/README.md
  sigs.yaml
  ug-big-data/README.md
  ug-vmware-users/README.md
  wg-api-expression/README.md
  wg-component-standard/README.md
  wg-data-protection/README.md
  wg-iot-edge/README.md
  wg-k8s-infra/README.md
  wg-multitenancy/README.md
  wg-naming/README.md
  wg-policy/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, sig/apps, sig/architecture, sig/auth, sig/autoscaling, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/contributor-experience, sig/docs, sig/instrumentation, sig/multicluster, sig/network, sig/node, sig/release, sig/scalability, sig/scheduling, sig/security, sig/service-catalog, sig/storage, sig/testing, sig/ui, sig/usability, sig/windows, size/L, ug/big-data, wg/api-expression, wg/iot-edge, wg/multitenancy, wg/naming, wg/policy

#5326 Initialize 2021 Steering Committee Election docs
  events/elections/2021/OWNERS
  events/elections/2021/README.md
  events/elections/2021/biotemplate.md
  events/elections/2021/templates/election-templates.md
  events/elections/README.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/contributor-experience, size/L

#5434 Update Cluster API Provider AWS meeting notes for 2021
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#5430 Update triage guidelines
  contributors/guide/issue-triage.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5437 Fix klog.Infof change to klog.InfoS err
  contributors/devel/sig-instrumentation/migration-to-structured-logging.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/instrumentation, size/XS

#5441 add 'go' for code
  contributors/devel/sig-instrumentation/migration-to-structured-logging.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/instrumentation, size/XS

#5443 Add alisondy as sig-contribex co-chair
  OWNERS
  OWNERS_ALIASES
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#5427 corrected path for mentor-guide.md
  mentoring/programs/the1-on-1hour.md
Labels: approved, area/mentorship-planning, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS, tide/merge-method-squash
