Repository kubernetes/community, pull requests merged in 2021-09, with the labels that each got.

#5824 Initial External Security Audit Roadmap
  sig-security/sig-security-external-audit/external-audit-roadmap.md
Labels: lgtm, cncf-cla: yes, approved, size/M, sig/security

#5957 Update conformance meeting time form bi-weekly to monthly
  sig-architecture/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS

#5987 updating go version info for k8s releases
  contributors/devel/development.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, area/developer-guide

#5978 Broken links on SIG-Contribex Charter
  sig-contributor-experience/charter.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, ok-to-test

#5979 Add OWNERS file to wg-data-protection
  wg-data-protection/OWNERS
Labels: lgtm, cncf-cla: yes, approved, size/XS

#5752 Updated workflow
  communication/marketing-team/role-handbooks/storytellers.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/community-management, ok-to-test, area/contributor-comms

#5933 hub -> gh
  contributors/devel/sig-release/cherry-picks.md
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/XS, tide/merge-method-squash, area/developer-guide

#5993 slack-config/sig-release: update link for current release cycle 1.23
  communication/slack-config/sig-release/usergroups.yaml
Labels: lgtm, cncf-cla: yes, approved, kind/cleanup, priority/critical-urgent, sig/contributor-experience, sig/release, size/XS, area/community-management, area/slack-management

#5983 Auto resource release based on api changes
  contributors/devel/sig-architecture/api-conventions.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/S, area/developer-guide

#5995 Update outdated link
  contributors/design-proposals/README.md
Labels: lgtm, cncf-cla: yes, approved, kind/design, size/XS

#5997 sig-node-e2e: gcloud application-defaults are required
  contributors/devel/sig-node/e2e-node-tests.md
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/XS, area/developer-guide

#5998 sig-node: add doc with basic info for pause image updates
  contributors/devel/sig-node/updating-pause-images.md
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/M, area/developer-guide

#5996 Update API pluralization docs
  contributors/devel/sig-architecture/api_changes.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/L, area/developer-guide

#5973 Clarifying API Conventions regarding Kind and Resource in object refs
  contributors/devel/sig-architecture/api-conventions.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/M, area/developer-guide

#6010 sig-instrumentation: Update URL to prometheus-adapter repository
  sig-instrumentation/charter.md
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/XS

#6009 sig-security: Add sig-security repo subproject
  sig-security/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S, sig/security

#6015 Move wg-structured-logging meeting half an hour early
  sig-list.md
  sigs.yaml
  wg-structured-logging/README.md
Labels: lgtm, cncf-cla: yes, approved, size/XS

#5844 Update README.md
  sig-api-machinery/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/api-machinery, sig/contributor-experience, size/XS, ok-to-test

#6013 slack: add channel cluster-api-kubevirt
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#5965 docs: update default-branch-migration.md
  github-management/default-branch-migration.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/github-management

#5986 Update community repo for the 2021 elections.
  events/elections/2021/OWNERS
  events/elections/2021/README.md
  events/elections/2021/biotemplate.md
  events/elections/2021/election.yaml
  events/elections/2021/election_desc.md
  events/elections/2021/nomination-template.md
  events/elections/2021/templates/election-templates.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, committee/steering

#6002 Add note about help-wanted issues
  communication/marketing-team/storytelling-resources/example-topics.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/contributor-comms

#6019 Update doc link to active release branches
  contributors/devel/sig-release/cherry-picks.md
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/XS, ok-to-test, area/developer-guide

#6027 Update cherry picks doc with a description for alpha features
  contributors/devel/sig-release/cherry-picks.md
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/XS, area/developer-guide

#5945 Remove all references to cluster-api-provider-docker
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/XS

#6031 cherry-pick policy for alpha features
  contributors/devel/sig-release/cherry-picks.md
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/XS, area/developer-guide

#5928 Convert wg-k8s-infra to sig-k8s-infra
  OWNERS_ALIASES
  communication/slack-config/channels.yaml
  communication/youtube/youtube-guidelines.md
  liaisons.md
  sig-contributor-experience/README.md
  sig-k8s-infra/OWNERS
  sig-k8s-infra/README.md
  sig-k8s-infra/annual-report-2020.md
  sig-k8s-infra/charter.md
  sig-list.md
  sigs.yaml
  wg-k8s-infra/README.md
  wg-k8s-infra/charter.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, sig/contributor-experience, sig/release, sig/testing, size/XL, committee/steering, area/community-management, tide/merge-method-squash, wg/k8s-infra, area/slack-management

#6023 sig-release: Update Release Engineering OWNERS references
  sig-release/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/XS

#6000 Adjusting meeting times & fixing playlist link
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S, sig/cloud-provider

#6040 Initital voter rolls for Elekto.
  events/elections/2021/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XL, committee/steering

#6049 Archive the #wg-component-standard channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6054 Add capi-ibmcloud channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6056 sig node: remove frakti project
  sig-node/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/XS

#6025 Fix: Missing link for Hindi language Cheatsheet on Readme.md
  contributors/guide/contributor-cheatsheet/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide, ok-to-test

#6035 Updated moderators.md
  communication/moderators.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management

#6051 Added slack channel for cert-manager/aws-privateca-issuer
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#6037 Archive the #kubernetes-batch-jobs channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/apps, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6008 Replace k/security with k/committee-security-response in k/community/sig-security
  committee-security-response/README.md
  sig-security/charter.md
  sig-security/sig-security-external-audit/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S, tide/merge-method-squash, sig/security

#6062 Update co-chair for SIG DOCS
  OWNERS_ALIASES
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/XS

#6063 🎨 Link to Elekto for exception requests.
  events/elections/2021/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, committee/steering

#6058 sig cluster-lifecycle: Add capi kubevirt subproject
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/XS

#6065 Updating the Agenda documentation for SIG Docs
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/S

#6064 Update election schedule due to the 1 week technical delay.
  events/elections/2021/README.md
  events/elections/2021/election.yaml
  events/elections/2021/election_desc.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, committee/steering

#6059 Update moderators.md for K-dev
  communication/moderators.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management

#6046 Swap Claudiu Belu with Deep Debroy as Windows TL
  OWNERS_ALIASES
  sig-windows/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/windows, size/S

#6021 Dissolve WG Component Standard
  OWNERS_ALIASES
  archive/wg-component-standard/README.md
  liaisons.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/M

#6057 Add a KPNG announcements channel
  communication/slack-config/sig-network/config.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/network, size/XS, area/community-management, area/slack-management

#6077 Deduplicate redundant entries from people with multiple devstats records
  events/elections/2021/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, committee/steering

#6080 Changed the broken link to Meet our Contributors in Zoom guidelines
  communication/zoom-guidelines.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, tide/merge-method-squash, ok-to-test

#6081 Inception of SIG Scalability FAQ
  sig-scalability/configs-and-limits/faq.md
Labels: lgtm, cncf-cla: yes, approved, sig/scalability, size/S

#5990 remove unwanted text
  contributors/guide/release-notes.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide, ok-to-test

#6052 Fix owner aliases for provider-aws
  OWNERS_ALIASES
Labels: lgtm, cncf-cla: yes, approved, size/XS

#6085 Extend SIG scalability FAQ
  sig-scalability/configs-and-limits/faq.md
  sig-scalability/configs-and-limits/provider-configs.md
Labels: lgtm, cncf-cla: yes, approved, sig/scalability, size/M

#6094 Adding voters from exception requests.
  events/elections/2021/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, committee/steering

#6095 communication/slack-config: archive headlamp-dev and rename -users
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management
