Repository kubernetes/community, pull requests merged in 2021-06, with the labels that each got.

#5806 slack-config: Update SIG Release user groups
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#5782 Explain use of feature labels for alpha and beta releases
  contributors/devel/sig-architecture/api_changes.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/XS

#5815 apply annual report file name formatting
  sig-api-machinery/annual-report-2021.md
  sig-scheduling/annual-report-2021.md
  sig-windows/annual-report-2021.md
  wg-api-expression/annual-report-2020.md
  wg-k8s-infra/annual-report-2020.md
  wg-multitenancy/annual-report-2021.md
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, sig/scheduling, sig/windows, size/XS, wg/api-expression, wg/k8s-infra, wg/multitenancy

#5810 Add translation for tide/squash-on-merge to contributor-cheatsheet
  contributors/guide/contributor-cheatsheet/README-ja.md
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5817 Rename annual reports to match calendar year
  sig-api-machinery/annual-report-2020.md
  sig-apps/annual-report-2020.md
  sig-architecture/annual-report-2020.md
  sig-auth/annual-report-2020.md
  sig-cli/annual-report-2020.md
  sig-cloud-provider/annual-report-2020.md
  sig-cluster-lifecycle/annual-report-2020.md
  sig-contributor-experience/annual-report-2020.md
  sig-docs/annual-report-2020.md
  sig-instrumentation/annual-report-2020.md
  sig-multicluster/annual-report-2020.md
  sig-node/annual-report-2020.md
  sig-release/annual-report-2020.md
  sig-scalability/annual-report-2020.md
  sig-scheduling/annual-report-2020.md
  sig-security/annual-report-2020.md
  sig-storage/annual-report-2020.md
  sig-ui/annual-report-2020.md
  sig-usability/annual-report-2020.md
  sig-windows/annual-report-2020.md
  wg-data-protection/annual-report-2020.md
  wg-multitenancy/annual-report-2020.md
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, sig/apps, sig/architecture, sig/auth, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/contributor-experience, sig/docs, sig/instrumentation, sig/multicluster, sig/node, sig/release, sig/scalability, sig/scheduling, sig/security, sig/storage, sig/ui, sig/usability, sig/windows, size/S, wg/multitenancy

#5813 Update 2021 RFP with additional questions
  sig-security/security-audit-2021/RFP.md
Labels: approved, cncf-cla: yes, lgtm, sig/security, size/M

#5614 SIG Autoscaling Annual Report 2021
  sig-autoscaling/annual-report-2021.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/autoscaling, size/M

#5819 Rename SIG Autoscaling report to match calendar year
  sig-autoscaling/annual-report-2020.md
Labels: approved, cncf-cla: yes, lgtm, sig/autoscaling, size/XS

#5707 Add SIG network 2021 annual report
  sig-network/annual-report-2021.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/network, size/M

#5620 Updated cluster-api meeting notes link for 2021
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#5749 update policy workgroup information
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-policy/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/policy

#5807 sig-release: Add Carlos Tadeu Panato Jr. & Adolfo García Veytia as TLs
  OWNERS_ALIASES
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#5822 sig-storage: remove cosi-driver-minio repo
  sig-storage/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/XS

#5650 Fix KEP process link
  sig-architecture/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/S

#5827 Archive unused #sig-node-rkt channel
  communication/slack-config/channels.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/node, size/XS

#5808 Adding object references security considerations
  contributors/devel/sig-architecture/api-conventions.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/architecture, size/M

#5630 sig-arch: Working with feature gates doc
  contributors/devel/sig-architecture/feature-gates.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/M

#5836 Add carlos+adolfo to release-team-leads and sig-release-leads slack groups
  communication/slack-config/sig-release/usergroups.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#5828 Set jeefy to emeritus status for sig-ui
  OWNERS_ALIASES
  sig-list.md
  sig-ui/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/ui, size/S

#5834 Fix broken link to KEP in pre-review checklist
  sig-architecture/api-review-process.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/architecture, size/XS

#5837 sig network: rename annual report to conform with standard
  sig-network/annual-report-2020.md
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/XS

#5568 Update sig-arch charter for upgrade/downgrade and skew
  sig-architecture/charter.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#5825 Add guidance on SHA vs tags in dependencies
  contributors/devel/sig-architecture/vendor.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, sig/architecture, size/S

#5829 add documentation for verify-api-groups
  contributors/devel/sig-testing/verify-tests.md
Labels: approved, area/developer-guide, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#5839 Update members of the Velero Group
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/S

#5597 Psc rename
  OWNERS_ALIASES
  committee-security-response/README.md
  sig-list.md
  sigs.yaml
Labels: approved, cncf-cla: yes, committee/product-security, committee/steering, lgtm, size/M, tide/merge-method-squash

#5850 sig-release: Remove the deprecated hyperkube subproject from listing
  sig-release/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#5812 Document structured logging contribution process
  contributors/devel/sig-instrumentation/migration-to-structured-logging.md
Labels: approved, area/developer-guide, area/logging, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/contributor-experience, sig/instrumentation, size/M, wg/structured-logging

#5852 fix some typos in the docs and the comments
  contributors/guide/owners.md
  generator/app.go
Labels: approved, area/contributor-guide, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS

#5856 Update RFP with closing date
  sig-security/security-audit-2021/RFP.md
Labels: approved, cncf-cla: yes, lgtm, sig/security, size/XS

#5858 update odo-devs slack group
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: approved, area/community-management, area/slack-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#5840 Add shu-mutou to sig-ui-leads
  OWNERS_ALIASES
  sig-list.md
  sig-ui/README.md
  sigs.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/ui, size/S
