Repository kubernetes/community, pull requests merged in 2022-09, with the labels that each got.

#6846 Steering Commitee Candidate: David Eads
  elections/steering/2022/candidate-deads2k.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#6847 Steering Committee Candidate: Daniel Smith
  elections/steering/2022/candidate-lavalamp.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#6849 Steering Commitee Candidate: Carlos Panato
  elections/steering/2022/candidate-cpanato.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#6850 Add palnabarun candidate bio for 2022 steering elections
  elections/steering/2022/candidate-palnabarun.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#6851 Add steering election bio for Noah Abrahams
  elections/steering/2022/nomination-qedrakmar.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#6852 Add steering candidate bio for bentheelder
  elections/steering/2022/candidate-bentheelder.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#6853 🎨 Remove extraneous markup.
  elections/steering/2022/candidate-lavalamp.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#6857 Add steering candidate bio for cici37
  elections/steering/2022/candidate-cici37.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#6856 Add mrbobbytables 2022 steering election bio
  elections/steering/2022/candidate-mrbobbytables.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#6859 Update sig release meeting times
  sig-list.md
  sig-release/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/M

#6860 🎨 Election update stuff
  elections/steering/2022/candidate-bentheelder.md
  elections/steering/2022/candidate-mrbobbytables.md
  elections/steering/2022/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#6862 Corrected Filename for Steering Election Bio
  elections/steering/2022/candidate-qedrakmar.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#6842 Update RT leads group in slack
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/release, size/S, area/community-management, area/slack-management

#6689 Fix link for issue-triage.md
  contributors/guide/issue-triage.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/contributor-guide

#6507 sig-scheduling: add monthly meeting for APAC timezone
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/S, lifecycle/rotten

#6494 Update sig-scheduling contributor document
  contributors/devel/README.md
  contributors/devel/sig-scheduling/scheduler_algorithm.md
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/M, lifecycle/stale, ok-to-test, area/developer-guide

#6743 Fix markdown links to be compatible with contributor-site
  communication/slack-guidelines.md
  communication/youtube/youtube-guidelines.md
  communication/zoom-guidelines.md
  contributors/guide/release-notes.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, area/contributor-guide, area/community-management

#6679 Add SIG docs: New Contributors Meet and Greet
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/docs, size/S, tide/merge-method-squash, ok-to-test

#6869 🎨 Update voter exceptions.
  elections/steering/2022/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#6875 Add 2019 contributor award recipients to k/community
  events/awards/README.md
  events/awards/award-recipients/2019-award-recipients.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M

#6870 updated contributors/guide/pull-requests.md
  contributors/guide/pull-requests.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide, ok-to-test

#6865 slack sig-node: add users and dra-dev group
  communication/slack-config/channels.yaml
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-node/OWNERS
  communication/slack-config/sig-node/config.yaml
  communication/slack-config/sig-node/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/node, size/M, area/community-management, area/slack-management

#6877 Fix the link to the voting process
  elections/steering/2022/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering, ok-to-test

#6874 Link to CSI implementation meetings
  sig-list.md
  sig-storage/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/storage, size/S

#6880 sig-k8s-infra: update oci-proxy repo location
  sig-k8s-infra/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S, sig/k8s-infra

#6879 Fix broken link for testing locally on contributor-cheatsheet page
  contributors/guide/contributor-cheatsheet/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide, tide/merge-method-squash, ok-to-test

#6017 Update node perf testing doc
  contributors/devel/sig-node/node-performance-testing.md
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/S, lifecycle/rotten, area/developer-guide

#6890 Update info about Flexvolume
  sig-storage/volume-plugin-faq.md
Labels: lgtm, cncf-cla: yes, approved, sig/storage, size/XS

#6769 Update sigs.yml for new localization subproject
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/S, tide/merge-method-squash

#6885 sig-auth: add kms staging repo
  sig-auth/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/auth, size/XS

#6889 Updating links for SIG-Windows project boards
  sig-windows/CONTRIBUTING.md
Labels: lgtm, cncf-cla: yes, approved, sig/windows, size/XS

#6896 Update instructions to install cfssl
  contributors/devel/running-locally.md
Labels: lgtm, cncf-cla: yes, approved, kind/cleanup, size/XS, area/developer-guide

#6894 docs: update slack channel membership for onboarding CoCC members
  committee-code-of-conduct/governance/onboarding-offboarding.md
Labels: lgtm, cncf-cla: yes, approved, size/XS

#6765 Update instructions for blog PRs
  communication/marketing-team/storytelling-resources/blog-guidelines.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/community-management, area/contributor-comms

#6892 Add new devfile-devs user group
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management, ok-to-test, area/slack-management

#6844 Improvements to Docs in (Communication)
  communication/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management, ok-to-test

#6897 Update SIG ContribEx leads
  OWNERS
  OWNERS_ALIASES
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S

#6867 add descheduler dedicated meeting
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/S

#6871 cri-container-stats: fix broken link to legacy summary API
  contributors/devel/sig-node/cri-container-stats.md
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/XS, ok-to-test, area/developer-guide

#6884 Fix typos in the conformance-tests doc
  contributors/devel/sig-architecture/conformance-tests.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/XS, area/developer-guide

#6855 sig-cluster-lifecycle: Add details for CAPOCI office hours meeting
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S, sig/cloud-provider, ok-to-test

#6887 Fix broken Charter link
  communication/marketing-team/storytelling-resources/social-guidelines.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/contributor-comms

#6843 Fixed accidence in (chair and techleads readme)
  contributors/chairs-and-techleads/README.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, ok-to-test

#6900 Add official Oracle Cloud Infrastructure OCI provider channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#6715 changed the marketing-team subdirectory name to contributor-comms
  sig-contributor-experience/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, tide/merge-method-squash
