Repository kubernetes/community, pull requests merged in 2022-01, with the labels that each got.

#6310 Fix link to OWNERS path for kube-scheduler-simulator
  sig-scheduling/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/XS, ok-to-test

#6315 update stress installation command for go version 1.17 and later
  contributors/devel/sig-testing/flaky-tests.md
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/XS, ok-to-test, area/developer-guide

#6285 Remove SIG Node CI alternate time meeting
  sig-list.md
  sig-node/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/S

#6311 Changed all instances of k-dev@ and kubernetes-dev@ to dev@kubernetes.io
  committee-steering/governance/README.md
  committee-steering/governance/sig-governance.md
  communication/best-practices.md
  communication/mailing-list-guidelines.md
  communication/marketing-team/storytelling-resources/multichannel-communications.md
  community-membership.md
  contributors/devel/sig-architecture/api_changes.md
  contributors/devel/sig-node/e2e-node-tests.md
  contributors/guide/issue-triage.md
  events/events-team/best-practices.md
  mentoring/programs/google-summer-of-code.md
  mentoring/programs/group-mentee-guide.md
  sig-contributor-experience/charter.md
  sig-k8s-infra/charter.md
  sig-testing/charter.md
  sig-wg-lifecycle.md
  wg-data-protection/charter.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, sig/contributor-experience, sig/docs, sig/node, sig/testing, size/M, committee/steering, area/contributor-guide, area/community-management, tide/merge-method-squash, area/mentorship-planning, ok-to-test, area/developer-guide, area/contributor-comms, sig/k8s-infra

#6281 Update local-up-cluster.sh doc to use CRI
  contributors/devel/running-locally.md
Labels: lgtm, cncf-cla: yes, approved, size/S, area/developer-guide

#6303 Added rules clarification on who is eligible to be nominated
  events/awards/playbook.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#6317 Add sftim as blog editor (SIG Docs)
  sig-docs/blog-subproject/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/XS

#6319 Add DylanGraham as a Slack moderator and thus approver.
  communication/slack-config/OWNERS
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6316 Add slack channel for Karpenter
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6320 devel: fix/update links in api_changes.md
  contributors/devel/sig-architecture/api_changes.md
Labels: lgtm, cncf-cla: yes, approved, kind/cleanup, kind/documentation, sig/architecture, size/XS, area/developer-guide

#6322 Add draft / publication dates for annual report
  committee-steering/governance/annual-reports.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#6298 Added Nick Turner as new sig cloud provider co-chair.
  OWNERS_ALIASES
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, sig/cloud-provider

#6323 slack: add palnabarun and Verolop to security-rel-team usergroup
  communication/slack-config/sig-release/usergroups.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/release, size/XS, area/community-management, area/slack-management

#6305 sig-release/charter: Update link to KEP directory
  sig-release/charter.md
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/XS, tide/merge-method-squash, ok-to-test

#6324 slack-config/sig-release: Add #release-team-leads channel
  communication/slack-config/sig-release/config.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/release, size/XS, area/community-management, tide/merge-method-squash, area/slack-management

#6327 Revert "slack-config/sig-release: Add #release-team-leads channel (#6…
  communication/slack-config/sig-release/config.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/release, size/XS, area/community-management, area/slack-management

#6300 Add devfile channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#5723 Add default tag to api conventions
  contributors/devel/sig-architecture/api-conventions.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/M, lifecycle/stale, area/developer-guide, wg/api-expression

#5842 Loosen the meaning of status in API conventions
  contributors/devel/sig-architecture/api-conventions.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/L, tide/merge-method-squash, area/developer-guide

#6326 Amendment of APAC Sig Docs Meeting timing
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/XS

#6332 Update affiliation for Wei Huang
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/S

#6297 sig-k8s-infra: ownership of oci-proxy
  sig-k8s-infra/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, sig/k8s-infra

#6142 Remove kind/design from triage doc
  contributors/devel/sig-node/triage.md
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/XS, lifecycle/stale, area/developer-guide

#6335 Add sig-api-machinery-cel-dev channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/api-machinery, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6336 Krm functions channel
  communication/slack-config/channels.yaml
  sig-cli/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cli, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6306 Add Data Protection Workflows whitepaper
  wg-data-protection/data-protection-workflows-white-paper.md
  wg-data-protection/figures/Backup_workflow.png
  wg-data-protection/figures/Backup_workflow_with_differential_snapshots.png
  wg-data-protection/figures/Restore_workflow.png
Labels: lgtm, cncf-cla: yes, approved, size/XL

#6339 Update language to make emeritus process clearer
  contributors/guide/owners.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/contributor-guide, tide/merge-method-squash

#6333 Fix cloud-provider-extraction-migration/OWNERS file with correct structure
  sig-cloud-provider/cloud-provider-extraction-migration/OWNERS
Labels: lgtm, cncf-cla: yes, approved, size/XS, sig/cloud-provider

#6341 Update Adolfo García Veytia company affiliation
  sig-release/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/XS

#6343 add links for labels in sig-list.md
  generator/list.tmpl
  sig-list.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M

#6330 Update github org membership requirements
  community-membership.md
Labels: lgtm, cncf-cla: yes, approved, size/S

#6348 Add slack channel for coordinating swap implementation
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/node, size/XS, area/community-management, area/slack-management

#6346 Add slack channel for kpack
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#6269 fixed the marketing council links in charter.md
  communication/marketing-team/CHARTER.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management, ok-to-test, area/contributor-comms

#6350 change my company affilitation
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, sig/cloud-provider

#6321 Propose Damien Grisonnet as new SIG Instrumentation TL
  OWNERS_ALIASES
  sig-instrumentation/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/S

#6342 Add surveys channel.
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6352 Ensure sigs.yaml reflects labels/aliases OWNERS files in k/k
  sig-apps/README.md
  sig-architecture/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/apps, sig/architecture, size/S, sig/cloud-provider

#6355 adding liaison expectations
  generator/liaisons.tmpl
  liaisons.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M

#5514 Add generation function for annual report
  generator/annual-report/github_issue.tmpl
  generator/annual-report/sig_report.tmpl
  generator/annual-report/wg_report.tmpl
  generator/app.go
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, lifecycle/active

#6340 Add the netmaker channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#6354 adding recognition and cleaning up doc
  contributors/chairs-and-techleads/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L

#6270 Update network-policy-api meeting frequency
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/S

#6358 Annual Report generator followup
  generator/README.md
  generator/annual-report/github_issue.tmpl
  generator/annual-report/sig_report.tmpl
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, do-not-merge/hold

#6396 Note when PUT can create items
  contributors/devel/sig-architecture/api-conventions.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/XS, area/developer-guide

#6395 add sig-auth-kms-dev slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/auth, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6190 sig-storage: add csi-driver-nvmf repo
  sig-storage/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/storage, size/XS

#6397 sig-release: Audit sigs.yaml
  sig-api-machinery/README.md
  sig-architecture/README.md
  sig-release/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/api-machinery, sig/architecture, sig/release, size/M

#6359 sig-k8s-infra: Update SIG information
  sig-k8s-infra/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/M, sig/k8s-infra

#6406 Change affiliation
  committee-code-of-conduct/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS

#6400 Add Debanitrkl as shadow for Marketing Council
  communication/marketing-team/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/contributor-comms

#6347 Update parts of the contributor guide to match the style guide
  contributors/guide/coding-conventions.md
  contributors/guide/github-workflow.md
  contributors/guide/help-wanted.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, area/contributor-guide

#6407 Add CAPI operator slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6410 Archive 2021 Contribex Meeting Notes
  sig-contributor-experience/meeting-notes-archive/2021-meeting-notes.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XXL

#6412 Fix broken links to learn about sigs in the contributor guide
  contributors/guide/contributing.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide

#6417 Move conformance meeting time one hour earlier to remove overlap with SIG K8s-infra meeting
  sig-architecture/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/XS
