Repository kubernetes/community, pull requests merged in 2022-03, with the labels that each got.

#6464 SIG Charter Update: Instrumentation (tracing, non-retired projects)
  sig-instrumentation/README.md
  sig-instrumentation/charter.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/S, committee/steering

#6503 Update README for sig-scalability
  sig-scalability/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/scalability, size/S

#6500 Add batch wg meeting details
  sig-list.md
  sigs.yaml
  wg-batch/README.md
Labels: lgtm, cncf-cla: yes, approved, size/M

#6502 Add licensing guidance to the org owners guidance
  github-management/org-owners-guide.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/github-management

#6495 Repair broken link for first contributions
  contributors/guide/first-contribution.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide, ok-to-test

#6514 sig-contribex: add maintainers repo
  sig-contributor-experience/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#6516 Add CONTRIBUTING for sig-scalability
  sig-scalability/CONTRIBUTING.md
Labels: lgtm, cncf-cla: yes, approved, sig/scalability, size/M

#6510 sig-node: add ci-testing subproject
  sig-node/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/S

#6344 Update white paper
  wg-data-protection/data-protection-workflows-white-paper.md
Labels: lgtm, cncf-cla: yes, approved, size/L

#6519 Fix tallclair affiliation
  committee-security-response/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS

#6523 sig-windows 2021 annual report operational tasks + fixing linting errors
  sig-windows/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, sig/windows, size/S

#6403 sig-node: Add special-resource-operator subproject
  sig-node/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/XS

#6463 2021 annual report for SIG instrumentation
  sig-instrumentation/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/L

#6525 Update sig contribex in sigs.yaml
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S

#6532 fixed a tiny typo error
  contributors/devel/sig-architecture/conformance-tests.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/XS, ok-to-test, area/developer-guide

#6455 Sig Scalability 2021 annual report
  sig-scalability/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, sig/scalability, size/L

#6535 Updated development.md
  contributors/devel/development.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, ok-to-test, area/developer-guide

#6427 channels: add cluster-api-cloudstack slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#6283 Update logging guidelines
  contributors/devel/sig-instrumentation/logging.md
  contributors/devel/sig-instrumentation/migration-to-structured-logging.md
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/L, area/developer-guide

#6543 Updating meeting time to make it correct
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, sig/cloud-provider

#6541 add details for testing beta APIs now that they are off by default
  contributors/devel/sig-architecture/api_changes.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/S, area/developer-guide

#6518 Add metrics stability documentation from KEP-1209
  contributors/devel/sig-instrumentation/instrumentation.md
  contributors/devel/sig-instrumentation/metric-stability.md
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/L, area/developer-guide

#6549 Update README.md
  communication/marketing-team/README.md
Labels: lgtm, cncf-cla: yes, approved, needs-ok-to-test, sig/contributor-experience, size/XS, area/community-management, area/contributor-comms

#6550 Update events subproject slack channel in sigs.yaml
  sig-contributor-experience/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#6547 Data Protection White Paper: Formatting fix under 'Desirable Characteristics of Volume Backups'
  wg-data-protection/data-protection-workflows-white-paper.md
Labels: lgtm, cncf-cla: yes, approved, size/S, ok-to-test

#6557 Remove recommendation for condition heartbeat
  contributors/devel/sig-architecture/api-conventions.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/XS, area/developer-guide

#6445 SIG Apps 2021 annual report
  sig-apps/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, sig/apps, size/L

#6562 flaky-tests.md: update template in link
  contributors/devel/sig-testing/flaky-tests.md
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/XS, area/developer-guide

#6468 2021 Annual Report: SIG Docs
  sig-docs/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/L

#6564 Add rukpak-dev channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6411 SIG Contribex 2021 Annual Report
  sig-contributor-experience/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, tide/merge-method-squash

#6571 update cpanato company affiliation
  committee-code-of-conduct/README.md
  sig-list.md
  sig-release/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/S

#6568 SIG Storage annual report 2021
  sig-storage/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, sig/storage, size/L

#6573 sig-release: Add 2021 Annual Report
  sig-release/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/L

#6578 Update affiliation for eddiezane
  sig-cli/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cli, size/XS

#6555 Create CONTRIBUTING.md
  sig-architecture/CONTRIBUTING.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/S

#6579 Add CAPI Oracle Cloud Infrastructure (OCI) slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#6567 Update contributing guide
  sig-storage/CONTRIBUTING.md
Labels: lgtm, cncf-cla: yes, approved, sig/storage, size/XS
