Repository kubernetes/community, pull requests merged in 2022-04, with the labels that each got.

#6528 Add sig-test 2021 annual report
  sig-testing/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/M

#6585 Removing Matt Broberg from ContribComms
  communication/slack-config/usergroups.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6460 Update WG Structured logging 2021 annual report
  wg-structured-logging/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, size/M

#6536 update conformance-tests.md
  contributors/devel/sig-architecture/conformance-tests.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/XS, area/developer-guide

#6402 sig-cl: resolve some warnings with the maintainers tool + governance updates
  sig-cluster-lifecycle/CONTRIBUTING.md
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, kind/cleanup, priority/backlog, sig/cluster-lifecycle, sig/contributor-experience, size/L, triage/accepted

#6551 2021 Annual Report: SIG Architecture
  sig-architecture/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/L

#6458 2021 Annual Report: SIG Cluster Lifecycle
  sig-cluster-lifecycle/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/L

#6592 Add links for meeting notes and recording for wg-batch
  sigs.yaml
  wg-batch/README.md
Labels: lgtm, cncf-cla: yes, approved, size/S

#6596 Add Nabarun and Arnaud to GitHub Admin Team
  github-management/OWNERS
  github-management/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, committee/steering, area/github-management

#6461 Update annual-report-2021.md
  sig-api-machinery/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, sig/api-machinery, size/L, ok-to-test

#6450 Add 2021 SIG-CLI Annual Report
  sig-cli/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, sig/cli, size/L

#6595 Archive raksh channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6587 Fix typo in sig-storage/annual-report-2021.md
  sig-storage/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, sig/storage, size/XS, ok-to-test

#6482 Overhaul the Issue Triage guide to match style guide
  contributors/guide/issue-triage.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, area/contributor-guide

#6491 Update communication guide to match style guidelines
  communication/slack-guidelines.md
  communication/zoom-guidelines.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XL, area/community-management, tide/merge-method-squash

#6498 Update release-notes.md with community feedback
  contributors/guide/release-notes.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/release, size/L, area/contributor-guide

#6520 Update the YouTube guidelines
  communication/youtube/youtube-guidelines.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, area/community-management

#6487 Update meeting time for a cloud provider subproject
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, sig/cloud-provider

#6600 Remove hugo table syntax from issue triage guide
  contributors/guide/issue-triage.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/contributor-guide

#6560 logging: include information about contextual logging
  contributors/devel/sig-instrumentation/migration-to-structured-logging.md
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/L, area/developer-guide, wg/structured-logging

#6454 SIG Security 2021 annual report
  sig-security/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, size/L, tide/merge-method-squash, sig/security

#6569 DP WG annual report 2021
  wg-data-protection/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, size/M, wg/data-protection

#6509 sig-release: add release-team-shadow-stats repo
  sig-release/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/XS

#6602 Retire poseidon from sig-scheduling
  sig-scheduling/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/XS

#6604 Removes vagrant reference in running-locally doc
  contributors/devel/running-locally.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, ok-to-test, area/developer-guide

#6601 Inc objective for read-only requests in "namespace" scope: from 5s to 30s
  sig-scalability/slos/api_call_latency.md
  sig-scalability/slos/slos.md
Labels: lgtm, cncf-cla: yes, approved, sig/scalability, size/S, ok-to-test

#6589 Add Zarf slack channels: #zarf and #zarf-dev
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#6607 Update jeremyrickard company affiliation
  sig-release/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/XS

#6570 Added the mentoring lead handbook for 3rd party mentorship programs
  mentoring/programs/mentoring-lead.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/mentorship-planning

#6618 Updated wg-batch meeting schedule
  sig-list.md
  sigs.yaml
  wg-batch/README.md
Labels: lgtm, cncf-cla: yes, approved, size/S

#6565 add deprecation policy guidelines to instrumenting kubernetes guide
  contributors/devel/sig-instrumentation/instrumentation.md
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/XS, area/developer-guide

#6626 Update new-membership-procedure.md
  github-management/new-membership-procedure.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/github-management

#6627 Formatting the annual report for SIG Docs
  sig-docs/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/S
