Repository kubernetes/community, pull requests merged in 2022-05, with the labels that each got.

#6632 Archive SIG Service Catalog
  OWNERS_ALIASES
  archive/sig-service-catalog/OWNERS
  archive/sig-service-catalog/README.md
  archive/sig-service-catalog/annual-report-2021.md
  archive/sig-service-catalog/charter.md
  liaisons.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/M

#6635 SIG Multicluster: Remove kubemci subproject
  sig-multicluster/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/multicluster, size/XS

#6647 Fix the link to scalability tests
  sig-scalability/charter.md
Labels: lgtm, cncf-cla: yes, approved, needs-ok-to-test, sig/scalability, size/XS

#6650 Update Go version to 1.18
  Makefile
  go.mod
Labels: lgtm, cncf-cla: yes, approved, size/XS, ok-to-test

#6655 Adding new release version 1.24 and associated go version 1.18
  contributors/devel/development.md
Labels: lgtm, cncf-cla: yes, approved, kind/documentation, sig/release, size/XS, ok-to-test, area/developer-guide

#6651 Remove mention to fejta-bot from sig-testing charter
  sig-testing/charter.md
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/XS, ok-to-test

#6654 Add Streaming Runtime channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#6656 Add terranetes channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, needs-ok-to-test, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6658 Update moderators.md
  communication/moderators.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management

#6521 Adding the meetup channel for Philadelphia
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6616 update odo-devs slack group
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6660 slack config: add Kamaji channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#6659 slack config: add Capsule channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#6639 slack config: add Flatcar channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#6661 Update SIG network meeting time to be EU friendly
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/XS

#6671 Adding kubernetes.io hyperlink to Getting Started
  contributors/guide/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide, ok-to-test

#6669 Add evented-pleg Slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6675 Remove `LappleApple` from SIG Release user group
  communication/slack-config/sig-release/usergroups.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/release, size/XS, area/community-management, area/slack-management

#6617 Added follow-up changes to Internship Mentoring Lead Handbook
  mentoring/programs/mentoring-lead.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/mentorship-planning
