Repository kubernetes/community, pull requests merged in 2022-06, with the labels that each got.

#6605 Update KPNG invite to 730 AM (fridays)
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/XS, tide/merge-method-squash

#6688 Update YouTube moderator list
  communication/moderators.md
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management, area/slack-management

#6526 Update owners for ContribEx
  OWNERS
  communication/OWNERS
  communication/marketing-team/OWNERS
  contributors/guide/OWNERS
  events/OWNERS
  mentoring/OWNERS
  sig-contributor-experience/devstats/OWNERS
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/contributor-guide, area/community-management, area/mentorship-planning, area/devstats, area/contributor-comms

#6678 group-mentee-guide broken link fix
  mentoring/programs/group-mentee-guide.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/mentorship-planning, ok-to-test

#6682 [Issues 6606] Add updated slack-guidelines for moderators
  communication/slack-guidelines.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management

#6640 SIG Cloud Provider: Add azurelustre-csi-driver repo
  sig-cloud-provider/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, sig/cloud-provider

#6700 sig-instrumentation: add logtools OWNERS
  sig-instrumentation/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/XS

#6674 Change SIG-Docs agenda link to the new one
  sig-docs/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/XS, ok-to-test

#6698 Update channels.yaml
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6599 Update corporate CLA instructions for EasyCLA
  CLA.md
Labels: lgtm, cncf-cla: yes, approved, size/S

#6696 Add Nigel to Zoom Admin List
  communication/slack-config/usergroups.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#6692 Create sig-spotlight-blog-process.md
  communication/marketing-team/storytelling-resources/sig-spotlight-blog-process.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management, area/contributor-comms

#6702 Remove subproject creation exception
  sig-api-machinery/charter.md
Labels: lgtm, cncf-cla: yes, approved, sig/api-machinery, size/S, committee/steering

#6439 SIG UI Annual Report 2021
  sig-ui/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, sig/ui, size/L

#6706 Add Nate W. as a blog editor
  sig-docs/blog-subproject/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/XS

#6712 sig-testing: remove k8s-gsm-tools
  sig-testing/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/XS

#6716 Add Josh as SIG-ContribEx co-chair
  OWNERS
  OWNERS_ALIASES
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#6710 Add TestGrid channel under sig-testing
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-testing/config.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/testing, size/XS, area/community-management, area/slack-management

#6718 Update GH Admin Meeting Time
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#6504 slack-config: add apko channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, lifecycle/stale, area/community-management, ok-to-test, area/slack-management

#6695 feat: Introduce channel for docs on KEDA
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#6719 update migration-to-structured-logging.md
  contributors/devel/sig-instrumentation/migration-to-structured-logging.md
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/S, area/developer-guide

#6586 Fix plugins.yaml reference link
  github-management/setting-up-cla-check.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/github-management, ok-to-test
