Repository kubernetes/community, pull requests merged in 2022-11, with the labels that each got.

#6945 Add PRR survey PDF reports
  sig-architecture/Kubernetes_PRR_Survey_2020Q1.pdf
  sig-architecture/Kubernetes_PRR_Survey_2021Q2.pdf
  sig-architecture/Kubernetes_PRR_Survey_2022Q2.pdf
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/XS

#6906 Update subteams in the release team
  sig-release/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/S

#6919 sig-network: Add ingress2gateway repo
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/XS

#6924 sig-auth: Add sig-auth-tools repo
  sig-auth/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/auth, size/XS

#6950 adding myself as emeritus in OWNERs files
  communication/OWNERS
  communication/contributor-comms/OWNERS
  communication/slack-config/OWNERS
  communication/youtube/OWNERS
  contributors/guide/OWNERS
  elections/steering/OWNERS
  events/OWNERS
  mentoring/OWNERS
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, committee/steering, area/contributor-guide, area/community-management, area/mentorship-planning, area/slack-management, area/contributor-comms

#6958 Update to maintain GitHub style guide
  contributors/devel/development.md
  governance.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, ok-to-test, area/developer-guide

#6961 k8s-infra: add porche repo
  sig-k8s-infra/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/M, sig/k8s-infra

#6953 typo in generate-devstats-repo-sql.yaml
  hack/generate-devstats-repo-sql.py
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, ok-to-test

#6946 Add #podman-desktop to the Kubernetes slack
  communication/slack-config/channels.yaml
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management, area/slack-management

#6920 User group for Cluster API release team
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/community-management, area/slack-management

#6963 removing me and adding current names in slack
  communication/moderators.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management

#6951 Remove ehashman from sig-node roles
  contributors/devel/sig-node/OWNERS
  sig-node/OWNERS
Labels: lgtm, cncf-cla: yes, approved, kind/cleanup, sig/node, size/XS, area/developer-guide

#6636 structured logging WG: update meeting time
  sig-list.md
  sigs.yaml
  wg-structured-logging/README.md
Labels: lgtm, cncf-cla: yes, approved, size/XS

#6964 Adjust guidance on generics to include v1.24
  sig-architecture/generics.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/S

#6927 Update files in k/community/contributor-comms to reflect name change
  communication/contributor-comms/CHARTER.md
  communication/contributor-comms/role-handbooks/Social-Media.md
  communication/contributor-comms/role-handbooks/council.md
  communication/contributor-comms/role-handbooks/storytellers.md
  communication/contributor-comms/storytelling-resources/blog-guidelines.md
  communication/contributor-comms/storytelling-resources/social-guidelines.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/community-management, area/contributor-comms

#6969 update company
  sig-k8s-infra/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, sig/k8s-infra

#6962 add joekr to cluster-api-release-team slack alias
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#6972 Update Roles in README.md
  communication/contributor-comms/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management, area/contributor-comms

#6971 Delete council.md
  communication/contributor-comms/role-handbooks/council.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/community-management, area/contributor-comms

#6758 Add Versioned Component Configuration Files doc
  archive/wg-component-standard/component-config/README.md
Labels: lgtm, cncf-cla: yes, approved, size/XL

#6778 Fixed inconsistent first character capitalization.
  contributors/guide/contributing.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/contributor-guide, tide/merge-method-squash, ok-to-test

#6970 Add resource-management subproject to sig-node
  sig-node/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/XS

#6974 steering: Paris to Emeritus, add Carlos
  OWNERS_ALIASES
  committee-steering/README.md
  communication/slack-config/usergroups.yaml
  liaisons.md
  sig-docs/README.md
  sig-list.md
  sig-security/README.md
  sig-storage/README.md
  sig-testing/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/docs, sig/storage, sig/testing, size/M, committee/steering, area/community-management, area/slack-management, sig/security

#6983 sig-cluster-lifecycle: Add minikube-gui repo
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/XS

#6984 Document the k8s-stable4 version marker
  contributors/devel/sig-release/kubernetes-versions.md
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/XS, area/developer-guide

#6817 Create Comms-Events.md
  communication/contributor-comms/role-handbooks/Comms-Events.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/community-management, area/contributor-comms

#6968 SIG Release promotions
  OWNERS_ALIASES
  sig-list.md
  sig-release/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/S

#6988 sig-release: Update Slack usergroups for lead promotions
  communication/slack-config/sig-release/usergroups.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/release, size/S, area/community-management, area/slack-management

#6761 Request for adding a Slack channel to focus on Velero Data Mover.
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, lifecycle/rotten, area/community-management, ok-to-test, area/slack-management

#6982 Add existing spotlights in a list
  communication/contributor-comms/storytelling-resources/sig-spotlight-blog-process.md
  communication/contributor-comms/storytelling-resources/sig-spotlights.md
Labels: lgtm, cncf-cla: yes, approved, needs-ok-to-test, sig/contributor-experience, size/S, area/community-management, area/contributor-comms

#6980 sig-node: Add dra-example-driver repo
  sig-node/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/XS

#6987 sig-instrumentation: add usage-metrics-collector
  sig-instrumentation/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/XS
