Repository kubernetes/community, pull requests merged in 2023-08, with the labels that each got.

#7430 Revert "Testing whether the voter list must be non-empty"
  elections/steering/2023/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#7432 Use correct Anywhere on Earth dates
  elections/steering/2023/election.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#7423 Update CAPI v1.6 Release Team usergroup members list
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management, area/slack-management

#7436 remove outdated reference to email ballots
  elections/steering/2023/README.md
  elections/steering/documentation/template/README.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#7438 Adding myself as a Social Media Shadow
  communication/contributor-comms/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/contributor-comms

#7258 docs: fix broken link for TimeoutContext
  contributors/devel/sig-testing/writing-good-e2e-tests.md
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/XS, ok-to-test, area/developer-guide

#7442 Adding initial voter list for 2023 Steering election
  elections/steering/2023/voters.yaml
  hack/.spelling_failures
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XL, committee/steering

#7443 Clarifying how to generate the eligible voter list
  elections/steering/documentation/README.md
  elections/steering/documentation/template/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S, committee/steering

#7451 Add divya-mohan0209 bio as candidate for 2023 steering elections
  elections/steering/2023/candidate-divya-mohan0209.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#7448 add pacoxu bio as candidate for 2023 steering
  elections/steering/2023/candidate-pacoxu.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#7461 Adding exception
  elections/steering/2023/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#7446 Bootstrap 2023 Code of Conduct Elections
  elections/code-of-conduct/2023/OWNERS
  elections/code-of-conduct/2023/README.md
  elections/code-of-conduct/2023/candidate-anammedina21.md
  elections/code-of-conduct/2023/candidate-jameslaverack.md
  elections/code-of-conduct/2023/candidate-jeremyrickard.md
  elections/code-of-conduct/2023/candidate-kalyan678.md
  elections/code-of-conduct/2023/candidate-pacoxu.md
  elections/code-of-conduct/2023/candidate-reylejano.md
  elections/code-of-conduct/2023/candidate-rphitg00.md
  elections/code-of-conduct/2023/candidate-sayanchowdhury.md
  elections/code-of-conduct/2023/candidate-stmcginnis.md
  elections/code-of-conduct/2023/election.yaml
  elections/code-of-conduct/2023/election_desc.md
  elections/code-of-conduct/2023/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, kind/documentation, size/L, committee/steering

#7464 github-management: add Priyanka as github admin
  github-management/OWNERS
  github-management/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, committee/steering, area/github-management

#7462 Add sig-auth-certificates-dev slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7458 Adding sig-CLI info
  communication/contributor-comms/blogging-resources/sig-spotlights.md
Labels: lgtm, cncf-cla: yes, approved, needs-ok-to-test, sig/contributor-experience, size/XS, area/community-management, area/contributor-comms

#7435 Update the incorrect links in contributors/devel/running-locally.md
  contributors/devel/running-locally.md
Labels: lgtm, cncf-cla: yes, approved, kind/documentation, size/XS, area/developer-guide

#7465 Add candidate bio for Vince Prignano
  elections/steering/2023/candidate-vincepri.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#7471 Correct date discrepancies - 2023 CoCC election
  elections/code-of-conduct/2023/election.yaml
  elections/code-of-conduct/2023/election_desc.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#7474 devel: add docs around go version decision in K8s build targets
  contributors/devel/development.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, sig/release, sig/testing, size/M, area/developer-guide

#7368 Add the usergroup "cert-manager-maintainers"
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/community-management, tide/merge-method-squash, ok-to-test, area/slack-management

#7476 Adding exception
  elections/steering/2023/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#7479 Update blogging process description
  communication/contributor-comms/blogging-resources/blog-guidelines.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, area/community-management, area/contributor-comms

#7475 Add style and technical guidelines for SIG Scheduling
  sig-scheduling/CONTRIBUTING.md
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/M

#7484 Update governance onboarding checklist for COCC to remove Slack Admin section
  committee-code-of-conduct/governance/onboarding-offboarding.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering, committee/code-of-conduct

#7483 Update OWNER_ALIASES and add Ana to Code of Conduct Group, OffBoard Jason
  OWNERS_ALIASES
  committee-code-of-conduct/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S, committee/code-of-conduct

#7440 Add slack announcement bot doc
  communication/contributor-comms/automation/announcement-bot-images/add-bot-to-channel/step-1.png
  communication/contributor-comms/automation/announcement-bot-images/add-bot-to-channel/step-2.png
  communication/contributor-comms/automation/announcement-bot-images/add-bot-to-channel/step-3.png
  communication/contributor-comms/automation/announcement-bot-images/add-bot-to-channel/step-4.png
  communication/contributor-comms/automation/announcement-bot-images/make-announcement/step-1.png
  communication/contributor-comms/automation/announcement-bot-images/make-announcement/step-2.png
  communication/contributor-comms/automation/announcement-bot-images/make-announcement/step-3.png
  communication/contributor-comms/automation/announcement-bot-images/make-announcement/step-4.png
  communication/contributor-comms/automation/announcement-bot-images/make-announcement/step-5.png
  communication/contributor-comms/automation/announcement-guidelines.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/community-management, area/contributor-comms

#7485 Add steering 2023 candidate bio for Noah Abrahams
  elections/steering/2023/candidate-qedrakmar.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#7487 Add candidate bio for Maciej Szulik (soltysh)
  elections/steering/2023/candidate-soltysh.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#7488 generator: add generated section in committee README for emeritus members
  committee-code-of-conduct/README.md
  committee-security-response/README.md
  generator/committee_readme.tmpl
Labels: lgtm, cncf-cla: yes, approved, kind/documentation, priority/important-longterm, sig/contributor-experience, size/M

#7437 Removed storyteller role
  communication/contributor-comms/README.md
  communication/contributor-comms/blogging-resources/README.md
  communication/contributor-comms/role-handbooks/[Deprecated]Comms-Events.md
  communication/contributor-comms/role-handbooks/storytellers.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, area/community-management, area/contributor-comms

#7489 Fix broken links in Contributor Comms charter and role handbooks
  communication/contributor-comms/CHARTER.md
  communication/contributor-comms/role-handbooks/Social-Media.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management, area/contributor-comms

#7493 Update contributor comms OWNERS
  communication/contributor-comms/OWNERS
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/contributor-comms

#7495 Update contributor comms OWNERS
  communication/contributor-comms/OWNERS
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/contributor-comms

#7477 Update example for conditions to use SSA go tags
  contributors/devel/sig-architecture/api-conventions.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/XS, area/developer-guide

#7496 Steering 2023 Candidate Bio for Patrick Ohly
  elections/steering/2023/candidate-pohly.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#7492 Add candidate bio for Marko Mudrinić (xmudrii)
  elections/steering/2023/candidate-xmudrii.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#7502 Correcting GitHub username for election exception
  elections/steering/2023/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#7505 elections/steering/2023: Add Stephen Augustus (justaugustus) bio
  elections/steering/2023/candidate-justaugustus.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#7506 Add bio for candidate Arnaud Meukam (ameukam)
  elections/steering/2023/candidate-ameukam.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#7433 date examples for steering election template
  elections/steering/documentation/template/election-template.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#7507 Voting exceptions
  elections/steering/2023/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#7508 Add bio for 2023 Steering Election candidate Natali Vlatko (natalisucks)
  elections/steering/2023/candidate-natalisucks.md
Labels: lgtm, cncf-cla: yes, approved, size/M, committee/steering

#7511 slack-config: add Madhav and Priyanka to GH Admin slack usergroup
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7470 Update Kubernetes core contributor slack channels
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7516 Adding approved exceptions
  elections/steering/2023/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#7466 Update cloud-provider-openstack maintainers
  OWNERS_ALIASES
Labels: lgtm, cncf-cla: yes, approved, size/XS

#7480 Add 2023 CoCC election results
  elections/code-of-conduct/2023/ballots.csv
  elections/code-of-conduct/2023/results.md
Labels: lgtm, cncf-cla: yes, approved, kind/documentation, priority/important-longterm, size/S, committee/steering

#7481 Add voting and result announcement information to cocc election process doc
  committee-code-of-conduct/election.md
Labels: lgtm, cncf-cla: yes, approved, kind/documentation, priority/important-longterm, size/S

#7517 Add dependency update example for cherry-picks
  contributors/devel/sig-release/cherry-picks.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, sig/release, size/XS, area/developer-guide, area/code-organization

#7418 chore: add magnum-cluster-api channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#7512 Update docs for submitting kep for PRR
  sig-architecture/production-readiness.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/XS

#7519 [1.29] update RT lead, lead shadows and emiratus advisor info in slack
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/release, size/S, area/community-management, area/slack-management

#7520 update wg-lts agenda link
  sigs.yaml
  wg-lts/README.md
Labels: lgtm, cncf-cla: yes, approved, size/XS
