Repository kubernetes/community, pull requests merged in 2023-02, with the labels that each got.

#7074 Add: Atharva-Shinde to contributor-comms OWNERS
  communication/contributor-comms/OWNERS
  communication/contributor-comms/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/contributor-comms

#7083 Fix k8s dev mailing list links
  communication/best-practices.md
  contributors/chairs-and-techleads/leadership-changes.md
  contributors/guide/contributor-cheatsheet/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide, area/community-management, ok-to-test

#7080 Adding Paralus to K8s Slack
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#7068 Remove community meeting requirements from governance docs
  committee-steering/governance/README.md
  committee-steering/governance/annual-reports.md
  committee-steering/governance/sig-governance.md
  governance.md
Labels: lgtm, cncf-cla: yes, approved, size/S, committee/steering

#7085 sig-cluster-lifecycle: add logical-cluster repo
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/S

#7086 clarify the term 'schedulable pod' in SLO document
  sig-scalability/slos/pod_startup_latency.md
Labels: lgtm, cncf-cla: yes, approved, sig/scalability, size/XS

#7084 Update node e2e docs
  contributors/devel/sig-node/e2e-node-tests.md
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/XS, ok-to-test, area/developer-guide

#7082 FIX: Broken Link on Comms Role-hadbooks
  communication/contributor-comms/role-handbooks/storytellers.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/contributor-comms

#6910 Update docs: recommend setting DBG instead of GOGCFLAGS to make in debug mode
  contributors/devel/development.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, ok-to-test, area/developer-guide

#6996 Update the references under sig-node
  contributors/devel/sig-node/cherry-picks.md
  contributors/devel/sig-node/container-runtime-interface.md
  contributors/devel/sig-node/e2e-node-tests.md
  contributors/devel/sig-node/triage.md
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/S, ok-to-test, area/developer-guide

#7064 Fix typo in Korean version of contributor cheat sheet
  contributors/guide/contributor-cheatsheet/README-ko.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide, tide/merge-method-squash, ok-to-test

#7048 Add sig-network-multi-network
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/S, ok-to-test

#7091 Fixing wrong KUBE_DNS_NAME at running locally
  contributors/devel/running-locally.md
Labels: lgtm, cncf-cla: yes, approved, needs-ok-to-test, size/XS, area/developer-guide

#7089 FIX: Typos in Comms social media role-handbook
  communication/contributor-comms/role-handbooks/Social-Media.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management, ok-to-test, area/contributor-comms

#7092 Conduct: Add H1 2022 Transparency Report
  committee-code-of-conduct/README.md
  committee-code-of-conduct/transparency-reports/2022-h1.md
Labels: lgtm, cncf-cla: yes, approved, size/M

#7081 changes in SIG Node leadership
  OWNERS_ALIASES
  contributors/devel/sig-node/OWNERS
  sig-list.md
  sig-node/OWNERS
  sig-node/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/S, area/developer-guide

#7129 Update issue template for annual reports
  generator/README.md
  generator/annual-report/github_issue.tmpl
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#7133 update running locally instructions
  contributors/devel/running-locally.md
Labels: lgtm, cncf-cla: yes, approved, size/S, ok-to-test, area/developer-guide

#7093 slack config: add Nauticus channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#7088 Add SIG Instrumentation Spotlight
  communication/contributor-comms/storytelling-resources/sig-spotlights.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/contributor-comms

#7135 Remove cluster addon for dashboard
  sig-ui/charter.md
Labels: lgtm, cncf-cla: yes, approved, sig/ui, size/XS, committee/steering

#7149 Fixed reference link for community meeting
  communication/zoom-guidelines.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test

#7144 Promote CecileRobertMichon as SIG Cluster Lifecycle Lead
  OWNERS_ALIASES
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/XS

#7150 Fix error anchor link of multiple-api-versions
  contributors/devel/sig-architecture/api_changes.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/M, area/developer-guide

#7076 Clarify rules around having only two channels per external project
  communication/slack-guidelines.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management

#7145 Fix design-proposals links in API conventions
  contributors/devel/sig-architecture/api-conventions.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/XS, ok-to-test, area/developer-guide

#7037 Add kwok slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7138 Requesting konveyor-dev channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7136 Rename marketing team to contributor comms in `sigs.yaml` and fix some typos
  communication/contributor-comms/storytelling-resources/blog-guidelines.md
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management, ok-to-test, area/contributor-comms

#7156 docs: fix api convention concurrency control and consistency part typo
  contributors/devel/sig-architecture/api-conventions.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/XS, ok-to-test, area/developer-guide

#7152 Update SIG network to include Shane Utt as a chair
  OWNERS_ALIASES
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/S

#7147 Tweak line wrappings for consistency
  contributors/guide/scalability-good-practices.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, area/contributor-guide
