Repository kubernetes/community, pull requests merged in 2023-06, with the labels that each got.

#7332 fix published sig-testing intro talk link
  sig-testing/README.md
Labels: lgtm, cncf-cla: yes, approved, needs-ok-to-test, sig/contributor-experience, sig/testing, size/XS

#7291 sig-network: correct multi-network meeting to weekly
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/XS

#7339 Add issue template for leadership change
  .github/ISSUE_TEMPLATE/leadership-change.yml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M

#7333 Add official CAAPH Slack Channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#7341 Fixing links in leadership change issue template
  .github/ISSUE_TEMPLATE/leadership-change.yml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#7343 Add label section to leadership change template
  .github/ISSUE_TEMPLATE/leadership-change.yml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S

#7345 sig-cluster-lifecycle: add cluster-api-ipam-provider-in-cluster subproject
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/XS

#7324 Sig node contributing.md update
  contributors/devel/sig-node/triage.md
  sig-node/CONTRIBUTING.md
  sig-node/README.md
  sig-node/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/L, area/developer-guide, area/annual-reports

#7318 add eksctl channel in k8s slack
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#7327 github-management: add madhav as github admin
  github-management/OWNERS
  github-management/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, committee/steering, area/github-management

#7190 Data Protection WG 2022 Annual Report
  wg-data-protection/annual-report-2022.md
Labels: lgtm, cncf-cla: yes, approved, size/M, wg/data-protection, area/annual-reports

#7359 Fix KubeCon video link
  sig-testing/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/XS, ok-to-test

#7361 sig-windows: Update meeting notes link
  sig-windows/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/windows, size/XS

#7356 docs :Update election.md
  committee-code-of-conduct/election.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, ok-to-test

#7364 contribex: Add sigs-github-actions subproject
  sig-contributor-experience/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#7365 archive sig-usability
  OWNERS_ALIASES
  archive/sig-usability/OWNERS
  archive/sig-usability/README.md
  archive/sig-usability/annual-report-2020.md
  archive/sig-usability/annual-report-2022.md
  archive/sig-usability/charter.md
  communication/slack-config/channels.yaml
  liaisons.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, committee/steering, area/community-management, area/slack-management, area/annual-reports

#7362 Archive Work Group Multitenancy
  OWNERS_ALIASES
  archive/wg-multitenancy/OWNERS
  archive/wg-multitenancy/README.md
  archive/wg-multitenancy/annual-report-2020.md
  archive/wg-multitenancy/annual-report-2022.md
  liaisons.md
  sig-api-machinery/README.md
  sig-auth/README.md
  sig-list.md
  sig-network/README.md
  sig-node/README.md
  sig-scheduling/README.md
  sig-storage/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/api-machinery, sig/auth, sig/network, sig/node, sig/scheduling, sig/storage, size/M, area/annual-reports

#7338 Add CAPO Office Hours meeting
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/S

#7363 Update release-team-leads slack group for 1.28 RT
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/release, size/S, area/community-management, area/slack-management

#7370 generator: Refactor to make github API calls only when needed
  generator/app.go
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S

#7353 Adding sig-docs-ru-owners to sig-docs/README.md
  sig-docs/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/XS

#7284 updated link for In-place updates
  contributors/devel/sig-architecture/api_changes.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/XS, ok-to-test, area/developer-guide

#7329 adding meeting minutes to yearly archive
  sig-release/meeting-notes-archive/2017.md
  sig-release/meeting-notes-archive/2018.md
  sig-release/meeting-notes-archive/2019.md
  sig-release/meeting-notes-archive/2020.md
  sig-release/meeting-notes-archive/2021.md
  sig-release/meeting-notes-archive/2022.md
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/XXL

#7342 Replace lavalamp with jpbetz as sig-apimachinery TL
  OWNERS_ALIASES
  sig-api-machinery/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/api-machinery, size/XS

#7373 Fix typo in multi_year_comparisons
  sig-contributor-experience/surveys/multi_year_comparisons/README.md
  sig-contributor-experience/surveys/multi_year_comparisons/multi_year_2019.ipynb
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, ok-to-test

#7375 Add sig-auth-authorizers-dev slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7374 sig-auth: remove multi-tenancy subproject
  sig-auth/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/auth, size/XS

#7358 Add public channel for discussing primaza
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management
