Repository kubernetes/community, pull requests merged in 2023-05, with the labels that each got.

#7266 feat: add ebpf channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7271 Add org member cmd for reg playbook
  events/events-team/registration/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S

#7265 Add kubectl-validate subproject
  sig-cli/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cli, size/S

#7269 fix: Typo in sig-docs/blog-subproject README
  sig-docs/blog-subproject/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/XS

#7282 Onboard new SRC member Craig Ingram
  OWNERS_ALIASES
  committee-security-response/README.md
  communication/slack-config/usergroups.yaml
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7285 lfx-mentorship repo detached
  mentoring/programs/lfx-mentorship.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/mentorship-planning, ok-to-test

#7280 Update Shell Style Guide link and text
  contributors/guide/coding-conventions.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide, ok-to-test

#7279 Update sig-spotlight-blog-process.md
  communication/contributor-comms/storytelling-resources/sig-spotlight-blog-process.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management, tide/merge-method-squash, area/contributor-comms

#7211 SIG Scalability annual report 2022
  sig-scalability/annual-report-2022.md
Labels: lgtm, cncf-cla: yes, approved, sig/scalability, size/M, area/annual-reports

#7286 Update affiliation for KnVerey
  sig-cli/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cli, size/S

#7035 Jim Angel going to emeritus
  OWNERS_ALIASES
  sig-docs/README.md
  sig-docs/offboarding.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/M

#7267 Add a section to the pull-request docs about giant multi-SIG PRs
  contributors/guide/pull-requests.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/contributor-guide

#7153 Add channel for Atmosphere
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#6784 Begin new Steering Committee election docs
  elections/README.md
  elections/steering/documentation/README.md
Labels: lgtm, cncf-cla: yes, approved, priority/important-longterm, size/L, committee/steering, triage/accepted

#7288 Update SIG Release meeting times
  sig-list.md
  sig-release/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/XS

#7178 SIG Autoscaling - 2022 Annual Report
  sig-autoscaling/annual-report-2022.md
Labels: lgtm, cncf-cla: yes, approved, sig/autoscaling, size/M, area/annual-reports

#7214 SIG Release 2022 Annual Report
  sig-release/annual-report-2022.md
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/L, area/annual-reports

#7242 SIG cluster lifecycle annual report 2022
  sig-cluster-lifecycle/annual-report-2022.md
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/L, area/annual-reports

#7195 Add API Machinery Annual Report
  sig-api-machinery/annual-report-2022.md
Labels: lgtm, cncf-cla: yes, approved, sig/api-machinery, size/M, area/annual-reports

#7290 Add kubectl-validate channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7294 Missing sig-spotlights info
  communication/contributor-comms/storytelling-resources/sig-spotlights.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/contributor-comms

#7272 docs: Ask for cherry-picks to be made in order from newest to oldest releases
  contributors/devel/sig-release/cherry-picks.md
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/XS, area/developer-guide

#7175 sig-testing annual-report-2022.md
  sig-testing/annual-report-2022.md
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/M, area/annual-reports

#7297 sig-scheduling: add kube-scheduler-wasm-extension repo
  sig-scheduling/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/XS

#7292 Add CONTRIBUTING.md to sig scheduling
  sig-scheduling/CONTRIBUTING.md
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/M, tide/merge-method-squash

#7299 Document short-names and categories
  contributors/devel/sig-architecture/api-conventions.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/M, area/developer-guide

#7199 Add SIG CLI Annual Report 2022
  sig-cli/annual-report-2022.md
Labels: lgtm, cncf-cla: yes, approved, sig/cli, size/M, area/annual-reports

#7301 Update e2e-tests-kubetest2.md with new source for Kubernetes releases
  contributors/devel/sig-testing/e2e-tests-kubetest2.md
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/XS, area/developer-guide

#7295 Update blog-guidelines.md
  communication/contributor-comms/storytelling-resources/blog-guidelines.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/contributor-comms

#7277 added users from kubestellar-devs
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#7309 archive wg-reliability
  OWNERS_ALIASES
  archive/wg-reliability/README.md
  archive/wg-reliability/annual-report-2022.md
  archive/wg-reliability/charter.md
  communication/slack-config/channels.yaml
  sig-architecture/README.md
  sig-cluster-lifecycle/README.md
  sig-list.md
  sig-release/README.md
  sig-scalability/README.md
  sig-testing/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, sig/cluster-lifecycle, sig/contributor-experience, sig/release, sig/scalability, sig/testing, size/M, committee/steering, area/community-management, area/slack-management, area/annual-reports

#7276 request to add kubestellar-dev channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, tide/merge-method-squash, ok-to-test, area/slack-management

#7275 request to add kubestellar-devs group
  communication/slack-config/usergroups.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management, tide/merge-method-squash, ok-to-test, area/slack-management

#7317 sig-scheduling: Remove kube-batch subproject
  sig-scheduling/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/XS

#7321 cleanup containers after use (post execution of icon rasterize.sh script), fix spacing
  icons/tools/rasterize.sh
Labels: lgtm, cncf-cla: yes, approved, size/XS

#7319 Update the incorrect links in sig-storage under k/community
  sig-storage/CONTRIBUTING.md
  sig-storage/annual-report-2020.md
  sig-storage/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, kind/documentation, sig/storage, size/S, area/annual-reports

#7328 Update SIG-CLI chairs and TL
  OWNERS_ALIASES
  sig-cli/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cli, size/S

#7293 docs: update google-season-of-docs resolving broken links
  mentoring/programs/google-season-of-docs.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/mentorship-planning, ok-to-test

#7270 Change remaining marketing-team names
  committee-steering/governance/sig-governance.md
  communication/calendar-guidelines.md
  communication/contributor-comms/storytelling-resources/event-checklist.md
  communication/contributor-comms/storytelling-resources/multichannel-communications.md
  events/events-team/marketing/README.md
  mentoring/programs/shadow-roles.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, committee/steering, area/community-management, area/mentorship-planning, area/contributor-comms
