Repository kubernetes/community, pull requests merged in 2023-09, with the labels that each got.

#7514 Fixing automation page image links
  communication/contributor-comms/automation/announcement-guidelines.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/community-management, area/contributor-comms

#7523 sig-cloud-provider: add cloud-pv-admission-labeler as cloud-provider-extraction-migration subproject
  sig-cloud-provider/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, sig/cloud-provider

#7424 Improve shadow requirements for Blogging Lead
  communication/contributor-comms/role-handbooks/blog-coordinator.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, area/community-management, area/contributor-comms

#7372 set up SIG-etcd
  OWNERS_ALIASES
  liaisons.md
  sig-etcd/OWNERS
  sig-etcd/README.md
  sig-etcd/charter.md
  sig-etcd/vision.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/L, committee/steering, tide/merge-method-squash

#7526 Adding approved voter exception
  elections/steering/2023/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#7527 Add exception to voters.yaml
  elections/steering/2023/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#7530 Update Subproject-Lead.md Shadow Requirements
  communication/contributor-comms/role-handbooks/Subproject-Lead.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/community-management, area/contributor-comms

#7455 Archive kpack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#7449 add claudie to channels.yaml for slack
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#7525 Update devfile-devs group
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management, ok-to-test, area/slack-management

#7412 Add Krkn slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#7367 Add SCS slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, tide/merge-method-squash, ok-to-test, area/slack-management

#7532 typo: exchange Wei Huang's first/last name
  events/awards/award-recipients/2019-award-recipients.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#7533 Update Social-Media lead handbook
  communication/contributor-comms/role-handbooks/Social-Media.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/community-management, area/contributor-comms

#7454 governance: add Subproject Leads as a named role in the SIG governance
  a
  committee-steering/governance/sig-governance.md
  community-membership.md
  generator/app.go
  generator/sig_readme.tmpl
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, committee/steering

#7534 Add PRR survey for 2023
  sig-architecture/Kubernetes_PRR_Survey_2023Q2.pdf
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/XS

#7542 Adding voter exceptions for Steering 2023 election
  elections/steering/2023/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#7543 remove accidentally committed file in a previous PR
  a
Labels: lgtm, cncf-cla: yes, approved, size/XS

#7544 patch(channel): archive outdated sig-contribex-meetings channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7545 sig-contribex: remove contributor-tweets repo
  sig-contributor-experience/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#7551 SIG Cloud Provider annual report for 2022
  sig-cloud-provider/annual-report-2022.md
Labels: lgtm, cncf-cla: yes, approved, size/M, sig/cloud-provider, area/annual-reports
