Repository kubernetes/community, pull requests merged in 2023-07, with the labels that each got.

#7387 Add #gophercloud Slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7385 Offboard Luke Hinds from SRC
  OWNERS_ALIASES
  committee-security-response/README.md
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/usergroups.yaml
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/release, size/S, area/community-management, area/slack-management

#7390 Update noderesourcetopology-api repo location
  sig-node/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/XS

#7371 Add README for storytelling resources
  communication/contributor-comms/blogging-resources/README.md
  communication/contributor-comms/blogging-resources/blog-guidelines.md
  communication/contributor-comms/blogging-resources/event-checklist.md
  communication/contributor-comms/blogging-resources/example-interview-qs-sig-windows.md
  communication/contributor-comms/blogging-resources/example-topics.md
  communication/contributor-comms/blogging-resources/multichannel-communications.md
  communication/contributor-comms/blogging-resources/sig-spotlight-blog-process.md
  communication/contributor-comms/blogging-resources/sig-spotlights.md
  communication/contributor-comms/blogging-resources/social-guidelines.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/community-management, area/contributor-comms

#7315 Update README.md
  communication/contributor-comms/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management, area/contributor-comms

#7386 Completed EO Handbook, with templates.
  elections/steering/README.md
  elections/steering/documentation/README.md
  elections/steering/documentation/messaging/election-templates.md
  elections/steering/documentation/template/README.md
  elections/steering/documentation/template/election-template.yaml
  elections/steering/documentation/template/election_desc.md
  elections/steering/documentation/template/nomination-template.md
  elections/steering/documentation/template/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XL, committee/steering, area/elections

#7395 Adds the 2023 Election officers
  elections/steering/2023/OWNERS
  elections/steering/2023/README.md
  elections/steering/2023/election-template.yaml
  elections/steering/2023/election_desc.md
  elections/steering/2023/nomination-template.md
  elections/steering/2023/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, committee/steering, area/elections

#7398 Update README.md
  communication/contributor-comms/blogging-resources/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/contributor-comms

#7249 wg-policy annual community report
  wg-policy/annual-report-2022.md
Labels: lgtm, cncf-cla: yes, approved, size/M, wg/policy, area/annual-reports

#7217 sig-multicluster 2022 annual report
  sig-multicluster/CONTRIBUTING.md
  sig-multicluster/annual-report-2022.md
Labels: lgtm, cncf-cla: yes, approved, sig/multicluster, size/M, area/annual-reports

#7287 Initial WG LTS Reformation
  OWNERS_ALIASES
  liaisons.md
  sig-architecture/README.md
  sig-cluster-lifecycle/README.md
  sig-k8s-infra/README.md
  sig-list.md
  sig-release/README.md
  sig-security/README.md
  sig-testing/README.md
  sigs.yaml
  wg-lts/README.md
  wg-lts/charter.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, sig/cluster-lifecycle, sig/release, sig/testing, size/L, committee/steering, tide/merge-method-squash, committee/security-response, sig/security, sig/k8s-infra

#7399 Update README.md
  communication/contributor-comms/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/contributor-comms

#7396 Add kuadrant channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#7404 restore wg-lts slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7397 add Operations Handbook to event team
  events/events-team/README.md
  events/events-team/operations/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/contributor-summit

#7408 Add cri-dockerd slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#7416 Disambiguate timeline for candidate notifications
  elections/steering/2023/README.md
  elections/steering/documentation/README.md
  elections/steering/documentation/template/README.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#7420 Reorganize conventions for numeric fields
  contributors/devel/sig-architecture/api-conventions.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/M, area/developer-guide

#7419 chore: update gateway API code jam frequency
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/XS

#7407 Retire VMware User Group and remove User Groups as a K8s Group category since this removes the last, only one
  OWNERS_ALIASES
  README.md
  archive/ug-vmware-users/README.md
  committee-steering/governance/annual-reports.md
  committee-steering/governance/ug-governance.md
  communication/calendar-guidelines.md
  communication/slack-guidelines.md
  communication/youtube/youtube-guidelines.md
  contributors/guide/style-guide.md
  elections/steering/documentation/template/README.md
  elections/teams/README.md
  generator/README.md
  generator/liaisons.tmpl
  generator/list.tmpl
  generator/ug_readme.tmpl
  governance.md
  liaisons.md
  mentoring/programs/contributor-workshop/live-workshop/community-groups.md
  sig-list.md
  sig-wg-lifecycle.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, committee/steering, area/contributor-guide, area/community-management, area/mentorship-planning

#7378 updated readme
  contributors/guide/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/contributor-guide, ok-to-test

#7422 cocc: update election procedure
  committee-code-of-conduct/election.md
Labels: lgtm, cncf-cla: yes, approved, kind/documentation, priority/critical-urgent, size/S

#7256 improve kubemark binary building
  contributors/devel/sig-scalability/kubemark-setup-guide.md
Labels: lgtm, cncf-cla: yes, approved, sig/scalability, size/XS, ok-to-test, area/developer-guide

#7417 2023 Steering Election setup
  elections/README.md
  elections/steering/2023/README.md
  elections/steering/2023/election-template.yaml
  elections/steering/2023/election.yaml
  elections/steering/2023/election_desc.md
  elections/steering/2023/voters.yaml
  elections/steering/README.md
  elections/steering/documentation/README.md
  elections/steering/documentation/template/README.md
  elections/steering/documentation/template/election_desc.md
  elections/steering/documentation/template/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, size/L, committee/steering

#7410 deprecated comms event role
  communication/contributor-comms/README.md
  communication/contributor-comms/role-handbooks/[Deprecated]Comms-Events.md
  sig-contributor-experience/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management, area/contributor-comms

#7427 Testing whether the voter list must be non-empty
  elections/steering/2023/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#7426 [sig-node] mothball old scrub slack channel and create a fresh one for CI subgroup
  communication/slack-config/sig-node/config.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/node, size/XS, area/community-management, area/slack-management

#7415 Contributor Social handbook
  events/events-team/content/social-content.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, area/contributor-summit

#7425 sig-cloud-provider: Add equinix-metal subproject
  sig-cloud-provider/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, sig/cloud-provider
