Repository kubernetes/community, pull requests merged in 2023-10, with the labels that each got.

#7552 normalize company names so they're not all over the place
  committee-code-of-conduct/README.md
  sig-architecture/README.md
  sig-k8s-infra/README.md
  sig-list.md
  sig-scalability/README.md
  sig-windows/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, sig/scalability, sig/windows, size/M, sig/k8s-infra

#7557 Update company for Marcel Zieba
  sig-list.md
  sig-scalability/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/scalability, size/XS

#7558 steering: Update committee members following annual election cycle
  OWNERS_ALIASES
  committee-steering/README.md
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, committee/steering, area/community-management, area/slack-management

#7564 Correcting date for 2023 Steering election retro
  elections/steering/2023/README.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#7561 spellcheck: exclude all voters.yaml
  hack/.spelling_failures
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#7563 Adding results for 2023 Steering election
  elections/steering/2023/ballots.csv
  elections/steering/2023/results.md
Labels: lgtm, cncf-cla: yes, approved, size/L, committee/steering

#7567 Remove Gubernator reference from README.md (deprecated) and fix grammar
  contributors/guide/contributor-cheatsheet/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/contributor-guide, ok-to-test

#7550 Update cloud provider-aws zoom link
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, sig/cloud-provider

#7556 Update Kubebuilder meeting - agenda and recorders
  sig-api-machinery/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/api-machinery, size/S

#7540 Update sig-autoscaling Zoom link
  sig-autoscaling/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/autoscaling, size/XS

#7536 Request new Slack channel for the Open Component Model (OCM)
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#7460 sig-net code jammmm
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/M

#7549 Link to documentation site and clarify PR/CLA order
  CONTRIBUTING.md
  contributors/guide/pull-requests.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide, ok-to-test

#7323 Updated incorrect links under sig api-machinery in k/community
  sig-api-machinery/annual-report-2020.md
  sig-api-machinery/annual-report-2021.md
Labels: lgtm, cncf-cla: yes, approved, kind/documentation, sig/api-machinery, size/S, area/annual-reports

#7357 Add contact info for Cluster API Add-on Provider for Helm
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/XS

#7539 Add educates channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#7137 SIG-Autoscaling - Subproject Owners Cleanup
  sig-autoscaling/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/autoscaling, size/S

#7486 Update custom content for CoCC Readme
  committee-code-of-conduct/README.md
Labels: lgtm, cncf-cla: yes, approved, size/S

#7538 Update flaky-tests.md
  contributors/devel/sig-testing/flaky-tests.md
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/S, area/developer-guide

#7569 Update channels.yaml
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7546 Update Comms-Tech-Lead.md
  communication/contributor-comms/role-handbooks/Comms-Tech-Lead.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/community-management, area/contributor-comms

#7565 sig-multicluster: add cluster-inventory-api subproject
  sig-multicluster/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/multicluster, size/XS, ok-to-test

#7574 sig-network: add blixt subproject
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/XS

#7575 Change "etcd" channel to sig-etcd
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management, sig/etcd

#7576 Update API review project links
  sig-architecture/README.md
  sig-architecture/annual-report-2020.md
  sig-architecture/annual-report-2021.md
  sig-architecture/api-review-process.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/S, area/annual-reports

#7469 Spotlight Blog Updated for SIG ContribEx
  communication/contributor-comms/blogging-resources/sig-spotlights.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/contributor-comms

#7573 Add Dan Winship as SIG Network Technical Lead
  OWNERS_ALIASES
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/S

#7583 Update feature-gates doc re. 'Deprecated'
  contributors/devel/sig-architecture/feature-gates.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/M, area/developer-guide

#7566 chore: add openstack-magnum channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#7584 rotate K8s Infra Leadership
  OWNERS_ALIASES
  sig-k8s-infra/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S, sig/k8s-infra

#7586 Document latest process(es) for licenses
  github-management/kubernetes-repositories.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/github-management

#7587 wg-structured-logging: remove regular meeting
  sig-list.md
  sigs.yaml
  wg-structured-logging/README.md
Labels: lgtm, cncf-cla: yes, approved, size/S

#7589 Update monthly steering meeting time
  committee-steering/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#7591 slack-config: Archive lokomotive channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7593 Update stale subproject governance links
  community-membership.md
Labels: lgtm, cncf-cla: yes, approved, size/XS

#7590 Update sig-auth TL
  sig-auth/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/auth, size/XS, committee/steering

#7595 Remove dangling wg-multitenancy readme
  wg-multitenancy/README.md
Labels: lgtm, cncf-cla: yes, approved, size/M

#7596 Add perfdash links and fix testgrid links for Sig-scalability
  sig-scalability/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/scalability, size/XS
