Repository kubernetes/community, pull requests merged in 2024-04, with the labels that each got.

#7725 Add a new requirement to org membership - updated gitdm!
  community-membership.md
Labels: lgtm, cncf-cla: yes, approved, size/S

#7802 Add sig-api-machinery-storageversion-dev channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7737 Add tracing instrumentation documentation
  contributors/devel/sig-instrumentation/metric-instrumentation.md
  contributors/devel/sig-instrumentation/trace-instrumentation.md
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/M, area/developer-guide

#7761 coding-conventions: update links
  contributors/guide/coding-conventions.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/contributor-guide, ok-to-test

#7798 first-contribution: add sig-node link
  contributors/guide/first-contribution.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide, ok-to-test

#7727 Update required Go versions for different versions of Kubernetes.
  contributors/devel/development.md
Labels: lgtm, cncf-cla: yes, approved, size/M, ok-to-test, area/developer-guide

#7754 Remove myself as SIG Cluster Lifecycle TL
  OWNERS_ALIASES
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/XS

#7753 sig-scheduling: update descheduler meeting times
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/S

#7807 Update CAPV meeting notes links
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/XS

#7610 docs: update the checklist on the event awards playbook
  events/awards/playbook.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#7711 slack-config: Archive appscode slack channels
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7706 revise from reflect.Equal to reflect.DeepEqual
  sig-scheduling/CONTRIBUTING.md
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/XS, ok-to-test

#7821 Added hydrophone office hours to sig meeting list
  sig-list.md
  sig-testing/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/XS

#7726 Add link to e2e_node test docs
  contributors/devel/sig-testing/e2e-tests.md
Labels: lgtm, cncf-cla: yes, approved, sig/node, sig/testing, size/XS, area/developer-guide

#7818 Add terraform-kops slack channel.
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#7829 Update sig-cli leads
  OWNERS_ALIASES
  sig-cli/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cli, size/S

#7832 sig-network: add kube-network-policies under network-policy subproject
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/XS

#7827 Archive wg-iot-edge
  OWNERS_ALIASES
  archive/wg-iot-edge/OWNERS
  archive/wg-iot-edge/README.md
  archive/wg-iot-edge/annual-report-2022.md
  archive/wg-iot-edge/annual-report-2023.md
  archive/wg-iot-edge/whitepapers/edge-security-challenges/README.md
  liaisons.md
  sig-list.md
  sig-multicluster/README.md
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/multicluster, sig/network, size/M, area/annual-reports

#7643 Update sigs.yaml for wg-policy chair changes
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-policy/README.md
Labels: lgtm, cncf-cla: yes, approved, size/S, wg/policy, tide/merge-method-squash

#7828 Guidance for skipping Alpha for feature gated changes
  contributors/devel/sig-architecture/feature-gates.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/S, area/developer-guide

#7841 sig-storage: remove container-object-storage-interface-csi-adapter for archival
  sig-storage/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/storage, size/XS

#7843 sig-cloud-provider: remove baiducloud project
  sig-cloud-provider/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, sig/cloud-provider

#7817 Update DP WG annual report 2023
  wg-data-protection/annual-report-2023.md
Labels: lgtm, cncf-cla: yes, approved, size/S, wg/data-protection, area/annual-reports

#7849 Added YouTube list creation in the list of action items
  .github/ISSUE_TEMPLATE/leadership-change.yml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#7837 SIG-Autoscaling Leads Update
  OWNERS_ALIASES
  sig-autoscaling/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/autoscaling, size/S

#7805 Add WG Device Management
  OWNERS_ALIASES
  communication/slack-config/channels.yaml
  liaisons.md
  sig-architecture/README.md
  sig-autoscaling/README.md
  sig-list.md
  sig-network/README.md
  sig-node/README.md
  sig-scheduling/README.md
  sigs.yaml
  wg-device-management/README.md
  wg-device-management/charter.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, sig/autoscaling, sig/contributor-experience, sig/network, sig/node, sig/scheduling, size/L, committee/steering, area/community-management, area/slack-management

#7853 sig-auth: Add secrets-store-sync-controller subproject
  sig-auth/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/auth, size/XS

#7823 WG serving proposal
  OWNERS_ALIASES
  liaisons.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-autoscaling/README.md
  sig-instrumentation/README.md
  sig-list.md
  sig-network/README.md
  sig-node/README.md
  sig-scheduling/README.md
  sig-storage/README.md
  sigs.yaml
  wg-serving/README.md
  wg-serving/charter.md
Labels: lgtm, cncf-cla: yes, approved, sig/apps, sig/architecture, sig/autoscaling, sig/instrumentation, sig/network, sig/node, sig/scheduling, sig/storage, size/L, committee/steering, do-not-merge/hold

#7830 wg-serving slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/apps, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7840 sig-storage: add external-snapshot-metadata as new sub-project
  sig-storage/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/storage, size/XS

#7848 Update youtube admin list
  communication/moderators.md
  communication/slack-config/usergroups.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/community-management, area/slack-management
