Repository kubernetes/community, pull requests merged in 2024-05, with the labels that each got.

#7831 SIG Node annual report 2023
  sig-node/annual-report-2023.md
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/M, area/annual-reports

#7835 update sig cloud provider 2023 annual report
  sig-cloud-provider/README.md
  sig-cloud-provider/annual-report-2023.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/M, sig/cloud-provider, area/annual-reports

#7860 update SIG release annual report
  sig-release/annual-report-2023.md
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/M, area/annual-reports

#7842 Update capi v1.8 release team members
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, needs-ok-to-test, sig/contributor-experience, size/M, area/community-management, area/slack-management

#7870 Archive API Expression Working Group
  archive/wg-api-expression/OWNERS
  archive/wg-api-expression/README.md
  archive/wg-api-expression/annual-report-2020.md
  archive/wg-api-expression/annual-report-2021.md
  archive/wg-api-expression/annual-report-2022.md
  archive/wg-api-expression/annual-report-2023.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, area/annual-reports

#7806 Document feature gates more
  contributors/devel/sig-architecture/api_changes.md
  contributors/devel/sig-architecture/feature-gates.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/L, area/developer-guide

#7859 SIG Docs Annual Report 2023
  sig-docs/annual-report-2023.md
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/M, do-not-merge/hold, area/annual-reports

#7879 remove wg-api-expression from sigs.yaml
  OWNERS_ALIASES
  liaisons.md
  sig-api-machinery/README.md
  sig-architecture/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/api-machinery, sig/architecture, size/M

#7804 Add SIG CLI Annual Report 2023
  sig-cli/annual-report-2023.md
Labels: lgtm, cncf-cla: yes, approved, sig/cli, size/M, area/annual-reports

#7858 Kueue: Add Aldo and Yuki to leads roles
  sig-scheduling/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/S

#7811 Complete sig-etcd annual report for 2023
  sig-etcd/annual-report-2023.md
Labels: lgtm, cncf-cla: yes, approved, size/M, area/annual-reports, sig/etcd

#7881 fixed broken links in contributors readme
  contributors/devel/README.md
Labels: lgtm, cncf-cla: yes, approved, needs-ok-to-test, size/XS, area/developer-guide

#7886 Fix link sig-cli annual-report-2023.md
  sig-cli/annual-report-2023.md
Labels: lgtm, cncf-cla: yes, approved, sig/cli, size/XS, area/annual-reports

#7887 Fix typos at wg-batch charter
  wg-batch/charter.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#7877 added Jeffwan as a WG Serving chair
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-serving/README.md
Labels: lgtm, cncf-cla: yes, approved, size/XS

#7836 SIG-UI 2023 Annual Report
  sig-list.md
  sig-ui/CONTRIBUTING.md
  sig-ui/README.md
  sig-ui/annual-report-2023.md
  sig-ui/charter.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/ui, size/M, committee/steering, area/annual-reports

#7812 SIG Autoscaling 2023 Report
  sig-autoscaling/annual-report-2023.md
Labels: lgtm, cncf-cla: yes, approved, sig/autoscaling, size/S, area/annual-reports

#7885 fix link in sig-node 2023 annual report
  sig-node/annual-report-2023.md
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/XS, area/annual-reports

#7867 Update CONTRIBUTING.md for SIG-MC
  sig-multicluster/CONTRIBUTING.md
Labels: lgtm, cncf-cla: yes, approved, sig/multicluster, size/L

#7868 Fix typo in sig MC teams
  sig-multicluster/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/multicluster, size/XS

#7889 wg-serving: add mention to workstreams
  wg-serving/README.md
Labels: lgtm, cncf-cla: yes, approved, size/S

#7892 sig-etcd: add robustness test meeting
  sig-etcd/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S, sig/etcd

#7813 2023 Annual Report: WG Structured Logging
  wg-structured-logging/annual-report-2023.md
Labels: lgtm, cncf-cla: yes, approved, size/S, tide/merge-method-squash, area/annual-reports

#7895 add new docs tech leads, tim to emeritus
  OWNERS_ALIASES
  sig-docs/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/S, tide/merge-method-squash

#7742 Update the event's registration team's README.md
  events/events-team/registration/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L

#7874 Update comms handbook for contributor summit
  events/events-team/marketing/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L

#7891 docs: add salaxander as SIG docs tech lead
  OWNERS_ALIASES
  committee-code-of-conduct/README.md
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/S

#7901 sig-etcd: add triage meeting
  sig-etcd/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S, sig/etcd

#7902 wg-serving: add link to orchestration workstream and minor edits
  wg-serving/README.md
Labels: lgtm, cncf-cla: yes, approved, size/XS

#7880 Add ThatsMrTalbot to the cert-manager-maintainers group on Slack
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#7904 wg-serving: add link to K8s WG Serving playlist
  sigs.yaml
  wg-serving/README.md
Labels: lgtm, cncf-cla: yes, approved, size/XS

#7907 add slack channel for lula project
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, tide/merge-method-squash, area/slack-management

#7896 2023 annual report for SIG scalability
  sig-scalability/annual-report-2023.md
Labels: lgtm, cncf-cla: yes, approved, sig/scalability, size/M, area/annual-reports

#6530 guide: Add more docs around tide/merge-method-squash
  contributors/guide/contributor-cheatsheet/README.md
  contributors/guide/pull-requests.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/contributor-guide

#7864 Prep SIG Instrumentation Annual Report
  sig-instrumentation/annual-report-2023.md
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/S, area/annual-reports

#7856 SIG Windows Annual report 2023
  sig-windows/annual-report-2023.md
Labels: lgtm, cncf-cla: yes, approved, sig/windows, size/M, area/annual-reports

#7814 sig-cluster-lifecycle: add annual report for 2023
  sig-cluster-lifecycle/annual-report-2023.md
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/M, area/annual-reports

#7911 Update sig-cli agenda
  sig-cli/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, kind/cleanup, sig/cli, size/S

#7562 Add a note on how to appear in community calendar
  communication/calendar-guidelines.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management

#7862 added a playlist for WG Serving
  sigs.yaml
  wg-serving/README.md
Labels: lgtm, cncf-cla: yes, approved, size/XS

#7822 New update to SIG Storage 2023 report
  sig-storage/annual-report-2023.md
Labels: lgtm, cncf-cla: yes, approved, sig/storage, size/S, area/annual-reports

#7914 OWNERS for WG Serving
  wg-serving/OWNERS
Labels: lgtm, cncf-cla: yes, approved, size/XS, wg/serving

#7915 update sig-storage meeting and annual report 2023
  sig-list.md
  sig-storage/README.md
  sig-storage/annual-report-2023.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/storage, size/S, area/annual-reports

#7898 sig-etcd: add etcd-manager subproject
  sig-etcd/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, sig/etcd

#7912 SIG Cloud Provider update
  OWNERS_ALIASES
  sig-cloud-provider/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S, sig/cloud-provider

#7913 added instructions on how to deal with the meetings
  wg-serving/README.md
Labels: lgtm, cncf-cla: yes, approved, size/M, tide/merge-method-squash, wg/serving

#7873 Fix broken links in sig-scalability README
  sig-scalability/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/scalability, size/S

#7559 Add Spanish version of Kubernetes Contributor Cheat Sheet
  contributors/guide/contributor-cheatsheet/README-es.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, area/contributor-guide, tide/merge-method-squash, ok-to-test

#7899 Update registration team handbook about the summit-team email group
  events/events-team/registration/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#7922 wg-serving: add multi-host/multi-node workstream link
  wg-serving/README.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, wg/serving
