Repository kubernetes/community, pull requests merged in 2024-12, with the labels that each got.

#8165 Move robustness team meetings to 11 PST
  sig-etcd/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, sig/etcd

#8200 sig-network: Add ingate subproject
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/XS

#8197 Update triage party usage information
  contributors/chairs-and-techleads/process-workflow-guide.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#8195 sig-storage: remove cosi-provisioner-sidecar, cosi-controller, cosi-spec repos from kubernetes-cosi subproject
  sig-storage/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/storage, size/XS

#8201 sig-apps: add kjob subproject
  sig-apps/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/apps, size/XS

#8191 Adding emails for SIG Docs chairs and tech leads
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS

#8182 add emails for pohly and wg-device-management
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS

#8206 sig-storage: remove container-object-storage-interface-api subproject repo
  sig-storage/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/storage, size/XS

#8144 Hindi Category in Kubernetes Discussion
  communication/moderators.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test

#8203 Updated some slack rules to match actual practice.
  .github/ISSUE_TEMPLATE/slack-request.yml
  communication/slack-guidelines.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, area/community-management, tide/merge-method-squash, area/slack-management

#8148 Add self to sig-instrumentation maintainers
  OWNERS_ALIASES
  sig-instrumentation/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/S

#8215 Fix GH Yml format on slack template.
  .github/ISSUE_TEMPLATE/slack-request.yml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/slack-management

#8212 Update sig-cli and sig-apps mailinglists
  sig-apps/CONTRIBUTING.md
  sig-apps/README.md
  sig-cli/CONTRIBUTING.md
  sig-cli/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/apps, sig/cli, size/S

#8213 Add xmudrii as K8s Infra Tech Lead
  OWNERS_ALIASES
  sig-k8s-infra/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, sig/k8s-infra

#8211 Moving Instance Gateway to SIG-Network and renaming it
  sig-apps/README.md
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/apps, sig/network, size/S

#8100 doc: Update staging branch list and clarify publishing rules
  contributors/devel/sig-architecture/staging.md
Labels: lgtm, cncf-cla: yes, approved, needs-ok-to-test, sig/architecture, sig/contributor-experience, size/S, area/developer-guide
