Repository kubernetes/community, pull requests merged in 2024-01, with the labels that each got.

#7656 Remove references to Gubernator in Contributors and Comms docs
  communication/best-practices.md
  contributors/chairs-and-techleads/process-workflow-guide.md
  contributors/guide/contributor-cheatsheet/README-de.md
  contributors/guide/contributor-cheatsheet/README-fr.md
  contributors/guide/contributor-cheatsheet/README-hi.md
  contributors/guide/contributor-cheatsheet/README-id.md
  contributors/guide/contributor-cheatsheet/README-it.md
  contributors/guide/contributor-cheatsheet/README-ja.md
  contributors/guide/contributor-cheatsheet/README-ko.md
  contributors/guide/contributor-cheatsheet/README-pt.md
  contributors/guide/contributor-cheatsheet/README-uk.md
  contributors/guide/contributor-cheatsheet/README-zh.md
  contributors/guide/issue-triage.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/contributor-guide, area/community-management

#7658 remove todo of adding instructions to flaking test issue template
  contributors/devel/sig-testing/flaky-tests.md
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/XS, area/developer-guide

#7665 sig-release: add obscli repo under release-engineering subproject
  sig-release/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/XS

#7666 Create annual-activities.md
  sig-docs/annual-activities.md
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/M

#7667 update tech leads for sig-docs
  OWNERS_ALIASES
  sig-docs/README.md
  sig-docs/netlify-access.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/XS

#7664 sig-instrumentation: add rexagod to leads
  OWNERS_ALIASES
  sig-instrumentation/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/S

#7668 Update affiliation for Rey Lejano
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/XS

#7669 Update style-guide.md
  contributors/guide/style-guide.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide

#7663 Fix typos in the registration handbook
  events/events-team/registration/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#7661 update leadership change template to include OWNERS_ALIAS list item f…
  .github/ISSUE_TEMPLATE/leadership-change.yml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#7670 Add Gaurav Padam as editor for blog
  sig-docs/blog-subproject/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/XS

#7662 Clarify Google Analytics offboarding and addition
  sig-docs/offboarding.md
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/XS

#7676 sig-testing: add hydrophone repo
  sig-testing/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/XS

#7679 Remove reference to user groups in verify script
  hack/verify-generated-docs.sh
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#7681 sig network: add subproject node-ipam-controller
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/XS

#7684 Two monthly meetings for WG batch targeting different timezones
  sig-list.md
  sigs.yaml
  wg-batch/README.md
Labels: lgtm, cncf-cla: yes, approved, size/S

#7687 Added hydrophone slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7689 sig-network: Add knftables subproject
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/XS

#7675 Archive past years of SIG-node agenda
  sig-node/archive/README.md
  sig-node/archive/meeting-notes-2021.md
  sig-node/archive/meeting-notes-2022.md
  sig-node/archive/meeting-notes-2023.md
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/XXL

#7685 added okd-dev
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#7674 Add Capi Proxmox Channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7680 Add riscv to Slack channels
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#7696 Update channels.yaml to add channel for in place pod resize feature
  communication/slack-config/sig-node/config.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/node, size/XS, area/community-management, area/slack-management

#7699 Move onlydole to emeritus for SIG Docs Tech Lead
  OWNERS_ALIASES
  sig-docs/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/XS

#7686 Cluster API: update office hours agenda document link
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/XS
