Repository kubernetes/community, pull requests merged in 2024-10, with the labels that each got.

#8096 Add election results of 2024 Steering Committee election
  elections/steering/2024/ballots.csv
  elections/steering/2024/results.md
  elections/steering/2024/voters.yaml
Labels: lgtm, cncf-cla: yes, approved, size/L, committee/steering

#8095 steering: Onboard/offboard members following 2024 election results
  OWNERS_ALIASES
  committee-code-of-conduct/README.md
  committee-steering/README.md
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
  liaisons.md
  sig-api-machinery/README.md
  sig-apps/README.md
  sig-cluster-lifecycle/README.md
  sig-contributor-experience/README.md
  sig-etcd/README.md
  sig-list.md
  sig-multicluster/README.md
  sig-release/README.md
  sig-scalability/README.md
  sigs.yaml
  wg-batch/README.md
  wg-lts/README.md
  wg-structured-logging/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/api-machinery, sig/apps, sig/cluster-lifecycle, sig/contributor-experience, sig/multicluster, sig/release, sig/scalability, size/L, committee/steering, area/community-management, area/slack-management, sig/etcd

#8098 Simplify contributor setup by removing GOPATH dependency
  contributors/guide/github-workflow.md
Labels: lgtm, cncf-cla: yes, approved, needs-ok-to-test, sig/contributor-experience, size/S, area/contributor-guide

#8092 REQUEST: New Slack kubectl.nvim to the channel.yaml
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#8090 doc(test-e2e): support custom network and subnet on remote e2e mode
  contributors/devel/sig-node/e2e-node-tests.md
Labels: lgtm, cncf-cla: yes, approved, kind/feature, needs-ok-to-test, sig/contributor-experience, sig/node, size/S, area/developer-guide

#8084 doc(e2e-node-tests): fix gcloud list images cmd
  contributors/devel/sig-node/e2e-node-tests.md
Labels: lgtm, cncf-cla: yes, approved, kind/bug, sig/contributor-experience, sig/node, size/XS, ok-to-test, area/developer-guide

#8102 Archive three disused channels.
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#8066 kubernetesio x guidelines
  communication/kubernetesio-x-guidelines.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/community-management

#8105 archive zarf-dev slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#7866 you can now add your sig's shared calendar explicitly in sigs.yaml
  archive/wg-api-expression/README.md
  committee-steering/README.md
  generator/app.go
  generator/committee_readme.tmpl
  generator/list.tmpl
  generator/sig_readme.tmpl
  generator/wg_readme.tmpl
  sig-api-machinery/README.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-auth/README.md
  sig-autoscaling/README.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-contributor-experience/README.md
  sig-docs/README.md
  sig-etcd/README.md
  sig-instrumentation/README.md
  sig-k8s-infra/README.md
  sig-list.md
  sig-multicluster/README.md
  sig-network/README.md
  sig-node/README.md
  sig-release/README.md
  sig-scalability/README.md
  sig-scheduling/README.md
  sig-security/README.md
  sig-storage/README.md
  sig-testing/README.md
  sig-windows/README.md
  sigs.yaml
  wg-batch/README.md
  wg-data-protection/README.md
  wg-device-management/README.md
  wg-etcd-operator/README.md
  wg-lts/README.md
  wg-policy/README.md
  wg-serving/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/api-machinery, sig/apps, sig/architecture, sig/auth, sig/autoscaling, sig/cli, sig/cluster-lifecycle, sig/contributor-experience, sig/docs, sig/multicluster, sig/instrumentation, sig/network, sig/node, sig/release, sig/scalability, sig/scheduling, sig/storage, sig/testing, sig/ui, sig/windows, size/L, committee/steering, sig/cloud-provider, wg/policy, wg/api-expression, sig/security, sig/k8s-infra, wg/data-protection, sig/etcd, wg/serving

#8108 Update affiliation for ameukam
  sig-k8s-infra/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S, sig/k8s-infra

#8110 Adding Past Designs
  events/art-assets/README.md
  events/art-assets/award-designs/2022-detroit-k8s-contributor-awards-LowRes.png
  events/art-assets/award-designs/ChopPizzaCarryBoxes_Box_Award_LowRes.png
  events/art-assets/event-logos/10YearAnniversaryBack_LowRes.png
  events/art-assets/event-logos/10YearAnniversary_LowRes.png
  events/art-assets/event-logos/2016_NA_Seattle_Pixelated_LowRes.png
  events/art-assets/event-logos/2017_EU_Berlin_splatter_LowRes.png
  events/art-assets/event-logos/2017_LeadershipSummit_Brushstrokes_LowRes.png
  events/art-assets/event-logos/2017_NA_Austin_LineArt_LowRes.png
  events/art-assets/event-logos/2018_NA_Seattle_Halftone_LowRes.png
  events/art-assets/event-logos/2018_Shanghai_Dragon_LowRes.png
  events/art-assets/event-logos/2019_EU_Barcelona_Miro_LowRes.png
  events/art-assets/event-logos/2019_NA_SanDiego_ArtDeco_LowRes.png
  events/art-assets/event-logos/2019_Shanghai_PearlTower_LowRes.png
  events/art-assets/event-logos/2021_Unused_LosAngeles_HollywoodHills_LowRes.png
  events/art-assets/event-logos/2023_EU_Amsterdam_StarryNight_LowRes.png
  events/art-assets/event-logos/2024_EU_Paris_Cityscape_LowRes.png
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M

#8115 Moving AvineshTripathi to emeritus
  communication/contributor-comms/OWNERS
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, tide/merge-method-squash, area/contributor-comms

#8116 Updating contributor-comms team members
  communication/slack-config/usergroups.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, tide/merge-method-squash, area/slack-management

#8113 update wg-batch to move Kevin to organizer and adding aldo to emeritus
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-batch/README.md
Labels: lgtm, cncf-cla: yes, approved, size/S

#7967 SIG-Network: Add Subproject Leads responsibilities
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/M

#8111 Add room proctor instructions
  events/events-team/operations/mainroom-room-proctor.md
  events/events-team/operations/presentation-session-room-proctor.md
  events/events-team/operations/sig-meeting-room-proctor.md
  events/events-team/operations/unconference-room-proctor.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M

#8106 sig-cl: change ML to kubernetes.io
  archive/wg-kubeadm-adoption/README.md
  sig-cluster-lifecycle/CONTRIBUTING.md
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/L

#8109 Clarify cherry-pick candidates
  contributors/devel/sig-release/cherry-picks.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/release, size/M, area/developer-guide

#8087 Update feature gate documentation for compatibility version
  contributors/devel/sig-architecture/feature-gates.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, sig/contributor-experience, size/L, area/developer-guide

#8131 Update feature gate documentation for compatibility version - fixups
  contributors/devel/sig-architecture/feature-gates.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, sig/contributor-experience, size/XS, area/developer-guide

#8088 sig-cluster-lifecycle: add karpenter-provider-cluster-api repo
  sig-cluster-lifecycle/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/XS

#8093 sig-cl: remove nested CAPI provider subproject
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/S

#8132 Remove myself from sig-scalability README.md
  sig-scalability/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/scalability, size/XS

#8099 Update cluster-api-provider-ibmcloud meeting zoom link, time and notes document link
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/S
