Repository kubernetes/community, pull requests merged in 2025-06, with the labels that each got.

#8480 explain that GA features must be disableable if it is the first release they are default-on
  contributors/devel/sig-architecture/feature-gates.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, sig/contributor-experience, size/XS, area/developer-guide

#8472 update doc link; add period
  contributors/devel/sig-node/kubelet-cri-networking.md
Labels: lgtm, cncf-cla: yes, approved, needs-ok-to-test, sig/contributor-experience, sig/node, size/XS, area/developer-guide

#8479 Update sig-etcd leads
  OWNERS_ALIASES
  sig-etcd/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S, sig/etcd

#8482 fix sanposhiho's company affiliation
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/S

#8491 Add FAQ for changes to Slack.
  communication/slack-migration-faq.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, area/community-management

#8495 Add backup instructions for private channels from Slack
  communication/slack-backup/README.md
  communication/slack-backup/channelid1.jpeg
  communication/slack-backup/channelid2.jpeg
  communication/slack-backup/channelid3.jpeg
  communication/slack-backup/channelid4.jpeg
  communication/slack-backup/cookielogin.jpeg
  communication/slack-backup/createcredential.jpeg
  communication/slack-backup/export.png
  communication/slack-backup/exportdata1.jpeg
  communication/slack-backup/exportdata2.jpeg
  communication/slack-backup/getcookie.jpeg
  communication/slack-backup/login.jpeg
  communication/slack-backup/runwizard.jpeg
  communication/slack-migration-faq.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, area/community-management, area/slack-management

#8499 slack-config: added channel sig-node-wranglers
  communication/slack-config/sig-node/config.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/node, size/XS, area/community-management, area/slack-management

#8500 Update the information on Slack.
  communication/slack-migration-faq.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#8501 Fix SIG scheduling's contribution charter link
  sig-scheduling/CONTRIBUTING.md
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/XS

#8496 Change Gateway API EMEA meeting to bi-weekly
  sig-list.md
  sig-network/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/network, size/XS
