Repository kubernetes/community, pull requests merged in 2025-07, with the labels that each got.

#8510 fix: update Release Notes Handbook link to correct URL
  contributors/guide/release-notes.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide, ok-to-test

#8512 Fix link to large-or-automatic-edits
  contributors/guide/pull-requests.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide

#8471 sig-api-machinery: add crdify subproject
  sig-api-machinery/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/api-machinery, size/XS

#8505 Update sig-instrumentation zoom invite link
  sig-instrumentation/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/S

#8518 Minor update to move GSoD to discontinued section
  mentoring/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/mentorship-planning, ok-to-test

#8523 Fix: broken GitHub project board links in triage
  contributors/guide/issue-triage.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/contributor-guide, ok-to-test

#8525 root OWNERS: match charter.md case-insensitive, require steering instead of only labeling
  OWNERS
Labels: lgtm, cncf-cla: yes, approved, size/XS, committee/steering

#8528 Fixing my email in Node Lifecycle WG Chairs
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS

#8532 Add WG AI Conformance Slack Channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management
