Repository kubernetes/community, pull requests merged in 2025-04, with the labels that each got.

#8405 charter for CI testing subgroup of SIG Node
  sig-node/CONTRIBUTING.md
  sig-node/README.md
  sig-node/sig-node-ci-testing-group-charter.md
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/L, committee/steering

#8410 sig-ui: Add headlamp subproject
  sig-ui/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/ui, size/XS

#8306 sig-contribex: update 2024 annual report
  sig-contributor-experience/annual-report-2024.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, tide/merge-method-squash, area/annual-reports

#8336 SIG Docs Annual Report 2024
  sig-docs/annual-report-2024.md
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/M, tide/merge-method-squash, area/annual-reports

#8288 add: SIG-Scheduling annual report
  sig-scheduling/annual-report-2024.md
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/M, tide/merge-method-squash, area/annual-reports

#8338 wg-device-management: annual report 2024
  sig-list.md
  sigs.yaml
  wg-device-management/README.md
  wg-device-management/annual-report-2024.md
Labels: lgtm, cncf-cla: yes, approved, size/M, area/annual-reports

#8412 Add slack channel for API Machinery dev tools
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#8324 SIG Windows Annual report 2024
  sig-windows/annual-report-2024.md
Labels: lgtm, cncf-cla: yes, approved, sig/windows, size/M, area/annual-reports

#8339 2024 SIG etcd annual report
  sig-etcd/annual-report-2024.md
Labels: lgtm, cncf-cla: yes, approved, size/M, area/annual-reports, sig/etcd

#8414 Add maintainer-tools subproject
  sig-architecture/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/XS

#8398 sig-auth: add subproject leads for secrets-store (csi driver and sync-controller)
  sig-auth/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/auth, size/S

#8400 Update puerco's affiliation
  sig-release/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/XS

#8406 renaming google groups
  contributors/devel/sig-node/container-runtime-interface.md
  sig-list.md
  sig-node/CONTRIBUTING.md
  sig-node/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/node, size/S, area/developer-guide

#8415 api-machinery: add kube-api-linter subproject
  sig-api-machinery/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/api-machinery, size/XS

#8387 Update generator owners
  generator/OWNERS
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#8402 Add ivanvc to sig-etcd-leads
  OWNERS_ALIASES
  sig-etcd/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, sig/etcd

#8393 Sunset SIG Security Self-Assessments subproject
  sig-security/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S, sig/security

#8251 Update OWNERS for k/community
  OWNERS
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#8308 List the best practices on configuring staging repo
  contributors/devel/sig-architecture/staging.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, sig/contributor-experience, size/XS, area/developer-guide

#8319 add link to contributor awards site
  events/awards/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S

#8388 move 1:1 hour to discontinued activities under mentoring subproject
  mentoring/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/mentorship-planning

#8416 drop defunct tools references from sig testing charter
  sig-testing/charter.md
Labels: lgtm, cncf-cla: yes, approved, kind/cleanup, sig/testing, size/XS, committee/steering

#8392 Remove add gnu bins to path
  contributors/devel/development.md
Labels: lgtm, cncf-cla: yes, approved, needs-ok-to-test, sig/contributor-experience, size/S, area/developer-guide

#8422 add missing emails for code of conduct committee
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS

#8424 add wg-policy lead emails
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS

#8426 Uploading April NCO slides
  mentoring/new-contributor-orientation/nco-slides/[April 2025] New Contributor Orientation.pdf
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, tide/merge-method-squash, area/mentorship-planning

#8418 add sig ui lead emails
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS

#8419 add missing sig-testing lead email
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS

#8420 add missing sig windows emails
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS

#8423 add missing sig-k8s-infra email
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS

#8425 add missing wg-data-protection email
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS

#8397 correct guidance for building e2e.test with debug symbols
  contributors/devel/sig-testing/e2e-tests.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/testing, size/XS, tide/merge-method-squash, area/developer-guide

#8332 SIG k8s Infra 2024 annual report
  sig-k8s-infra/annual-report-2024.md
Labels: lgtm, cncf-cla: yes, approved, size/M, sig/k8s-infra, area/annual-reports

#8421 fix validation for company affiliation and email must be set for leads
  generator/app.go
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S

#8427 Archive kubernetes-sigs/pspmigrator and kubernetes-sigs/hierarchical-namespaces
  sig-auth/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/auth, size/S

#8436 delete defunct godeps docs
  contributors/devel/sig-architecture/godep.md
Labels: lgtm, cncf-cla: yes, approved, kind/cleanup, sig/architecture, sig/contributor-experience, size/L, area/developer-guide

#8435 WG Batch: clarify regular meeting details
  sig-list.md
  sigs.yaml
  wg-batch/README.md
Labels: lgtm, cncf-cla: yes, approved, size/S

#8433 Fixed link to SIG Node CI charter doc
  sig-node/CONTRIBUTING.md
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/XS

#8430 SIG Scheduling: Leadership Change
  OWNERS_ALIASES
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/M

#8434 Fix [issues] link in `sig-cli/CONTRIBUTING.md`
  sig-cli/CONTRIBUTING.md
Labels: lgtm, cncf-cla: yes, approved, sig/cli, size/XS, ok-to-test

#8440 fix: update the mailing list of sig-scheduling
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/XS

#8438 SIG Architecture 2024 annual report
  sig-architecture/annual-report-2024.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, size/S, area/annual-reports

#8446 Updating meeting time for SIG ContribEx
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS
