Repository kubernetes/community, pull requests merged in 2025-05, with the labels that each got.

#8450 wg-serving: change meeting frequency to biweekly
  sig-list.md
  sigs.yaml
  wg-serving/README.md
Labels: lgtm, cncf-cla: yes, approved, size/XS, wg/serving

#8455 [tempelis] add slack member id for gh user natherz97
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#8458 Adding Joel Speed
  OWNERS_ALIASES
  sig-cloud-provider/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS, sig/cloud-provider

#8447 relax help-wanted guidelines
  contributors/guide/help-wanted.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, do-not-merge/hold, area/contributor-guide

#8453 new: add kubetail and its usergroup
  communication/slack-config/channels.yaml
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, area/community-management, ok-to-test, area/slack-management

#8461 Remove Taylor Dolezal from moderators and administrators lists
  communication/moderators.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management

#8464 sig-cl: update neolit123's affiliation
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/XS

#8463 Update steering readme
  committee-steering/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S, committee/steering

#8468 Describe ratcheting validation
  contributors/devel/sig-architecture/api_changes.md
Labels: lgtm, cncf-cla: yes, approved, sig/architecture, sig/contributor-experience, size/M, area/developer-guide

#8465 Create #inference-perf slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#8451 pull-requests.md: add guidance for large and/or automatic edits
  contributors/guide/pull-requests.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/M, area/contributor-guide

#8460 Add permissions for v1.34 release team leads and subteam leads
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/users.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/release, size/M, area/community-management, area/slack-management
