Repository kubernetes/community, pull requests merged in 2025-02, with the labels that each got.

#8305 remove critest page from community repository
  contributors/devel/README.md
  contributors/devel/sig-node/cri-validation.md
  sig-node/charter.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, sig/node, size/M, committee/steering, area/developer-guide

#8307 Add Mario Fahlandt as Co-Chair to Contributor Experience
  OWNERS_ALIASES
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS

#7861 SIG-MC 2023 annual report update
  sig-multicluster/annual-report-2023.md
Labels: lgtm, cncf-cla: yes, approved, sig/multicluster, size/M, lifecycle/rotten, area/annual-reports

#8314 Code of Conduct elections 2025
  committee-code-of-conduct/README.md
  elections/code-of-conduct/2025/README.md
  elections/code-of-conduct/2025/candidate-divya-mohan0209.md
  elections/code-of-conduct/2025/candidate-endocrimes.md
  elections/code-of-conduct/2025/candidate-sreeram-venkitesh.md
  elections/code-of-conduct/2025/candidate-stmcginnis.md
  elections/code-of-conduct/2025/candidate-swatisehgal.md
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/docs, size/M, committee/steering

#8238 naming guidelines
  committee-steering/governance/project-naming.md
  github-management/kubernetes-repositories.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/S, committee/steering, area/github-management

#8222 Update SIG Testing leads and subproject leads.
  OWNERS_ALIASES
  sig-testing/OWNERS
  sig-testing/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/testing, size/M

#8193 k8s-infra: Update Mailing list
  sig-k8s-infra/README.md
  sig-list.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/M, sig/k8s-infra

#8325 sig-k8s-infra: Update mailing list
  sig-k8s-infra/README.md
  sig-k8s-infra/charter.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/S, committee/steering, sig/k8s-infra

#8286 Add sig-cli annual report for 2024
  sig-cli/annual-report-2024.md
Labels: lgtm, cncf-cla: yes, approved, sig/cli, size/M, area/annual-reports

#8329 Add sig-inst meeting recordings link
  sig-instrumentation/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/XS

#8333 Fix the email address for mimowo
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, size/XS

#8315 add: new asia/europe biweekly meetings for sig-scheduling
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/scheduling, size/S

#8312 make sig-architecture-approvers to be approvers of devel
  OWNERS_ALIASES
  contributors/devel/OWNERS
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/developer-guide

#8337 wg-structured-logging: annual report 2024
  wg-structured-logging/annual-report-2024.md
Labels: lgtm, cncf-cla: yes, approved, size/M, area/annual-reports

#8295 Adding a #gateway-api-inference-extension Slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#8296 WG-Etcd Operator annual report
  sig-etcd/README.md
  sigs.yaml
  wg-etcd-operator/README.md
  wg-etcd-operator/annual-report-2024.md
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/M, tide/merge-method-squash, area/annual-reports, sig/etcd

#8287 annual report for wg-batch 2024
  wg-batch/annual-report-2024.md
Labels: lgtm, cncf-cla: yes, approved, size/L, area/annual-reports

#8331 Add the 2024 SIG-Multicluster report
  sig-multicluster/README.md
  sig-multicluster/annual-report-2024.md
Labels: lgtm, cncf-cla: yes, approved, sig/multicluster, size/L, area/annual-reports

#8334 SIG Apps Annual Report 2024
  sig-apps/annual-report-2024.md
Labels: lgtm, cncf-cla: yes, approved, sig/apps, size/M, area/annual-reports

#8302 2024 Annual Report: SIG Cluster Lifecycle
  sig-cluster-lifecycle/annual-report-2024.md
Labels: lgtm, cncf-cla: yes, approved, sig/cluster-lifecycle, size/M, area/annual-reports

#8328 Add zpages as subproject under sig-instrumentation
  sig-instrumentation/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/XS

#8342 elections/cocc: Add 2025 election results
  elections/code-of-conduct/2025/ballots.csv
  elections/code-of-conduct/2025/results.md
Labels: lgtm, cncf-cla: yes, approved, size/S, committee/steering

#8351 Update Stephen Augustus affiliation
  committee-steering/README.md
  sig-list.md
  sig-release/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/S, committee/steering

#8250 Updated the weekly ci triage meeting zoom link.
  sig-list.md
  sig-node/README.md
  sigs.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/XS, ok-to-test, tide/merge-method-merge

#8349 Add Spegel Slack channel
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, ok-to-test, area/slack-management

#8346 add ingate channels
  communication/slack-config/channels.yaml
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/XS, area/community-management, area/slack-management

#8340 SIG Release Annual Report 2024
  sig-release/annual-report-2024.md
Labels: lgtm, cncf-cla: yes, approved, sig/release, size/S, area/annual-reports

#8327 Annual Report for SIG Instrumentation 2024
  sig-instrumentation/annual-report-2024.md
Labels: lgtm, cncf-cla: yes, approved, sig/instrumentation, size/M, area/annual-reports

#7961 Update KCS Comms Team Handbook
  events/events-team/comms/README.md
Labels: lgtm, cncf-cla: yes, approved, sig/contributor-experience, size/L, lifecycle/stale

#8244 Archive SIG Node meeting notes and ci subgroup notes.
  sig-node/archive/ci-subgroup-notes-2020.md
  sig-node/archive/ci-subgroup-notes-2021.md
  sig-node/archive/ci-subgroup-notes-2022.md
  sig-node/archive/ci-subgroup-notes-2023.md
  sig-node/archive/ci-subgroup-notes-2024.md
  sig-node/archive/ci-subgroup-notes-2025.md
  sig-node/archive/meeting-notes-2024.md
  sig-node/archive/meeting-notes-2025.md
Labels: lgtm, cncf-cla: yes, approved, sig/node, size/XXL, ok-to-test
